<template>
  <div>
    <dt class="editable">
      {{ text }}
      <span class="actions">
        <font-awesome-icon
            :id="`icon-edit-${formKey}`"
            v-if="!editableProp"
            icon="pencil-alt" size="xs"
            @click="toggleEditable(value)" />
        <font-awesome-icon
            :id="`icon-cancel-${formKey}`"
            v-if="editableProp"
            icon="times" size="xs"
            @click="toggleEditable(value)" />
      </span>
    </dt>
    <!-- Single text for most cases -->
    <dd v-if="!editableProp
          && !['bloodUnits', 'healthcare', 'invoice', 'cheque', 'access'].includes(inputType)">
      {{ stringValue }}
    </dd>
    <!-- For healthcare -->
    <dd v-else-if="!editableProp && inputType === 'healthcare'">
      <ul>
        <li>{{ stringValue }}</li>
        <li>{{ value[1] || '-' }}</li>
      </ul>
    </dd>
    <!-- For billing invoice -->
    <dd v-else-if="!editableProp && inputType === 'invoice'">
      <ul>
        <li>Numero: {{ value[0] || '-' }}</li>
        <li>Fecha: {{ value[1] || '-' }}</li>
      </ul>
    </dd>
    <!-- For billing cheque -->
    <dd v-else-if="!editableProp && inputType === 'cheque'">
      <ul>
        <li>Numero: {{ value[0] || '-' }}</li>
        <li>Fecha: {{ value[1] || '-' }}</li>
        <li>Monto: {{ value[2] || '-' }}</li>
      </ul>
    </dd>
    <!-- For access rights -->
    <dd v-else-if="!editableProp && inputType === 'access'">
      <ul>
        <li v-if="value[0]">Facturacion</li>
        <li v-if="value[1]">Configuracion</li>
      </ul>
    </dd>
    <!-- For blood units -->
    <dd v-else-if="!editableProp && inputType === 'bloodUnits'">
      <b-row>
        <b-col>
          <h6>Globulos Rojos Desplasmatizados</h6>
          <ul>
            <li v-if="transfusionUnits.GRD.length === 0">
              No se reservaron unidades de GRD
            </li>
            <li v-for="(unit) in transfusionUnits.GRD" :key="unit.id">
              {{ unit.units }} ({{ unit.blood_type }})
            </li>
          </ul>
        </b-col>
        <b-col>
          <h6>Plasma Fresco</h6>
          <ul>
            <li v-if="transfusionUnits.PF.length === 0">
              No se reservaron unidades de PF
            </li>
            <li v-for="(unit) in transfusionUnits.PF" :key="unit.id">
              {{ unit.units }} ({{ unit.blood_type }})
            </li>
          </ul>
        </b-col>
        <b-col>
          <h6>Plaquetas</h6>
          <ul>
            <li v-if="transfusionUnits.platelets.length === 0">
              No se reservaron unidades de Plaquetas
            </li>
            <li v-for="(unit) in transfusionUnits.platelets" :key="unit.id">
              {{ unit.units }} ({{ unit.blood_type }})
            </li>
          </ul>
        </b-col>
      </b-row>
    </dd>
    <!-- Password -->
    <dd v-else-if="inputType === 'password'">
      <b-form-group id="input-group-password-1" label="Clave" label-for="input-password-1">
        <b-form-input
          id="input-password-1"
          type="password"
          v-model="newValue[0]"
          required
          placeholder="Clave" />
      </b-form-group>
      <b-form-group id="input-group-password-2" label="Confirmar" label-for="input-password-2">
        <b-form-input
          id="input-password-2"
          type="password"
          v-model="newValue[1]"
          required
          placeholder="Confirmar clave" />
      </b-form-group>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Checkbox -->
    <dd v-else-if="inputType === 'checkbox'">
      <b-form-checkbox
          v-model="newValue" :id="`checkbox-${formKey}`" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Date picker -->
    <dd v-else-if="inputType === 'date'">
      <DatePicker
          :defaultValue="value"
          v-on:select-date="newValue = $event" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Bloog Type -->
    <dd v-else-if="inputType === 'bloodType'">
      <BloodTypesDropDown
          id="input-blood-type"
          :defaultValue="value"
          v-on:select-blood-type="newValue = $event" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Establishment -->
    <dd v-else-if="inputType === 'establishment'">
      <EstablishmentsDropDown
          id="input-establishment"
          :defaultValue="value"
          v-on:select-establishment-type="newValue = $event" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Location -->
    <dd v-else-if="inputType === 'location'">
      <LocationsDropDown
          :id="`input-${formKey}`"
          v-on:select-location="newValue = $event" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Gender -->
    <dd v-else-if="inputType === 'gender'">
      <b-form-radio id="radio-gender-male" v-model="newValue" name="gender" value="M">
        Masculino
      </b-form-radio>
      <b-form-radio id="radio-gender-female" v-model="newValue" name="gender" value="F">
        Femenino
      </b-form-radio>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Full name -->
    <dd v-else-if="inputType === 'fullName'">
      <b-form-input
        id="input-first-name"
        v-model="newValue[0]"
        required
        placeholder="Nombre" />
      <b-form-input
        id="input-last-name"
        v-model="newValue[1]"
        required
        placeholder="Apellido" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Healthcare -->
    <dd v-else-if="inputType === 'healthcare'">
      <HealthcaresDropDown
          id="input-healthcare"
          :defaultValue="value[0]"
          v-on:select-healthcare="newValue[0] = $event" />
      <!-- Healthcare number -->
      <b-form-input
        id="input-healthcare-number"
        v-model="newValue[1]"
        placeholder="Num. Afiliado" />
      <!-- Correct everything -->
      <b-form-checkbox-group v-model="newValue[2]" id="checkbox-correct">
        <b-form-checkbox value="that">Corregir Todo</b-form-checkbox>
      </b-form-checkbox-group>
      <b-alert show variant="info">
        <font-awesome-icon icon="exclamation-triangle" />
        Corregir Todo cambia la obra social del paciente en todas las prestaciones y
          pedidos que tiene cargado. Si no se marca esta casilla, el cambio de
          obra social solo afecta a las nuevas prestaciones y pedidos que se carguen.
      </b-alert>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Staying Type -->
    <dd v-else-if="inputType === 'stayingType'">
      <StayingTypeSelect
          id="input-staying-type"
          :defaultValue="value[0]"
          :defaultRoomValue="value[1]"
          v-on:select-staying-type="newValue[0] = $event"
          v-on:select-room="newValue[1] = $event" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Medical study -->
    <dd v-else-if="inputType === 'medicalStudy'">
      <MedicalStudySelect
          v-model="newValue"
          :defaultValue="value"
          :medicalStudiesProp="medicalStudies" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Appointment status -->
    <dd v-else-if="inputType === 'appointmentStatus'">
      <b-form-select id="form-select-medical-study"
        v-model="newValue"
        :options="['Pendiente', 'Atendido', 'Ausente']" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Appointment time -->
    <dd v-else-if="inputType === 'appointmentTime'">
      <b-row>
        <b-col>
          <DatePicker
              :defaultValue="value"
              v-on:select-date="newValue[0] = $event" />
        </b-col>
        <b-col>
          <b-form-select id="form-select-medical-study"
            v-model="newValue[1]"
            :options="appointmentTimes" />
        </b-col>
      </b-row>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Invoice -->
    <dd v-else-if="inputType === 'invoice'">
      <b-form-group id="input-group-invoice-number" label="Numero" label-for="input-invoice-number">
        <b-form-input
          id="input-inovice-number"
          v-model="newValue[0]"
          placeholder="Numero" />
      </b-form-group>
      <b-form-group id="input-group-invoice-date" label="Fecha" label-for="input-invoice-date">
        <DatePicker
            id="input-invoice-date"
            :defaultValue="value[1]"
            v-on:select-date="newValue[1] = $event" />
      </b-form-group>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Cheque -->
    <dd v-else-if="inputType === 'cheque'">
      <b-form-group id="input-group-cheque-number" label="Numero" label-for="input-cheque-number">
        <b-form-input
          id="input-inovice-number"
          v-model="newValue[0]"
          placeholder="Numero" />
      </b-form-group>
      <b-form-group id="input-group-cheque-date" label="Fecha" label-for="input-cheque-date">
        <DatePicker
            id="input-cheque-date"
            :defaultValue="value[1]"
            v-on:select-date="newValue[1] = $event" />
      </b-form-group>
      <b-form-group id="input-group-cheque-amount" label="Monto" label-for="input-cheque-amount">
        <b-form-input
          id="input-inovice-amount"
          v-model="newValue[2]"
          placeholder="Monto" />
      </b-form-group>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Debits -->
    <dd v-else-if="inputType === 'debits'">
      <b-form-textarea
          id="textarea-debits"
          v-model="newValue"
          placeholder="Debitos"
          rows="3"
          max-rows="6" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    <!-- Access rights -->
    <dd v-else-if="inputType === 'access'">
      <b-form-checkbox
          v-model="newValue[0]" id="checkbox-facturacion">
        Facturacion
      </b-form-checkbox>
      <b-form-checkbox
          v-model="newValue[1]" id="checkbox-configuracion">
        Configuracion
      </b-form-checkbox>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Blood units -->
    <dd v-else-if="inputType === 'bloodUnits'">
      <b-row>
        <b-col>
          <div>
            <h5>Globulos Rojos Desplasmatizados</h5>
            <BloodUnitSpinner
                id="blood-unit-spinner-GRD"
                :defaultValue="value[0]"
                :unitsProp="transfusionUnits.GRD"
                v-on:change-blood-units="transfusionUnits.GRD = $event" />
          </div>
        </b-col>

        <b-col>
          <div>
            <h5>Plasma Fresco</h5>
            <BloodUnitSpinner
                id="blood-unit-spinner-PF"
                :defaultValue="value[0]"
                :unitsProp="transfusionUnits.PF"
                v-on:change-blood-units="transfusionUnits.PF = $event" />
          </div>
        </b-col>

        <b-col>
          <div>
            <h5>Plaquetas</h5>
            <BloodUnitSpinner
                id="blood-unit-spinner-platelets"
                :defaultValue="value[0]"
                :unitsProp="transfusionUnits.platelets"
                v-on:change-blood-units="transfusionUnits.platelets = $event" />
          </div>
        </b-col>
      </b-row>
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
    <!-- Input text -->
    <dd v-else>
      <b-form-input
        :id="`input-${formKey}`"
        v-model="newValue"
        required
        :placeholder="text" />
      <b-button size="sm" variant="success" @click="saveChange(formKey)">
        Guardar
      </b-button>
    </dd>
  </div>
</template>

<script lang="ts">
import {
  Component, Vue, Prop,
} from 'vue-property-decorator';

import MedicalStudiesService from '../../services/MedicalStudiesService';

import DatePicker from '../DatePicker.vue';
import BloodTypesDropDown from '../BloodTypesDropDown.vue';
import EstablishmentsDropDown from '../DropDowns/EstablishmentsDropDown.vue';
import StayingTypeSelect from '../DropDowns/StayingTypeSelect.vue';
import BloodUnitSpinner from '../DropDowns/BloodUnitSpinner.vue';
import MedicalStudySelect from '../DropDowns/MedicalStudySelect.vue';
import LocationsDropDown from '../DropDowns/LocationsDropDown.vue';
import HealthcaresDropDown from '../HealthcaresDropDown.vue';

@Component({
  components: {
    DatePicker,
    BloodTypesDropDown,
    EstablishmentsDropDown,
    StayingTypeSelect,
    BloodUnitSpinner,
    MedicalStudySelect,
    LocationsDropDown,
    HealthcaresDropDown,
  },
})
export default class EditableDtInputText extends Vue {
  @Prop() private text!: string;

  @Prop() private value!: string | Array<string>;

  @Prop() private editable!: boolean;

  @Prop() private formKey!: string;

  @Prop() private inputType!: string;

  @Prop() private transfusionUnits!: {};

  @Prop() private medicalStudyDescription!: string;

  @Prop() private healthcareName!: string;

  @Prop() private selectOptions!: string[];

  private newValue!: string | Array<string>;

  private stringValue: string | Array<string> = '';

  private editableProp = false;

  // Store a list of medical studies to use in a <select>
  private medicalStudies: { value: number | null; text: string; disabled?: boolean }[] = [];

  // List of times
  private appointmentTimes: string[] = [];

  async created() {
    if (this.value !== undefined || this.inputType === 'debits') {
      this.newValue = this.value;

      // Get medical studies
      if (this.inputType === 'medicalStudy') {
        this.medicalStudies = await EditableDtInputText.getMedicalStudies();
      }

      // Get times
      if (this.inputType === 'appointmentTime') {
        // this.appointmentTimes = ['Sobreturno', '08:00', '08:20', '08:40', '09:00', '09:20'];
        this.appointmentTimes = this.selectOptions;
      }

      // Map values
      this.stringValue = this.mapValueToDisplayText(this.newValue);
    }
  }

  private static async getMedicalStudies() {
    // Get options
    const response = await MedicalStudiesService.get();

    const data = JSON.parse(response.data.data);

    const medicalStudies: { value: number | null; text: string; disabled?: boolean }[] = [];

    // Add "Other" option
    medicalStudies.push({ value: 0, text: 'Otro...' });
    medicalStudies.push({ value: null, text: '-----------------', disabled: true });

    for (let i = 0; i < data.length; i += 1) {
      medicalStudies.push({ value: data[i].id, text: data[i].description });
    }

    return medicalStudies;
  }

  private toggleEditable(key: string) {
    // this.editableProp = editable;
    this.editableProp = !this.editableProp;
    this.$emit('toggle-editable', key);
  }

  // Edit medical study
  private async saveChange(key: string) {
    this.editableProp = false;

    const updatePayload: {
      staying_type?: string;
      room?: string;
      date?: string;
      time?: string;
      firstName?: string;
      lastName?: string;
      healthcare_id?: string;
      healthcareNumber?: string;
      invoice_number?: string;
      invoice_date?: string;
      cheque_number?: string;
      cheque_date?: string;
      cheque_amount?: string;
      debits?: string;
      billing_access?: string;
      config_access?: string;
      password?: string;
      c_password?: string;
    } = {};

    if (key === 'staying_type') {
      // Emit staying type and room
      if (this.newValue[0]) {
        [updatePayload[key]] = this.newValue;
      }

      if (this.newValue[1] && this.newValue[0] === 'Internado') {
        [, updatePayload.room] = this.newValue;
      }
    } else if (key === 'medicalStudy') {
      const newValueKey = Object.keys(this.newValue)[0];
      updatePayload[newValueKey] = this.newValue[newValueKey];
    } else if (key === 'date' && this.inputType === 'appointmentTime') {
      [updatePayload.date, updatePayload.time] = this.newValue;
    } else if (key === 'transfusionUnits') {
      updatePayload[key] = this.newValue;
    } else if (key === 'full_name') {
      [updatePayload.firstName, updatePayload.lastName] = this.newValue;
    } else if (key === 'healthcare') {
      [updatePayload.healthcare_id, updatePayload.healthcareNumber] = this.newValue;
    } else if (key === 'invoice') {
      [updatePayload.invoice_number, updatePayload.invoice_date] = this.newValue;
    } else if (key === 'password') {
      [updatePayload.password, updatePayload.c_password] = this.newValue;
    } else if (key === 'access') {
      [updatePayload.billing_access, updatePayload.config_access] = this.newValue;
    } else if (key === 'cheque') {
      [
        updatePayload.cheque_number,
        updatePayload.cheque_date,
        updatePayload.cheque_amount,
      ] = this.newValue;
    } else if (key === 'debit') {
      [updatePayload.debits] = this.newValue;
    } else {
      updatePayload[key] = this.newValue;
    }

    this.$emit('update-value', updatePayload);
  }

  private mapValueToDisplayText(value: string | Array<string>): string | Array<string> {
    if (value === null || value === undefined || value === '') {
      return '-';
    }

    // Full name
    if (this.inputType === 'fullName') {
      return `${value[1]}, ${value[0]}`;
    }

    // Map yes/no
    if (this.inputType === 'checkbox') {
      return value ? 'Si' : 'No';
    }

    // Date and time
    if (this.inputType === 'appointmentTime') {
      return `${value[0]} ${value[1]}`;
    }

    // Staying type has type and room
    if (this.inputType === 'stayingType') {
      if (value[0] === 'Internado') {
        return `${value[0]} (Sala: ${value[1] || '-'})`;
      }

      return value[0];
    }

    // Healthcare
    if (this.inputType === 'healthcare') {
      if (this.healthcareName) {
        return this.healthcareName;
      }
    }

    // Access rights
    if (this.inputType === 'access') {
      return value;
    }

    // Medical study
    if (this.inputType === 'medicalStudy') {
      if (this.medicalStudyDescription) {
        return this.medicalStudyDescription;
      }

      const medicalStudyId: number = parseInt(this.value.toString(), 10);
      const medicalStudy = this.medicalStudies
        .find((obj) => obj.value === medicalStudyId);

      if (medicalStudy) {
        return medicalStudy.text;
      }

      return '-';
    }

    // It should be a string anyway
    return value.toString();
  }
}
</script>
