<template>
  <b-modal
      id="add-diagnosis-modal" title="Agregar Diagnostico"
      ok-title="Agregar" cancel-title="Cancelar"
      @ok="addDiagnosis"
      :ok-disabled="newDiagnosis === 0">
    <b-container fluid>
      <b-row>
        <b-col>
          <label for="payment-amount">Paciente</label>
          <b-form-input
            disabled
            v-model="patient" id="input-patient" />

          <label for="payment-date">Diagnostico</label>
          <DiagnosisDropDown
              id="input-diagnosis-other"
              v-on:select-diagnosis-obj="newDiagnosis = $event" />

          <router-link to="/icd10" target="_blank">
            Nomenclador ICD10
          </router-link>
        </b-col>
      </b-row>
     </b-container>
  </b-modal>
</template>

<script lang="ts">
import {
  Component, Vue, Prop,
} from 'vue-property-decorator';

import PatientsService from '../../services/PatientsService';

import DiagnosisDropDown from '../DropDowns/DiagnosisDropDown.vue';

interface Payment {
  amount: number;
  date: string;
}

@Component({
  components: {
    DiagnosisDropDown,
  },
})
export default class AddDiagnosisToPatientModal extends Vue {
  @Prop() private patient!: string;

  @Prop() private medicalServiceType!: string;

  private newPayment: Payment = { amount: 0, date: '' };

  private newDiagnosis = 0;

  private addDiagnosis() {
    this.$emit('added-diagnosis', this.newDiagnosis);
  }

  /*
  private async addPayment() {
    const response = await PaymentsService.add(
      this.medicalServiceId,
      this.medicalServiceType,
      this.newPayment,
    );

    if (!response) {
      // TODO. Handle error
      return false;
    }

    this.paymentAddedToast('El pago ha sido agregado');

    const newPaymentClone = JSON.parse(JSON.stringify(this.newPayment));

    this.$emit('added-payment', newPaymentClone);

    return true;
  }

  private paymentAddedToast(message: string) {
    this.$bvToast.toast(message, {
      title: 'Pago agregado',
      variant: 'success',
      solid: true,
    });
  }
  */
}
</script>
