<template>
  <b-modal
      id="add-payment-modal" title="Agregar Pago"
      ok-title="Agregar" cancel-title="Cancelar"
      @ok="addPayment"
      :ok-disabled="!newPayment.amount || newPayment.amount <= 0 || !newPayment.date">
    <b-container fluid>
      <b-row>
        <b-col>
          <label for="payment-amount">Monto</label>
          <b-form-input v-model="newPayment.amount" id="payment-amount" type="number" />
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <label for="payment-date">Fecha</label>
          <DatePicker id="payment-date" v-on:select-date="newPayment.date = $event" />
        </b-col>
      </b-row>
     </b-container>
  </b-modal>
</template>

<script lang="ts">
import {
  Component, Vue, Prop,
} from 'vue-property-decorator';

import PaymentsService from '../../services/PaymentsService';

import DatePicker from '../DatePicker.vue';

interface Payment {
  amount: number;
  date: string;
}

@Component({
  components: {
    DatePicker,
  },
})
export default class AddPaymentModal extends Vue {
  @Prop() private medicalServiceId!: number;

  @Prop() private medicalServiceType!: string;

  private newPayment: Payment = { amount: 0, date: '' };

  private async addPayment() {
    const response = await PaymentsService.add(
      this.medicalServiceId,
      this.medicalServiceType,
      this.newPayment,
    );

    if (!response) {
      // TODO. Handle error
      return false;
    }

    this.paymentAddedToast('El pago ha sido agregado');

    const newPaymentClone = JSON.parse(JSON.stringify(this.newPayment));

    this.$emit('added-payment', newPaymentClone);

    return true;
  }

  private paymentAddedToast(message: string) {
    this.$bvToast.toast(message, {
      title: 'Pago agregado',
      variant: 'success',
      solid: true,
    });
  }
}
</script>
