<template>
  <b-modal
      id="delete-healthcare-modal" title="Borrar Obra Social"
      ok-title="Borrar Obra Social" cancel-title="Volver"
      size="lg"
      :ok-disabled="!deleteHealthcareCheckbox"
      @ok="deleteHealthcare" >
    <b-container fluid>
      <b-row>
        <b-col>
          <b-alert show variant="danger">
            Borrar una obra social tambien borra sus pedidos, practicas y periodos facturados.
             Los pacientes que tenian esta obra social pasan a ser particulares.
          </b-alert>
          <b-form-checkbox
              v-model="deleteHealthcareCheckbox" id="checkbox-merge-patients">
            Borrar Obra Social
          </b-form-checkbox>
        </b-col>
      </b-row>
     </b-container>
  </b-modal>
</template>

<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator';

import PatientsDropDown from '../PatientsDropDown.vue';

@Component({
  components: {
    PatientsDropDown,
  },
})
export default class DeleteHealthcareModal extends Vue {
  private deleteHealthcareCheckbox = false;

  created() {
    this.deleteHealthcareCheckbox = false;
  }

  private async deleteHealthcare() {
    // Emit value
    this.$emit('deleted-healthcare', true);

    // Clear selection
    this.deleteHealthcareCheckbox = false;
  }
}
</script>
