<template>
  <b-modal
      id="merge-patients-modal" title="Unificar Pacientes"
      ok-title="Unificar Pacientes" cancel-title="Volver"
      size="lg"
      :ok-disabled="!mergePatientsCheckbox || patient === 0"
      @ok="mergePatients" >
    <b-container fluid>
      <b-row>
        <b-col>
          <b-form-group id="form-group-patient" label="Paciente Destino" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                v-on:select-patient="patient = $event" />
          </b-form-group>
          <b-alert show variant="danger">
            Todas las prestaciones (Estudios, Consultas, etc) y
               Pedidos pasan al paciente de destino y este se borra.
            <br />
            <span style="font-weight: bold;">Esta accion no se puede deshacer.</span>
          </b-alert>
          <b-form-checkbox
              v-model="mergePatientsCheckbox" id="checkbox-merge-patients">
            Unificar Pacientes
          </b-form-checkbox>
        </b-col>
      </b-row>
     </b-container>
  </b-modal>
</template>

<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator';

import PatientsDropDown from '../PatientsDropDown.vue';

@Component({
  components: {
    PatientsDropDown,
  },
})
export default class ReScheduleAppointmentModal extends Vue {
  private mergePatientsCheckbox = false;

  private patient = 0;

  private created() {
    this.patient = 0;
    this.mergePatientsCheckbox = false;
  }

  private async mergePatients() {
    // Emit value
    this.$emit('merged-patient', this.patient);

    // Clear selection
    this.patient = 0;
    this.mergePatientsCheckbox = false;
  }
}
</script>
