<template>
  <b-modal
      id="re-schedule-appointment-modal" title="Reasignar Turno"
      ok-title="Guardar" cancel-title="Volver"
      @ok="reSchedulteAppointment" >
    <b-container fluid>
      <b-row>
        <b-col>
          <DatePicker
              :defaultValue="dateProp"
              v-on:select-date="date = $event" />
        </b-col>
        <b-col>
          <b-form-select id="form-select-medical-study"
            v-model="time"
            :options="appointmentTimes" />
        </b-col>
      </b-row>
     </b-container>
  </b-modal>
</template>

<script lang="ts">
import {
  Component, Prop, Vue,
} from 'vue-property-decorator';

import DatePicker from '../DatePicker.vue';

@Component({
  components: {
    DatePicker,
  },
})
export default class ReScheduleAppointmentModal extends Vue {
  @Prop() private appointmentTimes!: string[];

  @Prop() private dateProp!: string;

  @Prop() private timeProp!: string;

  private time!: string;

  private date!: string;

  async created() {
    if (this.timeProp) {
      this.time = this.timeProp;
    }
  }

  private async reSchedulteAppointment() {
    const updateBody = {
      time: this.time,
      date: this.date,
    };

    this.$emit('re-scheduled-appointment', updateBody);
  }
}
</script>
