<template>
  <table class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th style="width: 35%">Fecha</th>
        <th style="width: 60%">Monto</th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="payments && payments.length === 0">
        <td colspan="3">No hay pagos registrados.</td>
      </tr>
      <tr v-for="(payment) in payments" :key="payment.id">
        <td>{{ payment.date }}</td>
        <td>$ {{ payment.amount }}</td>
        <td>
          <b-dropdown size="sm" text="">
            <b-dropdown-item @click="deletePayment(payment)">
              <font-awesome-icon icon="trash" /> Borrar
            </b-dropdown-item>
          </b-dropdown>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import {
  Component, Vue, Prop,
} from 'vue-property-decorator';

import PatientsService from '../../services/PatientsService';

interface Payment {
  id: number;
  amount: number;
  date: string;
}

@Component({
  components: { },
})
export default class PaymentsTable extends Vue {
  @Prop() private payments!: Payment[];

  private deletePayment(deletedPayment: Payment) {
    // Delete payment from array and emit
    // this.payments = this.payments
    //  .filter((payment: { id: number }) => payment.id !== deletedPayment.id);

    this.$emit('deleted-payment-id', deletedPayment.id);
  }
}
</script>
