<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <b-button to="/obras_sociales/nueva"
          type="submit" variant="primary">Agregar Obra Social
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <p v-for="(healthcare) in healthcares" :key="healthcare.id">
          <router-link
              :to="{ path: `/obras_sociales/${healthcare.id}` }">
            {{ healthcare.name }}
          </router-link>
        </p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import HealthcaresService from '../../services/HealthcaresService';

import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class HealthCaresTab extends Vue {
  private healthcares = [];

  async created() {
    // Get all healthcares
    const response = await HealthcaresService.get();

    if (response) {
      const data = JSON.parse(response.data.data);

      this.healthcares = data;
    } else {
      // TODO. Handle error
    }
  }

  onSubmit(evt: Event) {
    evt.preventDefault();
    const myForm = this.healthcares;
    // alert(JSON.stringify(this.form));
  }
}
</script>
