<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <b-button to="/obras_sociales/presets/nuevo"
          type="submit" variant="primary">Agregar Preset</b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <h4>Globales</h4>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th class="span2">Nombre</th>
              <th class="span4">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="preset in globalPresets" :key="preset.id">
              <td>
                <router-link :to="`/obras_sociales/presets/${preset.id}`">
                  {{ preset.name }}
                </router-link>
              </td>
              <td>{{ preset.description }}</td>
            </tr>
          </tbody>
        </table>
      </b-col>

      <b-col>
        <h4>Especificos</h4>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th class="span2">Obra Social</th>
              <th class="span2">Nombre</th>
              <th class="span2">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="preset in healthcarePresets" :key="preset.id">
              <td>{{ preset.healthcare.name }}</td>
              <td>
                <router-link :to="`/obras_sociales/presets/${preset.id}`">
                  {{ preset.name }}
                </router-link>
              </td>
              <td>{{ preset.description }}</td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import HealthcaresService from '../../services/HealthcaresService';
import PracticesService from '../../services/PracticesService';

import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class HealthCaresTab extends Vue {
  private presets = [];

  async created() {
    // Get all healthcares
    const response = await PracticesService.getAllPresets();

    if (response) {
      const data = JSON.parse(response.data.data);

      this.presets = data;
    } else {
      // TODO. Handle error
    }
  }

  get globalPresets() {
    if (this.presets && this.presets.length > 0) {
      return this.presets.filter((
        preset: { healthcare_id: number },
      ) => preset.healthcare_id === null);
    }

    return null;
  }

  get healthcarePresets() {
    if (this.presets && this.presets.length > 0) {
      return this.presets.filter((
        preset: { healthcare_id: number },
      ) => preset.healthcare_id !== null);
    }

    return null;
  }
}
</script>
