<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <b-button to="/facturacion/periodos/nuevo"
          type="submit" variant="primary">Nuevo Periodo</b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar periodos por:</strong>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Start dates -->
          <b-form-group id="form-group-period" label="Inicio">
            <b-row>
              <b-col>
                <DatePicker placeholder="Desde" v-on:select-date="form.period.from = $event" />
              </b-col>
              <b-col>
                <DatePicker placeholder="Hasta" v-on:select-date="form.period.to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- End dates -->
          <b-form-group id="form-group-period" label="Fin">
            <b-row>
              <b-col>
                <DatePicker placeholder="Desde" v-on:select-date="form.period.from = $event" />
              </b-col>
              <b-col>
                <DatePicker placeholder="Hasta" v-on:select-date="form.period.to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>
    </b-form>

    <hr />

    <b-row v-if="billingPeriods && billingPeriods.length > 0">
      <b-col>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th>Obra Social</th>
              <th>Desde</th>
              <th>Hasta</th>
              <th>Total Facturado</th>
              <th>Total Cobrado</th>
              <th>Factura</th>
              <th>Cheque</th>
              <th class="span1"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(billingPeriod) in billingPeriods" :key="billingPeriod.id">
              <td>{{ billingPeriod.healthcare.name }}</td>
              <td>{{ billingPeriod.date_from }}</td>
              <td>{{ billingPeriod.date_to }}</td>
              <td>${{ billingPeriod.total_amount }}</td>
              <td>{{ billingPeriod.cheque_amount|| '-' }}</td>
              <td>
                <div>{{ billingPeriod.invoice_number || '-' }}</div>
                <div>{{ billingPeriod.invoice_date || '-' }}</div>
              </td>
              <td>
                <div>{{ billingPeriod.cheque_number|| '-' }}</div>
                <div>{{ billingPeriod.cheque_date|| '-' }}</div>
              </td>
              <td>
                <!-- Dropdown -->
                  <b-dropdown size="sm" text="" variant="info">
                    <b-dropdown-item :to="{ path: `/facturacion/periodos/${billingPeriod.id}` }">
                      <font-awesome-icon icon="eye" /> Ver Periodo
                    </b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item>
                      <font-awesome-icon icon="trash" /> Borrar
                    </b-dropdown-item>
                  </b-dropdown>
              </td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td><strong>$0,00</strong></td>
              <td><strong>$0,00</strong></td>
              <td colspan="3"></td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import OrdersService from '../../services/OrdersService';

import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class HealthCaresTab extends Vue {
  private billingPeriods: {
    healthcare: { name: string };
  } [] = [];

  private form = {
    page: '1',
  };

  private async onSubmit(evt: Event) {
    evt.preventDefault();

    const response = await OrdersService.findBillingPeriods(this.form);

    if (response) {
      const data = JSON.parse(response.data.data);

      this.billingPeriods = data.data;
    } else {
      // TODO. Handle error
    }
  }
}
</script>
