<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <b-button type="submit" variant="primary">Agregar Pedido</b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar pedidos por:</strong>
      </b-col>
    </b-row>

    <!-- Filters -->
    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Patient -->
          <b-form-group id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                :defaultValue="form.patientName"
                :key="`patient-${form.patient}`"
                v-on:select-patient="form.patient = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Order status -->
          <b-form-group id="form-group-healthcare" label="Estado" label-for="input-healthcare">
            <b-form-select id="form-select-status"
              v-model="form.status"
              :options="statusArray">
            </b-form-select>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Period -->
          <b-form-group id="form-group-period" label="Fecha">
            <b-row>
              <b-col>
                <DatePicker
                  placeholder="Desde"
                  v-on:select-date="form.date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker
                  placeholder="Hasta"
                  v-on:select-date="form.date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>

      </b-row>

      <b-row>
        <b-col>
          <!-- Staying Type -->
          <b-form-group
            id="form-group-staying-type" label="Atencion" label-for="input-staying-type">
            <StayingTypesDropDown
              id="input-staying-type"
              v-on:select-staying-type-type="form.staying_type = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Establishment -->
          <b-form-group
            id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
              id="input-establishment"
              :showAll="true"
              v-on:select-establishment-type="form.establishment = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Medical practice type -->
          <b-form-group
              id="form-group-medical-practice"
              label="Prestacion" label-for="input-medical-practice">
            <b-form-select id="form-select-medical-practice"
              v-model="form.medicalPractice"
              :options="medicalPracticeOptions">
            </b-form-select>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>

    </b-form>

    <hr />

    <!-- List of orders -->
    <b-row v-if="orders.length > 0">
      <b-col>
        <table class="table table-bordered table-condensed" :key="currentPage">
          <thead>
              <tr>
                <th style="width: 10%">Pedido</th>
                <th style="width: 10%">Fecha</th>
                <th style="width: 35%">Paciente</th>
                <th style="width: 25%">Descripcion</th>
                <th style="width: 5%"></th>
              </tr>
          </thead>
          <tbody>
            <tr v-for="(order) in orders" :key="order.id">
              <td>
                <OrderBadge
                    :key="order.id"
                    :order="order" />
              </td>
              <td>{{ order.date }}</td>
              <td>
                <router-link :to="{ path: `/pacientes/${order.patient.id}`}">
                  {{ order.patient.full_name }}
                </router-link>
              </td>
              <td>{{ order.description }}</td>
              <td>
                <!-- Dropdown -->
                <b-dropdown size="sm" text="">
                  <b-dropdown-item :to="{ path: `/facturacion/pedidos/${order.id}` }">
                    <font-awesome-icon icon="eye" /> Ver Pedido
                  </b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item
                      v-if="['Pendiente', 'Anulado'].includes(order.status)">
                    <font-awesome-icon icon="check" /> Autorizado
                  </b-dropdown-item>
                  <b-dropdown-item
                      v-if="order.status !== 'Anulado'">
                    <font-awesome-icon icon="ban" /> Anular
                  </b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item>
                    <font-awesome-icon icon="trash" /> Borrar
                  </b-dropdown-item>
                </b-dropdown>
              </td>
              </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

    <!-- Pagination -->
    <b-row v-if="orders.length > 0">
      <b-col>
        <b-pagination
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          aria-controls="my-table"
          v-on:input="paginationEventhandler"
        ></b-pagination>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import OrdersService from '../../services/OrdersService';

import DatePicker from '../DatePicker.vue';
import StayingTypesDropDown from '../DropDowns/StayingTypesDropDown.vue';
import EstablishmentsDropDown from '../DropDowns/EstablishmentsDropDown.vue';
import PatientsDropDown from '../PatientsDropDown.vue';
import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import OrderBadge from '../OrderBadge.vue';

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
    OrderBadge,
    PatientsDropDown,
    EstablishmentsDropDown,
    StayingTypesDropDown,
  },
})
export default class HealthCaresTab extends Vue {
  private form = {
    page: '1',
    patient: '',
    patientName: '',
  };

  private orders = [];

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private statusArray = ['Pendiente', 'Autorizado', 'Revisado', 'Anulado', 'Facturado'];

  private medicalPracticeOptions = [
    'Consulta',
    'Estudio',
    'Reserva',
    'Transfusion',
    'Quimioterapia',
    'Sin Prestacion',
  ];

  async mounted() {
    if (this.$route.query.paciente) {
      const patient: string = this.$route.query.paciente.toString();

      // Get orders by patient
      const response = await OrdersService.find({ patient });

      if (response) {
        const data = JSON.parse(response.data.data);

        // Clear
        this.orders = [];

        // Paginator
        this.currentPage = 1;
        this.totalRows = data.total;
        this.perPage = data.per_page;

        // Set patient
        if (data.data) {
          this.form.patient = this.$route.query.paciente.toString();
          this.form.patientName = data.data[0].patient.full_name;
        } else {
          // Find patient and set name
        }

        // Set data
        this.orders = data.data;
      }
    }
  }

  async onSubmit(evt: Event) {
    evt.preventDefault();
    const response = await OrdersService.find(this.form);

    if (response) {
      const data = JSON.parse(response.data.data);

      // Orders
      this.orders = data.data;

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
    } else {
      // TODO. Handle error
    }
  }

  async paginationEventhandler(event: number) {
    this.form.page = event.toString();
    this.currentPage = event;

    const response = await OrdersService.find(this.form);

    const data = JSON.parse(response.data.data);

    // Orders
    this.orders = data.data;

    // Paginator
    this.totalRows = data.total;
    this.perPage = data.per_page;
    this.currentPage = event;
  }
}
</script>
