<template>
  <b-container class="bv-example-row">

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar prestaciones por:</strong>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Start dates -->
          <b-form-group id="form-group-period" label="Desde">
           <DatePicker placeholder="Desde" v-on:select-date="form.period.from = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- End dates -->
          <b-form-group id="form-group-period" label="Hasta">
            <DatePicker placeholder="Desde" v-on:select-date="form.period.from = $event" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>
    </b-form>

    <!-- List of medical practices -->
    <b-row v-if="orders.length > 0">
      <b-col>
        <table class="table table-bordered table-condensed" :key="currentPage">
          <thead>
            <tr>
              <th class="span2">Prestacion</th>
              <th class="span1">Fecha</th>
              <th class="span5">Paciente</th>
              <th class="span3">Pagos</th>
              <th class="span1"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(order) in orders" :key="order.id">
              <td>{{ order.service_type }}</td>
              <td>{{ order.orderable.date || order.orderable.reservation_date }}</td>
              <td>
                <div>
                    <strong>
                      <router-link :to="{ path: `/pacientes/${order.patient.id}`}">
                        {{ order.patient.full_name }}
                      </router-link>
                    </strong>
                  </div>
                  <div>({{ order.patient.healthcare.name }})</div>
              </td>
              <td>
                <ul>
                  <li v-if="!order.orderable.payments || order.orderable.payments.length === 0">
                    &nbsp;
                  </li>
                  <li  v-for="(payment) in order.orderable.payments" :key="payment.id">
                    {{ payment.date }}: ${{ payment.amount }}
                  </li>
                </ul>
              </td>
              <td>
                <!-- Dropdown -->
                <b-dropdown size="sm" text="">
                  <b-dropdown-item :to="{ path: `/prestaciones/${order.orderable_id}` }">
                    <font-awesome-icon icon="eye" /> Ver Prestacion
                  </b-dropdown-item>
                </b-dropdown>
              </td>
              </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

    <!-- Pagination -->
    <b-row v-if="orders.length > 0">
      <b-col>
        <b-pagination
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          aria-controls="my-table"
          v-on:input="paginationEventhandler"
        ></b-pagination>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import OrdersService from '../../services/OrdersService';

import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';

interface Order {
  orderable: { payments: []};
}

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class HealthCaresTab extends Vue {
  private orders: Order [] = [];

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private form = { page: '1' };

  async onSubmit(evt: Event) {
    evt.preventDefault();
    const response = await OrdersService.findWithMedicalPractice(this.form);

    if (response) {
      const data = JSON.parse(response.data.data);

      // Orders
      this.orders = data.data;

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
    } else {
      // TODO. Handle error
    }
  }

  async paginationEventhandler(event: number) {
    this.form.page = event.toString();
    this.currentPage = event;

    const response = await OrdersService.findWithMedicalPractice(this.form);

    const data = JSON.parse(response.data.data);

    // Orders
    this.orders = data.data;

    // Paginator
    this.totalRows = data.total;
    this.perPage = data.per_page;
    this.currentPage = event;
  }
}
</script>
