<template>
  <b-container class="bv-example-row" v-if="patient && patient.id !== 0">
    <b-row>
      <b-col>
        <b-button
            id="btn-add-diagnosis"
            v-b-modal.add-diagnosis-modal
            type="submit" variant="primary">
          Agregar Diagnostico
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <h4>Diagnosticos</h4>

        <table v-if="patient && patient.diagnosis" class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th style="width: 10%">Codigo</th>
              <th style="width: 90%">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(diagnosis) in patient.diagnosis" :key="diagnosis.id">
              <td>{{ diagnosis.ICD10 }}</td>
              <td>{{ diagnosis.description }}</td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <h4>Historia Clinica</h4>
        <p>{{ patient.medical_record || '-' }}</p>
      </b-col>
    </b-row>

    <!-- Modals -->
    <AddDiagnosisToPatientModal
        :patient="patient.full_name"
        v-on:added-diagnosis="addDiagnosisToPatient($event)" />

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import PatientService from '../../services/PatientsService';

import BaseComponent from '../BaseComponent.vue';
import AddDiagnosisToPatientModal from '../Modals/AddDiagnosisToPatientModal.vue';

interface Diagnosis {
  id: number;
  parent: number;
  ICD10: string;
  ICD9: string;
  description: string;
}

@Component({
  components: {
    AddDiagnosisToPatientModal,
  },
})
export default class MedicalHistoryTab extends BaseComponent {
  private patient = {
    id: 0,
    diagnosis: [] as Diagnosis[],
  };

  async mounted() {
    const { patientId } = this.$route.params;
    const response = await PatientService.getById(parseInt(patientId, 10));
    this.patient = response.data.data;
  }

  async addDiagnosisToPatient(diagnosis: Diagnosis) {
    // Check if patient has that diagnosis already
    const existingDiagnosis = this.patient.diagnosis
      .filter((obj) => obj.id === diagnosis.id);

    if (!existingDiagnosis || existingDiagnosis.length === 0) {
      // Add diagnosis
      const response = await PatientService.addDiagnosis(this.patient.id, diagnosis);

      if (response) {
        this.patient.diagnosis.push(diagnosis);
        this.successToast('Diagnostico', 'Diagnostico agregado!');
      } else {
        // TODO. Handle error
        this.errorToast('Error', 'Error al agregar diagnostico');
      }
    } else {
      this.errorToast('Error', `El paciente ya tiene diagnostico ${diagnosis.description}`);
    }
  }
}
</script>
