<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <span class="float-right">
          <b-button type="submit" variant="warning" v-b-modal.merge-patients-modal>
            Unificar Pacientes
          </b-button>&nbsp;
          <b-button type="submit" variant="danger" @click="showDeleteModal">Borrar</b-button>
        </span>
      </b-col>
    </b-row>

    <hr />

    <b-row v-if="patient.id !== 0 && patient.has_pending_orders === true">
      <b-col>
        <b-alert show variant="warning">
          <font-awesome-icon icon="exclamation-triangle" />
          Este paciente tiene pedidos pendientes de autorizacion.
          <router-link
              :to="{ path: `/facturacion/pedidos?paciente=${patient.id}`}"
              style="display: inline;">
            Ver Pedidos
          </router-link>
        </b-alert>
      </b-col>
    </b-row>

    <b-row v-if="patient && patient.id !== 0" :key="`${patient.id}-${patient.updated_at}`">
      <b-col>
        <dl v-if="patient">
          <dt>Id</dt>
          <dd id="dd-patient-id">{{ patient.id }}</dd>

          <!-- Full name -->
          <EditableDtInputText
            inputType="fullName"
            text="Paciente"
            formKey="full_name"
            :value="[patient.firstName, patient.lastName]"
            :editable="editable.full_name"
            v-on:update-value="updateValue($event)" />

          <!-- DNI -->
          <EditableDtInputText
            text="D.N.I."
            formKey="dni"
            :value="patient.dni"
            :editable="editable.dni"
            v-on:update-value="updateValue($event)" />

          <!-- DOB -->
          <EditableDtInputText
            inputType="date"
            text="Fecha de Nacimiento"
            formKey="dateOfBirth"
            :value="patient.dateOfBirth"
            :editable="editable.dateOfBirth"
            v-on:update-value="updateValue($event)" />

          <!-- Gender -->
          <EditableDtInputText
            text="Sexo"
            inputType="gender"
            formKey="gender"
            :value="patient.gender"
            :editable="editable.gender"
            v-on:update-value="updateValue($event)" />

          <!-- Blood type -->
          <EditableDtInputText
            inputType="bloodType"
            text="Grupo y Factor"
            formKey="bloodType"
            :value="patient.bloodType"
            :editable="editable.bloodType"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- Place of birth -->
          <EditableDtInputText
            text="Lugar de Origen"
            inputType="location"
            formKey="birth_place"
            :value="patient.birth_place"
            :editable="editable.birth_place"
            v-on:update-value="updateValue($event)" />

          <!-- Place of residence -->
          <EditableDtInputText
            text="Lugar de Residencia"
            inputType="location"
            formKey="residence_place"
            :value="patient.residence_place"
            :editable="editable.residence_place"
            v-on:update-value="updateValue($event)" />

          <!-- Phone number -->
          <EditableDtInputText
            text="Telefono"
            formKey="phone_number"
            :value="patient.phone_number"
            :editable="editable.phone_number"
            v-on:update-value="updateValue($event)" />

          <!-- Email -->
          <EditableDtInputText
            text="Email"
            formKey="email"
            :value="patient.email"
            :editable="editable.email"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- Healthcare -->
          <EditableDtInputText
            text="Obra Social"
            inputType="healthcare"
            formKey="healthcare"
            :value="[patient.healthcare_id, patient.healthcareNumber]"
            :healthcareName="patient.healthcare.name"
            :editable="editable.healthcare"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

    <!-- Modals -->
    <MergePatientsModal
        v-on:merged-patient="mergePatients($event)" />

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import PatientsService from '../../services/PatientsService';

import BaseComponent from '../BaseComponent.vue';
import EditableDtInputText from '../Editable/EditableDtInputText.vue';
import MergePatientsModal from '../Modals/MergePatientsModal.vue';

@Component({
  components: {
    EditableDtInputText,
    MergePatientsModal,
  },
})
export default class ProfileTab extends BaseComponent {
  private patient = {
    id: 0,
    healthcare: {},
    // eslint-disable-next-line @typescript-eslint/camelcase
    has_pending_orders: false,
  };

  private editable = {
    // eslint-disable-next-line @typescript-eslint/camelcase
    full_name: false,
    dni: false,
    dateOfBirth: false,
    gender: false,
    bloodType: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    birth_place: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    residence_place: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    phone_number: false,
    email: false,
    healthcare: false,
  };

  private toEdit = {
    key: '',
    value: '',
    oldValue: '',
  };

  async created() {
    const { patientId } = this.$route.params;
    const response = await PatientsService.getById(parseInt(patientId, 10));

    if (response) {
      this.patient = response.data.data;
    } else {
      // TODO. Handle error
    }
  }

  private toggleEditableListener(event: string) {
    // Set all editables to false
    Object.keys(this.editable).forEach((editableKey) => {
      this.editable[editableKey] = false;
    });

    this.toEdit.key = event;
    this.toEdit.value = this.patient[event];
    this.editable[event] = !this.editable[event];
  }

  // Update patient
  private async updateValue(updateBody: {}) {
    try {
      const response = await PatientsService.update(this.patient.id, updateBody);

      if (response) {
        this.successToast('Paciente', 'Paciente actualizado');

        // Refresh data
        this.patient = response.data.data;
      }
    } catch (error) {
      // TODO. Handle error
    }
  }

  // Merge patient to targetPatient
  private async mergePatients(targetPatient: number) {
    // Check that it's not the same patient
    if (this.patient.id === targetPatient) {
      this.errorToast(
        'Error al unificar paciente',
        'El paciente destino debe ser disinto al paciente a editar.',
      );
    } else {
      const response = await PatientsService.merge(this.patient.id, targetPatient);

      if (response) {
        this.successToast('Pacientes', 'Pacientes unificados');

        this.patient = response.data.data;

        // Go to target patient
        this.$router.push({
          path: `/pacientes/${targetPatient}`,
        });
      } else {
        // TODO. Handle error
      }
    }
  }

  private showDeleteModal() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar el paciente?', {
      title: 'Borrar paciente',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await PatientsService.delete(this.patient.id);

          if (response.status === 200) {
            // Go to transfusions
            this.$router.push({
              path: '/pacientes',
            });
          }
        }
      })
      .catch((err) => {
        // An error occurred
      });
  }
}
</script>
