<template>
  <b-container id="container-details" class="bv-example-row">

    <b-row>
      <b-col>
        <div v-if="period && period.periodInfo">
          <h4>
            {{ period.periodInfo.healthcare }}
            <small>{{ period.periodInfo.dateFrom }} - {{ period.periodInfo.dateTo }}</small>
          </h4>
        </div>
      </b-col>

      <b-col class="d-print-none">
        <!-- Print -->
        <b-button variant="light" size="sm" class="float-right button" @click="printToPaper">
          <font-awesome-icon icon="print" size="xs" />
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row v-for="(detail, index) in periodDetails" :key="detail.patient.id">
      <b-col>
        <h4>{{ detail.patient }}</h4>
        <table class="table table-condensed table-hover small billings">
          <thead>
            <tr>
              <th class="span1">Codigo</th>
              <th class="span4">Descripcion</th>
              <th class="span2">Cantidad</th>
              <th class="span1">Honorarios</th>
              <th class="span1">Gastos</th>
              <th class="span1">Bioquimica</th>
              <th class="span1">Acuerdo</th>
              <th class="span1">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(practice) in detail.practices" :key="practice.id">
              <td>{{ practice.code }}</td>
              <td>{{ practice.description }}</td>
              <td>
                {{ practice.quantity.total }} (Urg: {{ practice.quantity.night }})
              </td>
              <td>$ {{ practice.fee.toFixed(2) }}</td>
              <td>$ {{ practice.expenses.toFixed(2) }}</td>
              <td>$ {{ practice.biochemistry.toFixed(2) }}</td>
              <td>$ {{ practice.amount.toFixed(2) }}</td>
              <td>$ {{ parseFloat(practice.totalAmount).toFixed(2) }}</td>
            </tr>
            <tr v-if="totalAmounts">
              <td colspan="7"></td>
              <td>
                <strong>${{ totalAmounts.get(index).toFixed(2) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({ })
export default class DetailsTab extends Vue {
  @Prop() private period!: {
    healthcare: {
      name: '';
    };
    orders: { practices: [] }[];
    detail: { patient: {}; practices: { totalAmount: string } } [];
  };

  private get periodDetails() {
    if (this.period && this.period.detail) {
      return this.period.detail;
    }

    return null;
  }

  // Creates a map with format <patient ID, total amount>
  private get totalAmounts(): Map<string, number> | null {
    if (this.period.detail) {
      const totals = new Map<string, number>();

      // Iterate over patients
      Object.keys(this.period.detail).forEach((key) => {
        if (this.period.detail[key] && this.period.detail[key].practices) {
          const patientPractices: { totalAmount: string } [] = this.period.detail[key].practices;
          const total = Object.values(patientPractices)
            .reduce((t, { totalAmount }) => t + parseFloat(totalAmount), 0);
          totals.set(key, total);
        }
      });

      return totals;
    }

    return null;
  }

  private printToPaper() {
    this.$htmlToPaper('container-details');
  }
}
</script>
