<template>
  <b-container class="bv-example-row">
    <b-row v-if="period.orders">
      <b-col>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th style="width: 10%">Pedido</th>
              <th style="width: 10%">Fecha</th>
              <th style="width: 35%">Paciente</th>
              <th style="width: 45%">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(order) in orders" :key="order.id">
              <td>
                <OrderBadge
                    :key="order.id"
                    :order="order" />
              </td>
              <td>{{ order.date }}</td>
              <td>
                <div>
                    <strong>
                      <router-link :to="{ path: `/pacientes/${order.patient.id}`}">
                        {{ order.patient.full_name }}
                      </router-link>
                    </strong>
                  </div>
              </td>
              <td>{{ order.description }}</td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import OrdersService from '../../services/OrdersService';

import OrderBadge from '../OrderBadge.vue';

@Component({
  components: {
    OrderBadge,
  },
})
export default class OrdersTab extends Vue {
  @Prop() private period!: { healthcare: { name: '' }; orders: {} [] };

  private get orders(): null | {}[] {
    if (this.period && this.period.orders) {
      return this.period.orders;
    }

    return null;
  }
}
</script>
