<template>
  <b-container ref="container" class="bv-example-row">

    <b-row>
      <b-col>
        <div v-if="period && period.periodInfo">
          <h4>
            {{ period.periodInfo.healthcare }}
            <small>{{ period.periodInfo.dateFrom }} - {{ period.periodInfo.dateTo }}</small>
          </h4>
        </div>
      </b-col>

      <b-col>
        <!-- Print -->
        <b-button variant="light" size="sm" class="float-right button" @click="printToPaper">
          <font-awesome-icon icon="print" size="xs" />
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row id="row-period" v-if="periodOverview">
      <b-col>
        <table class="table table-condensed table-hover small billings">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>Honorarios</th>
              <th>Gastos</th>
              <th>Bioquimica</th>
              <th>Acuerdo</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(practice) in periodOverview" :key="practice.id">
              <td>{{ practice.code }}</td>
              <td>{{ practice.description }}</td>
              <td>
                {{ practice.quantity.total }} (Urg: {{ practice.quantity.night }})
              </td>
              <td>$ {{ practice.fee.toFixed(2) }}</td>
              <td>$ {{ practice.expenses.toFixed(2) }}</td>
              <td>$ {{ practice.biochemistry.toFixed(2) }}</td>
              <td>$ {{ practice.amount.toFixed(2) }}</td>
              <td>$ {{ parseFloat(practice.totalAmount).toFixed(2) }}</td>
            </tr>
            <tr>
              <td colspan="7"></td>
              <td>
                <strong>${{ totalAmount.toFixed(2) }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({ })
export default class OverviewTab extends Vue {
  @Prop() private period!: {
    healthcare: {
      name: '';
    };
    orders: { practices: [] }[];
    overview: { totalAmount: string } [];
  };

  private get periodOverview() {
    if (this.period && this.period.overview) {
      return this.period.overview;
    }

    return null;
  }

  private get totalAmount(): number {
    if (this.periodOverview) {
      return Object.values(this.period.overview)
        .reduce((t, { totalAmount }) => t + parseFloat(totalAmount), 0);
    }

    return 0;
  }

  private printToPaper() {
    this.$htmlToPaper('container-details');
  }

  /*
  private printToPaper2() {
    const myHtml = this.$refs.container.innerHTML;
    const WinPrint = window
      .open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');

    const style = `
      @page { size: auto;  margin: 0mm; }
      .button { display: none; }
    `;

    if (WinPrint) {
      WinPrint.document.write(`<!DOCTYPE html>
      <html>
        <head>
        <style>${style}</style>
        </head>
        <body>
          ${myHtml}
        </body>
      </html>`);

      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.print();
      WinPrint.close();
    }
  }
  */
}
</script>
