<template>
  <b-container class="bv-example-row" v-if="period && period.id !== 0" :key="period.updated_at">
    <b-row>
      <b-col>
        <!-- Delete -->
        <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <dl v-if="period && period.periodInfo">
          <!-- ID -->
          <dt>ID</dt>
          <dd>{{ period.periodInfo.id }}</dd>

          <!-- Healthcare -->
          <dt>Obra Social</dt>
          <dd>{{ period.periodInfo.healthcare }}</dd>

          <!-- Date from -->
          <dt>Desde</dt>
          <dd>{{ period.periodInfo.dateFrom }}</dd>

          <!-- Date to -->
          <dt>Hasta</dt>
          <dd>{{ period.periodInfo.dateTo }}</dd>

          <!-- Amount -->
          <dt>Total</dt>
          <dd>$ {{ totalAmount.toFixed(2) }}</dd>
        </dl>
      </b-col>

      <b-col>
        <dl v-if="period && period.periodInfo && period.periodInfo.invoice">
          <!-- Invoice -->
          <EditableDtInputText
            text="Factura"
            inputType="invoice"
            formKey="invoice"
            :value="[period.periodInfo.invoice.number, period.periodInfo.invoice.date]"
            :editable="editable.invoice"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <dl v-if="period && period.periodInfo && period.periodInfo.cheque">
          <!-- Cheque -->
          <EditableDtInputText
            text="Cheque"
            inputType="cheque"
            formKey="cheque"
            :value="[
                      period.periodInfo.cheque.number,
                      period.periodInfo.cheque.date,
                      period.periodInfo.cheque.amount
                    ]"
            :editable="editable.invoice"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

    <!-- Debits -->
    <b-row>
      <b-col>
        <dl v-if="period && period.periodInfo">
          <EditableDtInputText
            text="Debitos"
            inputType="debits"
            formKey="debits"
            :value="period.periodInfo.debits"
            :editable="editable.debits"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';

import OrdersService from '../../services/OrdersService';

import BaseComponent from '../BaseComponent.vue';
import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';
import EditableDtInputText from '../Editable/EditableDtInputText.vue';

interface Period {
  id: 0;
  healthcare: { name: '' };
  periodInfo: {
    id: number;
    cheque: {
      number: string;
      date: string;
      amount: string;
    };
    invoice: {
      number: string;
      date: string;
    };
  };
  overview: { totalAmount: string } [];
  updated_at: string;
}

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
    EditableDtInputText,
  },
})
export default class PeriodTab extends BaseComponent {
  @Prop() private periodProp!: Period;

  private period!: Period;

  private editable = {
    invoice: false,
    cheque: false,
  };

  created() {
    this.period = this.periodProp;
  }

  private get totalAmount(): number {
    if (this.period && this.period.overview) {
      return Object.values(this.period.overview)
        .reduce((t, { totalAmount }) => t + parseFloat(totalAmount), 0);
    }

    return 0;
  }

  private async updateValue(updateBody: {}) {
    // Update period
    try {
      const response = await OrdersService.updateBillingPeriod(
        this.period.periodInfo.id,
        updateBody,
      );

      if (response) {
        const { data } = response.data;
        this.successToast('Periodo', 'Periodo actualizado');

        const keys = Object.keys(updateBody);

        keys.forEach((key) => {
          if (key === 'debit') {
            this.period.periodInfo[key] = updateBody[key];
          } else if (['invoice_date', 'invoice_number'].includes(key)) {
            if (key === 'invoice_date') {
              this.period.periodInfo.invoice.date = updateBody[key];
            } else {
              this.period.periodInfo.invoice.number = updateBody[key];
            }
          } else if (['cheque_date', 'cheque_number', 'cheque_amount'].includes(key)) {
            if (key === 'cheque_date') {
              this.period.periodInfo.cheque.date = updateBody[key];
            } else if (key === 'cheque_number') {
              this.period.periodInfo.cheque.number = updateBody[key];
            } else {
              this.period.periodInfo.cheque.amount = updateBody[key];
            }
          }
        });

        // eslint-disable-next-line @typescript-eslint/camelcase
        this.period.updated_at = data.updated_at;

        // Refresh data
        // this.period = response.data.data;
      }
    } catch (error) {
      // TODO. Handle error
    }
  }

  private showDeleteModal() {
    this.showDeleteModalBase(
      'Borrar periodo',
      '¿Esta seguro que desea borrar el periodo?',
      OrdersService.deleteBillingPeriod,
      this.period.periodInfo.id,
      '/facturacion/periodos',
    );
  }
}
</script>
