<template>
  <b-container class="bv-example-row"
      v-if="appointment && appointment.id !== 0" :key="appointment.updated_at">
    <b-row>
      <b-col>
        <h3>Consulta</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <!-- Attended -->
        <b-button
            v-if="appointment.status !== 'Atendido'"
            v-on:click="changeStatus('Atendido')"
            size="sm" variant="info">
          Atendido
        </b-button> &nbsp;
        <!-- Absent -->
        <b-button
            v-if="!['Ausente', 'Atendido'].includes(appointment.status)"
            size="sm" variant="dark"
            v-on:click="changeStatus('Ausente')">
          Ausente
        </b-button> &nbsp;
        <!-- Present -->
        <b-button
            v-if="appointment.status === 'Ausente'"
            size="sm" variant="dark"
            v-on:click="changeStatus('Presente')">
          Presente
        </b-button> &nbsp;
        <!-- Authorized -->
        <b-button
            v-if="appointment.order.date
                    && ['Pendiente', 'Anulado'].includes(appointment.order.status)"
            size="sm" variant="success"
            v-on:click="changeOrderStatus('Autorizado')">
          Autorizado
        </b-button> &nbsp;
        <!-- Add new order -->
        <b-button
            :to="{ path: `/facturacion/pedidos/nuevo/consulta/${appointment.id}`}"
            v-if="!appointment.order.date"
            size="sm" variant="light">
          Agregar Nuevo Pedido
        </b-button> &nbsp;
        <!-- Add payment -->
        <b-button
            v-b-modal.add-payment-modal
            size="sm" variant="light">
          Agregar Pago
        </b-button> &nbsp;
        <!-- Re-assign appointment -->
        <b-button size="sm"
            v-b-modal.re-schedule-appointment-modal
            variant="warning">
          Reasignar Turno
        </b-button>
        <!-- Delete -->
        <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <!-- First appointment -->
        <b-badge v-if="appointment.first"
          variant="success"
          title="Primera Consulta"
          style="background-color: purple;">
            Primera
        </b-badge> &nbsp;

        <!-- Absent -->
        <b-badge v-if="appointment.status === 'Ausente'"
          variant="secondary"
          title="Paciente Ausente">
            Ausente
        </b-badge> &nbsp;

        <!-- Night emergency -->
        <b-badge v-if="appointment.night_emergency"
            variant="dark"
            title="Urgencia Nocturna">
          <font-awesome-icon icon="moon" size="xs" />
            Urgencia Nocturna
        </b-badge> &nbsp;

        <!-- Attended -->
        <b-badge v-if="appointment.status === 'Atendido'"
          variant="info"
          title="Paciente Atendido">
            Atendido
        </b-badge> &nbsp;

        <!-- Order -->
        <OrderBadge
          :key="`${appointment.id}-${appointment.order.status}`"
          :order="appointment.order" />
      </b-col>
    </b-row>

    <b-row v-if="appointment && appointment.id !== 0">
      <b-col>
        <dl>
          <!-- Patient -->
          <dt>Paciente</dt>
          <dd>{{ appointment.patient.full_name }}</dd>

          <!-- Healthcare -->
          <dt>Obra Social</dt>
          <dd>{{ appointment.patient.healthcare.name }}</dd>

          <!-- Clinic -->
          <dt>Consultorio</dt>
          <dd>{{ appointment.clinic.name }}</dd>

          <!-- Appointment date and time -->
          <EditableDtInputText
            inputType="appointmentTime"
            text="Turno"
            formKey="date"
            :value="[appointment.date, appointment.time]"
            :selectOptions="timesOptions"
            :editable="editable.date"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- First -->
          <EditableDtInputText
            inputType="checkbox"
            text="Primera Consulta"
            formKey="first"
            :value="appointment.first"
            :editable="editable.first"
            v-on:update-value="updateValue($event) "/>

          <!-- Status -->
          <EditableDtInputText
            inputType="appointmentStatus"
            text="Estado"
            formKey="status"
            :value="appointment.status"
            :editable="editable.status"
            v-on:update-value="updateValue($event) "/>

          <!-- Night Emergency -->
          <EditableDtInputText
            inputType="checkbox"
            text="Urgencia Nocturna"
            formKey="night_emergency"
            :value="appointment.night_emergency"
            :editable="editable.night_emergency"
            v-on:update-value="updateValue($event) "/>

          <!-- Establishment -->
          <EditableDtInputText
            inputType="establishment"
            text="Establecimiento"
            formKey="establishment"
            :value="appointment.establishment"
            :editable="editable.establishment"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <dl>
          <dt>Pagos</dt>
          <dd>
            <PaymentsTable
                :payments="appointment.payments"
                v-on:deleted-payment-id="deletePayment($event)" />
          </dd>
        </dl>
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>
    </b-row>

    <!-- Modals -->
    <AddPaymentModal
        medicalServiceType="consulta"
        :medicalServiceId="appointment.id"
        v-on:added-payment="appointment.payments.push($event)" />

    <ReScheduleAppointmentModal
        v-if="appointment && appointment.id !== 0"
        :dateProp="appointment.date"
        :timeProp="appointment.time"
        :appointmentTimes="timesOptions"
        v-on:re-scheduled-appointment="updateValue($event)" />

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import moment from 'moment';

import AppointmentsService from '../services/AppointmentsService';
import OrdersService from '../services/OrdersService';

import BaseComponent from './BaseComponent.vue';
import OrderBadge from './OrderBadge.vue';
import AddPaymentModal from './Modals/AddPaymentModal.vue';
import ReScheduleAppointmentModal from './Modals/ReScheduleAppointmentModal.vue';
import PaymentsTable from './Tables/PaymentsTable.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';

@Component({
  components: {
    OrderBadge,
    AddPaymentModal,
    PaymentsTable,
    EditableDtInputText,
    ReScheduleAppointmentModal,
  },
})
export default class Appointment extends BaseComponent {
  private appointment = {
    id: 0,
    patient: { healthcare: {} },
    clinic: {},
    payments: [],
    order: { id: 0, status: '' },
    status: '',
  };

  private editable = {
    date: false,
    first: false,
    status: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    night_emergency: false,
    establishment: false,
  };

  // Array with opening hours for clinic
  private timesOptions: string[] = [];

  async created() {
    // Get ID from path
    const appointmentId = parseInt(this.$route.params.appointmentId, 10);
    // Get chemotherapy
    const response = await AppointmentsService.getById(appointmentId);

    if (response) {
      const { data } = response.data;
      this.appointment = data;
      if (!this.appointment.status) {
        this.appointment.status = 'Pendiente';
      }
      this.timesOptions = Appointment.getAvailableTimes(this.appointment.clinic);
    } else {
      // TODO. Handle error
    }
  }

  // Get available appointment times from clinic
  private static getAvailableTimes(clinic): string[] {
    // Set first opening hour
    let date = moment();
    date.hour(parseInt(clinic.start_time.split(':')[0], 10));
    date.minutes(parseInt(clinic.start_time.split(':')[1], 10));

    const endDate = moment();
    endDate.hour((parseInt(clinic.end_time.split(':')[0], 10)));
    endDate.minutes((parseInt(clinic.end_time.split(':')[1], 10)));

    const timesOptions: string[] = [];

    // Add overshift option
    timesOptions.push('Sobreturno');

    while (date <= endDate) {
      timesOptions.push(date.format('HH:mm'));
      date = date.add(clinic.shift_duration, 'minutes');
    }

    return timesOptions;
  }

  // Edit appointment
  private async updateValue(updateBody: {}) {
    try {
      // Update appointment
      const response = await AppointmentsService.update(this.appointment.id, updateBody);

      if (response) {
        this.successToast('Consulta', 'Consulta actualizada');
        const key = Object.keys(updateBody)[0];
        this.appointment[key] = updateBody[key];

        this.appointment = response.data.data;
      }
    } catch (error) {
      this.errorToast('Error al actualizar consulta', error.response.data.msg);
    }
  }

  private async changeStatus(newStatus: string) {
    const response = await AppointmentsService.update(this.appointment.id, { status: newStatus });

    if (response) {
      this.appointment.status = newStatus;
      this.successToast('Consulta', 'Estado de la consulta actualizado');
    } else {
      // TODO. Handle error
    }
  }

  private async changeOrderStatus(newStatus: string) {
    const response = await OrdersService.update(this.appointment.order.id, { status: newStatus });

    if (response) {
      this.appointment.order.status = newStatus;
      this.successToast('Consulta', 'Estado del pedido actualizado');
    } else {
      // TODO. Handle error
    }
  }

  private showDeleteModal() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar la consulta?', {
      title: 'Borrar consulta',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await AppointmentsService.delete(this.appointment.id);

          if (response.status === 200) {
            // Go to appointments
            this.$router.push({
              path: '/',
            });
          }
        }
      })
      .catch((err) => {
        // An error occurred
      });
  }

  private async deletePayment(paymentId: number) {
    // Remove payment from array
    this.appointment.payments = this.appointment.payments
      .filter((payment: { id: number }) => payment.id !== paymentId);

    this.successToast('Consulta', 'Pago eliminado');
  }
}
</script>
