<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <ClinicsTabs
          v-on:select-clinic-date="datePickerDate = $event"
          v-on:select-clinic="selectedClinic = $event"
        />
        </b-col>
    </b-row>

    <b-row>
      <b-col>
        <TodaysDate :date="date" :key="datePickerDate.toString()" />
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <div>
          <b-overlay :show="showStatsOverlay" rounded="sm">
            <table class="resumen table table-condensed table-bordered">
              <tbody>
                <tr>
                  <th class="span1">Consultas:</th>
                  <td>{{ appointmentsStats.total }}</td>
                  <th class="span1">Turnos:</th>
                  <td>{{ appointmentsStats.booking }}</td>
                  <th class="span1">Sobreturnos:</th>
                  <td>{{ appointmentsStats.overBooking }}</td>
                  <th class="span1">Primera:</th>
                  <td>{{ appointmentsStats.first }}</td>
                  <th class="span1">Atendidos:</th>
                  <td>{{ appointmentsStats.attended }}</td>
                  <th class="span1">Ausentes:</th>
                  <td>{{ appointmentsStats.absent }}</td>
                </tr>
              </tbody>
            </table>
          </b-overlay>
        </div>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <b-overlay :show="showAppointmentsOverlay" rounded="sm">
          <AppointmentBooking
            :appointments="appointmentsWithTimes"
            :selectedClinic="selectedClinic" />
        </b-overlay>
      </b-col>
      <b-col>
        <b-overlay :show="showAppointmentsOverlay" rounded="sm">
          <AppointmentOverBooking
            :appointments="appointments.overBookings"
            :selectedClinic="selectedClinic" />
        </b-overlay>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Watch, Vue } from 'vue-property-decorator';
import moment from 'moment';

import ReportsService from '../services/ReportsService';
import AppointmentsService from '../services/AppointmentsService';
import ClinicsService from '../services/ClinicsService';

import ClinicsTabs from './ClinicsTabs.vue';
import TodaysDate from './TodaysDate.vue';
import ClinicsStats from './ClinicsStats.vue';
import AppointmentBooking from './AppointmentBooking.vue';
import AppointmentOverBooking from './AppointmentOverBooking.vue';

@Component({
  components: {
    ClinicsTabs,
    TodaysDate,
    ClinicsStats,
    AppointmentBooking,
    AppointmentOverBooking,
  },
})
export default class Appointments extends Vue {
  private date!: Date;

  private datePickerDate = new Date();

  private selectedClinic = '0';

  private appointmentsStats = {
    total: 0,
    booking: 0,
    overBooking: 0,
    first: 0,
    attended: 0,
    absent: 0,
  };

  private appointments = {
    normal: [],
    overBookings: [],
  };

  private appointmentsWithTimes: { }[] = [];

  private clinics: {
    id: number;
    shift_duration: number;
    start_time: string;
    end_time: string;
  }[] = [];

  private showStatsOverlay = false;

  private showAppointmentsOverlay = false;

  async created() {
    // Get date
    if (this.$route.query.fecha) {
      this.date = new Date(this.$route.query.fecha.toString());
    } else {
      this.date = new Date();
    }

    // Get all clinics
    await this.getAllClinics();

    // Get clinic
    // Clinic ID 1 by default
    let clinic = this.selectedClinic;
    if (this.$route.params.clinicId) {
      clinic = this.$route.params.clinicId;
      this.selectedClinic = clinic;
    } else {
      clinic = '1';
      this.selectedClinic = clinic;
    }
  }

  private async getAllClinics() {
    const response = await ClinicsService.getAll();

    if (response) {
      const data = JSON.parse(response.data.data);
      this.clinics = data;
    } else {
      // TODO. Handle error
    }
  }

  @Watch('datePickerDate')
  async onPropertyChanged(value: string) {
    this.date = new Date(value);
    await this.getStats(this.date, this.selectedClinic);
    await this.getAppointments(this.date, this.selectedClinic);
  }

  @Watch('selectedClinic')
  async selectedClinicChanged(value: string) {
    this.selectedClinic = value.toString();
    await this.getStats(this.date, this.selectedClinic);
    await this.getAppointments(this.date, this.selectedClinic);
  }

  // Call API to get appointments for that clinic and date
  async getAppointments(date: Date, clinic: string) {
    this.showAppointmentsOverlay = true;
    this.appointments = {
      normal: [],
      overBookings: [],
    };
    const formattedDate = moment(date).format('YYYY-MM-DD');

    try {
      const response = await AppointmentsService.getByClinicAndDate(clinic, formattedDate);
      const parsedData = response.data.data;

      this.appointments.normal = parsedData.normal;
      this.appointments.overBookings = parsedData.overBookings;

      this.mergeAppointmentsArray();
    } catch (error) {
      // TODO. Handle error
    }
    this.showAppointmentsOverlay = false;
  }

  // Get clinic stats for some day
  async getStats(date: Date, clinic: string) {
    this.showStatsOverlay = true;

    const params = {
      clinic,
      dateFrom: moment(date).format('YYYY-MM-DD'),
      dateTo: moment(date).format('YYYY-MM-DD'),
    };

    try {
      const response = await ReportsService.getAppointments(params);

      const parsedData = response.data.data;
      this.appointmentsStats = parsedData.appointments;
    } catch (error) {
      // TODO. Handle error
    }
    this.showStatsOverlay = false;
  }

  // Merge appointments to map with key as time
  mergeAppointmentsArray() {
    const appointmentsWithTimesMap = this.createAppointmentsWithTimesArray();

    if (!appointmentsWithTimesMap) {
      // TODO. Handle error
      return false;
    }

    if (this.appointments.normal) {
      Object.values(this.appointments.normal).forEach((value: { time: string }) => {
        appointmentsWithTimesMap.set(value.time, value);
      });

      // Convert map to array so we can use v-for
      this.appointmentsWithTimes = Appointments.convertMapToArray(appointmentsWithTimesMap);
    }

    return true;
  }

  // Convert a map to an array
  static convertMapToArray(map: Map<string, object>): { }[] {
    const responseArray: { }[] = [];
    const keys = Array.from(map.keys());

    keys.forEach((key: string) => {
      const appointment = map.get(key);
      if (appointment) {
        responseArray.push(appointment);
      }
    });

    return responseArray;
  }

  // Create a map which key is time (for example "08:00")
  // and value will be an appointment
  private createAppointmentsWithTimesArray() {
    // Get selected clinic
    const selectedClinic = parseInt(this.selectedClinic, 10);
    const clinic = this.clinics.find((obj) => obj.id === selectedClinic);

    if (!clinic) {
      // TODO. Handle error
      return false;
    }

    // Set first opening hour
    let date = moment();
    date.hour(parseInt(clinic.start_time.split(':')[0], 10));
    date.minutes(parseInt(clinic.start_time.split(':')[1], 10));

    const endDate = moment();
    endDate.hour((parseInt(clinic.end_time.split(':')[0], 10)));
    endDate.minutes((parseInt(clinic.end_time.split(':')[1], 10)));

    const appointmentsWithTimesMap = new Map<string, object>();

    while (date <= endDate) {
      appointmentsWithTimesMap.set(date.format('HH:mm'), {
        id: date.format('HH:mm'),
        time: date.format('HH:mm'),
        // eslint-disable-next-line @typescript-eslint/camelcase
        updated_at: date.format('HH:mm'),
      });
      date = date.add(clinic.shift_duration, 'minutes');
    }

    return appointmentsWithTimesMap;
  }
}
</script>
