<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Consultas</h3>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar consultas por:</strong>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <!-- Establishment -->
        <b-col>
          <b-form-group
              id="form-group-estblishment"
              label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
                id="input-establishment"
                :defaultValue="form.value"
                v-on:select-establishment-type="form.value = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Patient -->
          <b-form-group id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                :defaultValue="form.patientName"
                :key="`patient-${form.patient}`"
                v-on:select-patient="form.patient = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Periodo -->
          <b-form-group id="form-group-period" label="Fecha">
            <b-row>
              <b-col>
                <DatePicker placeholder="Desde" v-on:select-date="form.period.from = $event" />
              </b-col>
              <b-col>
                <DatePicker placeholder="Hasta" v-on:select-date="form.period.to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col md="3">
          <!-- Staying Type -->
          <b-form-group
            id="form-group-staying-type" label="Atencion" label-for="input-staying-type">
            <StayingTypesDropDown
              id="input-staying-type"
              v-on:select-staying-type-type="form.staying_type = $event" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>

      <hr />

      <!-- List of appointments -->
      <b-row v-if="appointments.length > 0">
        <b-col>
          <table class="table table-bordered table-condensed" :key="currentPage">
            <thead>
                <tr>
                  <th style="width: 10%">Fecha</th>
                  <th style="width: 10%">Turno</th>
                  <th style="width: 15%">Consultorio</th>
                  <th style="width: 35%">Paciente</th>
                  <th style="width: 15%"></th>
                  <th style="width: 5%"></th>
                </tr>
            </thead>
            <tbody>
              <tr v-for="(appointment) in appointments" :key="appointment.id">
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
                <td>{{ appointment.clinic.name }}</td>
                <td>
                  <div>
                    <strong>
                      <router-link :to="{ path: `/pacientes/${appointment.patient.id}`}">
                        {{ appointment.patient.full_name }}
                      </router-link>
                    </strong>
                  </div>
                  <div>({{ appointment.patient.healthcare.name }})</div>
                </td>
                <td>
                  <OrderBadge
                    :key="appointment.id"
                    :order="appointment.order" />
                </td>
                <td>
                  <!-- Dropdown -->
                  <b-dropdown size="sm" text="">
                    <b-dropdown-item :to="{ path: `/oncologia/quimioterapias/${appointment.id}` }">
                      <font-awesome-icon icon="eye" /> Ver Consulta
                    </b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <!-- eslint-disable-next-line max-len -->
                    <b-dropdown-item :to="{ path: `/facturacion/pedidos/nuevo/quimioterapia/${appointment.id}` }">
                      <font-awesome-icon icon="plus" /> Agregar Pedido
                    </b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item>
                      <font-awesome-icon icon="trash" /> Borrar
                    </b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item>
                      <font-awesome-icon icon="check" /> Autorizado
                    </b-dropdown-item>
                  </b-dropdown>
                </td>
                </tr>
            </tbody>
          </table>
        </b-col>
      </b-row>

      <!-- Pagination -->
      <b-row v-if="appointments.length > 0">
        <b-col>
          <b-pagination
            align="center"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
            v-on:input="paginationEventhandler"
          ></b-pagination>
        </b-col>
      </b-row>

    </b-form>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import AppointmentsService from '../services/AppointmentsService';

import PatientsDropDown from './PatientsDropDown.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import StayingTypesDropDown from './DropDowns/StayingTypesDropDown.vue';
import DatePicker from './DatePicker.vue';
import OrderBadge from './OrderBadge.vue';

@Component({
  components: {
    DatePicker,
    HealthcaresDropDown,
    OrderBadge,
    PatientsDropDown,
    EstablishmentsDropDown,
    StayingTypesDropDown,
  },
})
export default class AppointmentsList extends Vue {
  private form = {
    page: '1',
    patient: '',
    patientName: '',
  };

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private appointments: Array<object> = [];

  async mounted() {
    if (this.$route.query.paciente) {
      const patient: string = this.$route.query.paciente.toString();

      // Get studies by patient
      const response = await AppointmentsService.find({ patient });

      if (response) {
        const data = JSON.parse(response.data.data);

        // Clear
        this.appointments = [];

        // Paginator
        this.currentPage = 1;
        this.totalRows = data.total;
        this.perPage = data.per_page;

        // Set patient
        if (data.data) {
          this.form.patient = this.$route.query.paciente.toString();
          this.form.patientName = data.data[0].patient.full_name;
        } else {
          // Find patient and set name
        }

        // Set data
        this.appointments = data.data;
      }
    }
  }

  async onSubmit(evt: Event) {
    evt.preventDefault();

    // Call API
    const response = await AppointmentsService.find(this.form);
    // Reset list
    this.appointments = [];

    const data = JSON.parse(response.data.data);

    // Paginator
    this.totalRows = data.total;
    this.perPage = data.per_page;

    // Set data
    this.appointments = data.data;
  }

  async paginationEventhandler(event: number) {
    this.form.page = event.toString();
    this.currentPage = event;

    const response = await AppointmentsService.find(this.form);

    const data = JSON.parse(response.data.data);

    // Reset list
    this.appointments = [];

    // Paginator
    this.totalRows = data.total;
    this.perPage = data.per_page;
    this.currentPage = event;

    // Set data
    this.appointments = data.data;
  }
}
</script>
