<template>
  <div>
    <table class="table table-condensed table-bordered">
      <thead>
          <tr>
              <th class="turno">Turno</th>
              <th class="paciente">Paciente</th>
              <th class="labels"></th>
              <th class="acciones"></th>
          </tr>
      </thead>
      <tbody>
        <tr v-for="(appointment, index) in appointments"
            :key="`${appointment.id}-${appointment.updated_at}`">
          <td class="turno">{{ appointment.time }}</td>
          <td v-if="!appointment.patient" class="paciente" colspan="3">
            <!-- eslint-disable-next-line max-len -->
            <router-link :id="`new-appointment-${appointment.time}`" :to="{ path: `/clinica/consultas/nueva/consultorio/${selectedClinic}/fecha/${selectedDate}/hora/${appointment.time}` }">
              Nuevo ...
            </router-link>
          </td>
          <td v-if="appointment.patient" class="paciente">
            <div>
              <router-link :to="{ path: `/pacientes/${appointment.patient.id}`}">
                {{ appointment.patient.lastName }}, {{ appointment.patient.firstName }}
              </router-link>
            </div>
            <div>({{ appointment.patient.healthcare.name }})</div>
          </td>
          <!-- Order and badges -->
          <td v-if="appointment.patient" class="labels">
            <OrderBadge
                :key="appointment.id"
                :order="appointment.order" />
            <br />
            <!-- First appointment -->
            <b-badge v-if="appointment.first"
              variant="success"
              title="Primera Consulta"
              style="background-color: purple;">
                Primera
            </b-badge> &nbsp;

            <!-- Absent -->
            <b-badge v-if="appointment.status === 'Ausente'"
              variant="secondary"
              title="Paciente Ausente">
                Ausente
            </b-badge> &nbsp;

            <!-- Attended -->
            <b-badge v-if="appointment.status === 'Atendido'"
              variant="info"
              title="Paciente Atendido">
                Atendido
            </b-badge> &nbsp;
          </td>
          <!-- Dropdown -->
          <td v-if="appointment.patient" class="acciones">
            <b-dropdown size="sm" text="" variant="primary">
              <!-- See appointment -->
              <b-dropdown-item :to="{ path: `/clinica/consultas/${appointment.id}` }">
                <font-awesome-icon icon="eye" size="xs" /> Ver Consulta
              </b-dropdown-item>
              <b-dropdown-divider></b-dropdown-divider>
              <!-- Add order -->
              <b-dropdown-item v-if="!appointment.order.date">
                <font-awesome-icon icon="plus" size="xs" /> Agregar Pedido
              </b-dropdown-item>
              <b-dropdown-divider v-if="!appointment.order.date"></b-dropdown-divider>
              <!-- Authorize -->
              <b-dropdown-item
                  v-if="appointment.order.date
                          && ['Pendiente', 'Anulado'].includes(appointment.order.status)"
                  v-on:click="authorizeOrder(appointment.id)">
                <font-awesome-icon icon="check" size="xs" /> Autorizado
              </b-dropdown-item>
              <b-dropdown-divider
                  v-if="appointment.order.date
                        && ['Pendiente', 'Anulado'].includes(appointment.order.status)
                        && appointment.status !== 'Atendido'" />
              <!-- Attended -->
              <b-dropdown-item v-if="appointment.status !== 'Atendido'
                    && appointment.order.status !== 'Autorizado'"
                  v-on:click="patientAttended(appointment.id)">
                <font-awesome-icon icon="check" size="xs" /> Paciente Atendido
              </b-dropdown-item>
              <!-- Present -->
              <b-dropdown-item v-if="appointment.status === 'Ausente'
                    && appointment.order.status !== 'Autorizado'"
                  v-on:click="patientPresent(appointment.id)">
                <font-awesome-icon icon="user" size="xs" /> Paciente Presente
              </b-dropdown-item>
              <!-- Absent -->
              <b-dropdown-item v-if="!['Ausente', 'Atendido'].includes(appointment.status)
                    && appointment.order.status !== 'Autorizado'"
                  v-on:click="patientAbsent(appointment.id)">
                <font-awesome-icon icon="times" size="xs" /> Paciente Ausente
              </b-dropdown-item>
              <!-- Delete -->
              <b-dropdown-divider
                  v-if="['Pendiente', 'Anulado'].includes(appointment.order.status)" />
              <b-dropdown-item @click="showDeleteModal(appointment.id, index)">
                <font-awesome-icon icon="trash" size="xs" /> Borrar
              </b-dropdown-item>
            </b-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import moment from 'moment';

import AppointmentsService from '../services/AppointmentsService';
import OrdersService from '../services/OrdersService';

import BaseComponent from './BaseComponent.vue';
import OrderBadge from './OrderBadge.vue';

interface Appointment {
  time?: string;
  patient?: { id: number; name: string; healthcare: string };
  status?: string;
  order?: { number: number; status: string };
}

@Component({
  components: {
    OrderBadge,
  },
})
export default class AppointmentBooking extends BaseComponent {
  @Prop() private appointments!: Array<any>;

  @Prop() private selectedClinic!: string;

  private selectedDate!: string;

  created() {
    // Get date
    if (this.$route.query.fecha) {
      this.selectedDate = this.$route.query.fecha.toString();
    } else {
      this.selectedDate = moment(new Date()).format('YYYY-MM-DD');
    }
  }

  private async authorizeOrder(id: number) {
    const appointment = this.appointments.find((obj) => obj.id === id);
    if (appointment) {
      const newStatus = 'Autorizado';
      const response = await OrdersService.update(appointment.order.id, { status: newStatus });

      if (response) {
        // eslint-disable-next-line @typescript-eslint/camelcase
        appointment.updated_at = new Date().getTime();
        appointment.order.status = newStatus;
        this.successToast('Pedido', 'Pedido autorizado');
      } else {
        // TODO. Handle error
      }
    }
  }

  private patientAttended(id: number) {
    this.changeStatus(id, 'Atendido');
  }

  private patientPresent(id: number) {
    this.changeStatus(id, 'Presente');
  }

  private patientAbsent(id: number) {
    this.changeStatus(id, 'Ausente');
  }

  private async changeStatus(id: number, newStatus: string) {
    const appointment = this.appointments.find((obj) => obj.id === id);

    if (appointment) {
      const response = await AppointmentsService.update(appointment.id, { status: newStatus });

      if (response) {
        appointment.status = newStatus;
        this.successToast('Consulta', 'Consulta actualizada');
      } else {
        // TODO. Handle error
      }
    }
  }

  private async showDeleteModal(id: number, index: number) {
    const response = await this.showDeleteModalBase(
      'Borrar consulta',
      '¿Esta seguro que desea borrar la consulta?',
      AppointmentsService.delete,
      id,
      null,
    );

    if (response) {
      const newElement = {
        id: this.appointments[index].time,
        time: this.appointments[index].time,
        // eslint-disable-next-line @typescript-eslint/camelcase
        updated_at: this.appointments[index].time,
      };

      // Remove from array
      this.appointments.splice(index, 1);

      // Add new element
      this.appointments.splice(index, 0, newElement);
    }
  }
}
</script>
