<template>
  <b-container class="bv-example-row">
    &nbsp;
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import OrdersService from '../services/OrdersService';

@Component({})
export default class BaseComponent extends Vue {
  // Logout function
  protected logout() {
    this.$store.dispatch('auth/logout')
      .then(() => {
        this.$router.push('/login');
      });
  }

  // Succes toast
  protected successToast(title: string, message: string) {
    this.$root.$bvToast.toast(message, {
      title,
      variant: 'success',
      solid: true,
    });
  }

  // Error toast
  protected errorToast(title: string, message: string) {
    this.$root.$bvToast.toast(message, {
      title,
      variant: 'danger',
      solid: true,
    });
  }

  // Delete modal
  protected async showDeleteModalBase(title: string, msg: string,
    deleteFunction: Function, id: number, path: string | null) {
    try {
      const value = await this.$bvModal.msgBoxConfirm(msg, {
        title,
        size: 'sm',
        buttonSize: 'sm',
        okVariant: 'danger',
        okTitle: 'SI',
        cancelTitle: 'NO',
        footerClass: 'p-2',
        hideHeaderClose: false,
        centered: true,
      });

      if (value) {
        // Delete object
        if (value) {
          const response = await deleteFunction(id);

          this.successToast('Borrado', 'Elemento borrado');

          if (response.status === 200) {
            // Redirect
            if (path) {
              this.$router.push({
                path,
              });
            }
          }
        }
      }

      return true;
    } catch (error) {
      // An error occurred
      // TODO. Handle error
      this.errorToast(error.response.data, error.response.data);
      return false;
    }
  }

  // Authorize order
  protected static async changeOrderStatus(orderId: number, newStatus: string): Promise<boolean> {
    try {
      const response = await OrdersService.update(orderId, { status: newStatus });

      if (response) {
        return true;
      }

      // TODO. Handle error
    } catch (error) {
      // TODO. Handle error
      return false;
    }

    return false;
  }
}
</script>
