<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <b-tabs content-class="mt-3" v-model="tabIndex">
            <b-tab title="Pedidos" @click="goToOrdersTab">
              <OrdersTab lazy/>
            </b-tab>
            <b-tab title="Pagos" @click="goToPaymentsTab">
              <PaymentsTab lazy/>
            </b-tab>
            <b-tab title="Obras Sociales" @click="goToHealthCaresTab">
              <HealthCaresTab />
            </b-tab>
          </b-tabs>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Route } from 'vue-router';

import HealthCaresTab from './BillingsTabs/HealthCaresTab.vue';
import PaymentsTab from './BillingsTabs/PaymentsTab.vue';
import OrdersTab from './BillingsTabs/OrdersTab.vue';

@Component({
  components: {
    HealthCaresTab,
    OrdersTab,
    PaymentsTab,
  },
})
export default class Billings extends Vue {
  private tabIndex = 2;

  created() {
    this.setActiveTab(this.$route.path);
  }

  private goToOrdersTab() {
    this.$router.push({ path: '/facturacion/pedidos' });
  }

  private goToPaymentsTab() {
    this.$router.push({ path: '/facturacion/pagos' });
  }

  private goToHealthCaresTab() {
    this.$router.push({ path: '/facturacion/periodos' });
  }

  @Watch('$route')
  async onRouteChanged(to: Route, from: Route) {
    if (to.path !== from.path) {
      this.setActiveTab(to.path);
    }
  }

  private setActiveTab(path: string) {
    if (path.includes('pedidos')) {
      this.tabIndex = 0;
    } else if (path.includes('pagos')) {
      this.tabIndex = 1;
    } else if (path.includes('periodos')) {
      this.tabIndex = 2;
    }
  }
}
</script>
