<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <b-tabs content-class="mt-3" v-model="tabIndex" v-if="period && period.id !== 0">
            <b-tab title="Periodo" active>
              <PeriodTab :periodProp="period" />
            </b-tab>
            <b-tab title="Pedidos">
              <OrdersTab :period="period" lazy />
            </b-tab>
            <b-tab title="Resumen">
              <OverviewTab :period="period" lazy />
            </b-tab>
            <b-tab title="Detalle">
              <DetailsTab :period="period" lazy />
            </b-tab>
          </b-tabs>
      </b-col>
    </b-row>

    <hr />

  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Route } from 'vue-router';

import OrdersService from '../services/OrdersService';

import PeriodTab from './BillingPeriodTabs/PeriodTab.vue';
import OrdersTab from './BillingPeriodTabs/OrdersTab.vue';
import OverviewTab from './BillingPeriodTabs/OverviewTab.vue';
import DetailsTab from './BillingPeriodTabs/DetailsTab.vue';

@Component({
  components: {
    PeriodTab,
    OrdersTab,
    OverviewTab,
    DetailsTab,
  },
})
export default class BillingPeriod extends Vue {
  private period = {
    id: 0,
    periodInfo: { id: 0 },
  };

  private tabIndex = 0;

  async created() {
    // Get ID
    const billingPeriodId = this.$route.params.periodId.toString();

    // Get period
    const response = await OrdersService.getBillingPeriod(parseInt(billingPeriodId, 10));

    if (response) {
      const { data } = response.data;

      this.period = data;

      // Set active tab depending on URL
      this.setActiveTab(this.$route.path);
    } else {
      // TODO. Handle error
    }
  }

  private setActiveTab(url: string) {
    if (url.includes('pedidos')) {
      this.tabIndex = 1;
    } else if (url.includes('resumen')) {
      this.tabIndex = 2;
    } else if (url.includes('detalle')) {
      this.tabIndex = 3;
    } else {
      this.tabIndex = 0;
    }
  }

  // Change URL when tab changes
  @Watch('tabIndex')
  onTabChanged(value: number) {
    let path: string;

    switch (value) {
      case 0:
        path = `/facturacion/periodos/${this.period.periodInfo.id}`;
        break;
      case 1:
        path = `/facturacion/periodos/${this.period.periodInfo.id}/pedidos`;
        break;
      case 2:
        path = `/facturacion/periodos/${this.period.periodInfo.id}/resumen`;
        break;
      case 3:
        path = `/facturacion/periodos/${this.period.periodInfo.id}/detalle`;
        break;
      default:
        path = `/facturacion/periodos/${this.period.periodInfo.id}`;
        break;
    }

    // Check paths are different
    if (this.$route.path !== path) {
      this.$router.push({
        path,
      });
    }
  }

  @Watch('$route')
  onRouteChanged(to: Route, from: Route): boolean {
    if (to.path === from.path) {
      return false;
    }

    this.setActiveTab(to.path);

    return true;
  }
}
</script>
