<template>
  <b-form-select id="form-select-blood-type" v-model="bloodType"
    :options="bloodTypes">
  </b-form-select>
</template>

<script lang="ts">
import {
  Component, Vue, Watch, Prop,
} from 'vue-property-decorator';

@Component
export default class BloodTypesDropDown extends Vue {
  @Prop() private defaultValue!: string;

  private bloodType = '';

  private bloodTypes: Array<object> = [];

  mounted() {
    const bloodTypeValues = ['0+', '0-', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-'];
    bloodTypeValues.forEach((value) => this.bloodTypes.push({ value, text: value }));

    if (this.defaultValue) {
      this.bloodType = this.defaultValue;
    }
  }

  @Watch('bloodType')
  onPropertyChanged(value: string) {
    this.$emit('select-blood-type', value);
    this.$emit('input', value);
  }
}
</script>
