<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Quimioterapias</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <router-link to="/oncologia/quimioterapias/nueva">
          <b-button type="submit" variant="primary">Agregar Quimioterapia</b-button>
        </router-link>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar quimioterapias por:</strong>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Patient -->
          <b-form-group :key="patientName"
              id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                :defaultValue="patientName"
                v-on:select-patient="form.patient = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Periodo -->
          <b-form-group id="form-group-period" label="Fecha">
            <b-row>
              <b-col>
                <DatePicker placeholder="Desde" v-on:select-date="form.period.from = $event" />
              </b-col>
              <b-col>
                <DatePicker placeholder="Hasta" v-on:select-date="form.period.to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>

      <hr />

      <!-- List of chemotherapies -->
      <b-row>
        <b-col>
          <b-overlay :show="showOverlay" rounded="sm">
            <table class="table table-bordered table-condensed" :key="currentPage">
              <caption />
              <thead>
                  <tr>
                      <th id="th-date" style="width: 10%">Fecha</th>
                      <th id="th-patient" style="width: 50%">Paciente</th>
                      <th id="th-sessions" style="width: 15%">Sesiones</th>
                      <th id="th-order" style="width: 20%"></th>
                      <th id="th-actions" style="width: 5%"></th>
                  </tr>
              </thead>
              <tbody v-if="chemotherapies.length > 0">
                <tr v-for="(chemotherapy, index) in chemotherapies" :key="chemotherapy.id">
                  <td>{{ chemotherapy.date }}</td>
                  <td>
                    <div>
                      <router-link :to="{ path: `/pacientes/${chemotherapy.patient.id}`}">
                        {{ chemotherapy.patient.full_name }}
                      </router-link>
                    </div>
                    <div>({{ chemotherapy.patient.healthcare.name }})</div>
                  </td>
                  <td>{{ chemotherapy.number_of_days }}</td>
                  <td>
                    <OrderBadge
                      :key="chemotherapy.order.updated_at"
                      :order="chemotherapy.order" />
                  </td>
                  <td>
                    <!-- Dropdown -->
                    <b-dropdown size="sm" text="">
                      <b-dropdown-item
                          :to="{ path: `/oncologia/quimioterapias/${chemotherapy.id}` }">
                        <font-awesome-icon icon="eye" size="xs" /> Ver Quimioterapia
                      </b-dropdown-item>
                      <b-dropdown-divider />
                      <!-- eslint-disable-next-line max-len -->
                      <b-dropdown-item :to="{ path: `/facturacion/pedidos/nuevo/quimioterapia/${chemotherapy.id}` }"
                          v-if="!chemotherapy.order || !chemotherapy.order.date" >
                        <font-awesome-icon icon="plus" size="xs" /> Agregar Pedido
                      </b-dropdown-item>
                      <b-dropdown-divider v-if="!chemotherapy.order || !chemotherapy.order.date" />
                      <b-dropdown-item @click="authorizeOrder(index)"
                          v-if="chemotherapy.order && chemotherapy.order.date
                            && chemotherapy.order.status === 'Pendiente'" >
                        <font-awesome-icon icon="check" size="xs" /> Autorizado
                      </b-dropdown-item>
                      <b-dropdown-divider v-if="chemotherapy.order && chemotherapy.order.date
                          && chemotherapy.order.status === 'Pendiente'" />
                      <b-dropdown-item @click="showDeleteModal(chemotherapy.id, index)">
                        <font-awesome-icon icon="trash" size="xs" /> Borrar
                      </b-dropdown-item>
                    </b-dropdown>
                  </td>
                  </tr>
              </tbody>
            </table>
          </b-overlay>
        </b-col>
      </b-row>

      <!-- Pagination -->
      <b-row v-if="chemotherapies.length > 0">
        <b-col>
          <b-pagination
            align="center"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
            v-on:input="paginationEventhandler"
          ></b-pagination>
        </b-col>
      </b-row>

    </b-form>

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import BaseComponent from './BaseComponent.vue';
import PatientsDropDown from './PatientsDropDown.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import DatePicker from './DatePicker.vue';
import ChemotherapiesService from '../services/ChemotherapiesService';
import OrderBadge from './OrderBadge.vue';

interface Chemotherapy {
  order: { id: number; status: string; updated_at: string };
  patient: { healthcare: {} };
}

@Component({
  components: {
    DatePicker,
    HealthcaresDropDown,
    OrderBadge,
    PatientsDropDown,
  },
})
export default class Chemotherapies extends BaseComponent {
  private form = {
    page: '1',
    patient: '',
    patientName: '',
  };

  private patientName = '';

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private chemotherapies: Chemotherapy[] = [];

  private showOverlay = false;

  async created() {
    if (this.$route.query.paciente) {
      this.showOverlay = true;
      this.form.patient = this.$route.query.paciente.toString();
      const patient: string = this.$route.query.paciente.toString();

      // Get chemotherapies by patient
      try {
        const response = await ChemotherapiesService.find({ patient });

        if (response) {
          const { data } = response.data;

          // Clear
          this.chemotherapies = [];

          // Paginator
          this.currentPage = 1;
          this.totalRows = data.total;
          this.perPage = data.per_page;

          // Set patient
          if (data.data) {
            this.form.patient = this.$route.query.paciente.toString();
            this.form.patientName = data.data[0].patient.full_name;
            this.patientName = data.data[0].patient.full_name;
          } else {
            // Find patient and set name
          }

          // Set data
          this.chemotherapies = data.data;
        }
      } catch (error) {
        // TODO. Handle error
      }
      this.showOverlay = false;
    }
  }

  private async onSubmit(evt: Event) {
    evt.preventDefault();
    this.showOverlay = true;

    // Call API
    try {
      const response = await ChemotherapiesService.find(this.form);
      // Reset list
      this.chemotherapies = [];

      const { data } = response.data;

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;

      // Set data
      this.chemotherapies = data.data;
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  private async paginationEventhandler(event: number) {
    this.showOverlay = true;
    this.form.page = event.toString();
    this.currentPage = event;

    try {
      const response = await ChemotherapiesService.find(this.form);

      const { data } = response.data;

      // Reset list
      this.chemotherapies = [];

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
      this.currentPage = event;

      // Set data
      this.chemotherapies = data.data;
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  // Show delete modal
  private async showDeleteModal(id: number, index: number) {
    const response = await this.showDeleteModalBase(
      'Borrar quimioterapia',
      '¿Esta seguro que desea borrar la quimioterapia?',
      ChemotherapiesService.delete,
      id,
      null,
    );

    if (response) {
      // Remove from array
      this.chemotherapies.splice(index, 1);
    }
  }

  // Authorize order
  private async authorizeOrder(index: number) {
    const { order } = this.chemotherapies[index];
    if (await BaseComponent.changeOrderStatus(order.id, 'Autorizado')) {
      order.status = 'Autorizado';
      // eslint-disable-next-line @typescript-eslint/camelcase
      order.updated_at = new Date().getTime().toString();
      this.successToast('Quimioterapia', 'Quimioterapia autorizada!');
    } else {
      // TODO. Handle error
    }
  }
}
</script>
