<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Quimioterapia</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <!-- Authorized -->
        <b-button
            v-if="chemotherapy.order && chemotherapy.order.date
                    && ['Pendiente', 'Anulado'].includes(chemotherapy.order.status)"
            size="sm" variant="success"
            v-on:click="changeOrderStatus('Autorizado')">
          Autorizado
        </b-button> &nbsp;
        <!-- Add new order -->
        <b-button
            :to="{ path: `/facturacion/pedidos/nuevo/quimioterapia/${chemotherapy.id}`}"
            v-if="!chemotherapy.order || !chemotherapy.order.date"
            size="sm" variant="light">
          Agregar Nuevo Pedido
        </b-button> &nbsp;
        <!-- Add payment -->
        <b-button
            v-b-modal.add-payment-modal
            size="sm" variant="light">
          Agregar Pago
        </b-button> &nbsp;

        <!-- Delete -->
        <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
         <!-- Order -->
        <OrderBadge
          :key="chemotherapy.id"
          :order="chemotherapy.order" />
      </b-col>
    </b-row>

    <b-row v-if="chemotherapy && chemotherapy.id !== 0" :key="chemotherapy.updated_at">
      <b-col md="4">
        <dl>
          <!-- Patient -->
          <dt>Paciente</dt>
          <dd>{{ chemotherapy.patient.full_name }}</dd>

          <!-- Healthcare -->
          <dt>Obra Social</dt>
          <dd>{{ chemotherapy.patient.healthcare.name }}</dd>

          <!-- Date -->
          <EditableDtInputText
            inputType="date"
            text="Fecha de Inicio"
            formKey="date"
            :value="chemotherapy.date"
            :editable="editable.date"
            v-on:update-value="updateValue($event)" />

          <!-- Number of Days -->
          <EditableDtInputText
            text="Cantidad de Dias"
            formKey="number_of_days"
            :value="chemotherapy.number_of_days"
            :editable="editable.number_of_days"
            v-on:update-value="updateValue($event)" />

          <!-- Frequency -->
          <EditableDtInputText
            text="Frequencia de la Practica"
            formKey="frequency"
            :value="chemotherapy.frequency"
            :editable="editable.frequency"
            v-on:update-value="updateValue($event)" />

          <!-- Establishment -->
          <EditableDtInputText
            inputType="establishment"
            text="Establecimiento"
            formKey="establishment"
            :value="chemotherapy.establishment"
            :editable="editable.establishment"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <dl>
          <dt>Pagos</dt>
          <dd>
            <PaymentsTable
                :payments="chemotherapy.payments"
                v-on:deleted-payment-id="deletePayment($event)" />
          </dd>
        </dl>
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>
    </b-row>

    <!-- Modals -->
    <AddPaymentModal
        medicalServiceType="quimioterapia"
        :medicalServiceId="chemotherapy.id"
        v-on:added-payment="chemotherapy.payments.push($event)" />

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import ChemotherapiesService from '../services/ChemotherapiesService';

import BaseComponent from './BaseComponent.vue';
import OrderBadge from './OrderBadge.vue';
import AddPaymentModal from './Modals/AddPaymentModal.vue';
import PaymentsTable from './Tables/PaymentsTable.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';
import DatePicker from './DatePicker.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';

@Component({
  components: {
    OrderBadge,
    AddPaymentModal,
    PaymentsTable,
    EditableDtInputText,
    DatePicker,
    EstablishmentsDropDown,
  },
})
export default class Chemotherapy extends BaseComponent {
  private chemotherapy = {
    id: 0,
    patient: { healthcare: {} },
    payments: [],
  };

  private editable = {
    date: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    number_of_days: false,
    frequency: false,
    establishment: false,
  };

  private toEdit = {
    key: '',
    value: '',
    oldValue: '',
  };

  private frequencyOptions = [
    { text: 'Diaria', value: 'Diaria' },
    { text: 'Semanal', value: 'Semanal' },
    { text: 'Quincenal', value: 'Quincenal' },
    { text: 'Mensual', value: 'Mensual' },
    { text: '21 Dias', value: '21 Dias' },
    { text: '28 Dias', value: '28 Dias' },
  ];

  async created() {
    // Get ID from path
    const chemotherapyId = parseInt(this.$route.params.chemotherapyId, 10);
    // Get chemotherapy
    const response = await ChemotherapiesService.getById(chemotherapyId);

    if (response) {
      const data = JSON.parse(response.data.data);
      this.chemotherapy = data;
    } else {
      // TODO. Handle error
    }
  }

  private async updateValue(updateBody: {}) {
    // Update chemotherapy
    try {
      const response = await ChemotherapiesService.update(this.chemotherapy.id, updateBody);

      if (response) {
        this.successToast('Quimioterapia', 'Quimioterapia actualizada');
        const key = Object.keys(updateBody)[0];
        this.chemotherapy[key] = updateBody[key];

        // Refresh data
        this.chemotherapy = JSON.parse(response.data.data);
      }
    } catch (error) {
      // TODO. Handle error
    }
  }

  private showDeleteModal() {
    this.showDeleteModalBase(
      'Borrar quimioterapia',
      '¿Esta seguro que desea borrar la quimioterapia?',
      ChemotherapiesService.delete,
      this.chemotherapy.id,
      '/oncologia/quimioterapias',
    );
  }

  private async deletePayment(paymentId: number) {
    // Remove payment from array
    this.chemotherapy.payments = this.chemotherapy.payments
      .filter((payment: { id: number }) => payment.id !== paymentId);
  }
}
</script>
