<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Establecimientos</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-button to="/establecimientos/nuevo" type="submit" variant="primary">
          Agregar Establecimiento
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <b-card-group deck>
          <b-card v-for="(establishment) in establishments" :key="establishment.id"
              bg-variant="light" header="" class="text-center">
            <b-card-text>
              <router-link :to="`/establecimientos/${establishment.id}`">
                {{ establishment.name }}
              </router-link>
            </b-card-text>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import EstablishmentsService from '../services/EstablishmentsService';

@Component({ })
export default class Clinics extends Vue {
  private establishments = [];

  async created() {
    // Get establishements
    const response = await EstablishmentsService.getAll();

    if (response) {
      const data = JSON.parse(response.data.data);
      this.establishments = data;
    } else {
      // TODO. Handle error
    }
  }
}
</script>
