<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col cols="9">
        <b-tabs content-class="mt-3" v-model="tabIndex">
          <b-tab :button-id="'clinic-tab-' + tab.id"
            :title="tab.title"
            v-for="(tab) in tabs"
            :key="tab.tabIndex"
            v-on:click="selectClinic(tab.id)"/>
        </b-tabs>
      </b-col>
      <b-col cols="3">
        <v-date-picker
          v-model="date"
          :popover="{ placement: 'bottom', visibility: 'click' }"
          class="float-right">
          <b-button variant="success" size="sm">
            <font-awesome-icon icon="calendar-alt" size="xs" /> &nbsp;
          </b-button>
        </v-date-picker>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import {
  Component, Vue, Watch,
} from 'vue-property-decorator';
import moment from 'moment';
import VCalendar from 'v-calendar';

@Component({
  components: {
    VCalendar,
  },
})
export default class ClinicsTabs extends Vue {
  private tabIndex = 0;

  private date = new Date();

  private formattedDate = moment(new Date()).format('YYYY-MM-DD');

  private tabs = [
    { id: 1, tabIndex: 0, title: 'Caleta Olivia' },
    { id: 2, tabIndex: 1, title: 'Comodoro 1' },
    { id: 3, tabIndex: 2, title: 'Comodoro 3' },
    { id: 4, tabIndex: 3, title: 'DONANTES' },
    { id: 5, tabIndex: 4, title: 'Quimioterapias' },
  ];

  created() {
    if (this.$route.params.clinicId) {
      this.tabIndex = parseInt(this.$route.params.clinicId, 10) - 1;
    }
  }

  updated() {
    if (this.$route.params.clinicId) {
      this.tabIndex = parseInt(this.$route.params.clinicId, 10) - 1;
    }
  }

  selectClinic(clinicId: number) {
    this.$router.push({
      path: `/clinica/consultorios/${clinicId}/consultas?fecha=${this.formattedDate}`,
      params: { medicalForm: 'test' },
    });
    this.$emit('select-clinic', clinicId);
  }

  @Watch('date')
  onPropertyChanged(value: string) {
    // Change format to YYYY-MM-DD
    const date = moment(value);
    this.formattedDate = date.format('YYYY-MM-DD');

    this.$emit('select-clinic-date', this.formattedDate);
    const selectedClinic = this.tabs.find((tab) => tab.tabIndex === this.tabIndex);

    if (selectedClinic) {
      this.$router.push({
        path: `/clinica/consultorios/${selectedClinic.id}/consultas?fecha=${this.formattedDate}`,
        params: { medicalForm: 'test' },
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
