<template>
  <div>
    <table class="resumen table table-condensed table-bordered">
        <tbody><tr>
            <th class="span1">Consultas:</th>
            <td>26</td>
            <th class="span1">Turnos:</th>
            <td>21</td>
            <th class="span1">Sobreturnos:</th>
            <td>5</td>
            <th class="span1">Primera:</th>
            <td>2</td>
            <th class="span1">Atendidos:</th>
            <td>20</td>
            <th class="span1">Ausentes:</th>
            <td>5</td>
        </tr>
    </tbody></table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class ClinicStats extends Vue {
  @Prop() private msg!: string;
}
</script>
