<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Consultorios</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-button to="/clinica/consultorios/nuevo" type="submit" variant="primary">
          Agregar Consultorio
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <b-card-group deck>
          <b-card v-for="(clinic) in clinics" :key="clinic.id"
              bg-variant="light" class="text-center">
            <b-card-title>
              <router-link :to="`/establecimientos/${clinic.id}`">
                {{ clinic.name }}
              </router-link>
            </b-card-title>
            <b-card-body>
              <b-badge variant="success">Habilitado</b-badge> &nbsp;
              <b-badge variant="primary">Principal</b-badge>
              <h6>Horarios de Atencion</h6>
              <p>
                De {{ clinic.start_time }} a {{ clinic.end_time }}
                 durante {{ clinic.shift_duration }} Minutos
              </p>
            </b-card-body>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import ClinicsService from '../services/ClinicsService';

@Component({ })
export default class Clinics extends Vue {
  private clinics = [];

  async created() {
    // Get establishements
    const response = await ClinicsService.getAll();

    if (response) {
      const data = JSON.parse(response.data.data);
      this.clinics = data;
    } else {
      // TODO. Handle error
    }
  }
}
</script>
