<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nuevo Periodo</h3>
        <hr />
      </b-col>
    </b-row>

    <b-row>
      <!-- Healthcare -->
      <b-col>
        <dl>
          <dt>Obra Social</dt>
          <dd>{{ healthcare.name }}</dd>
        </dl>
      </b-col>
      <!-- Establishment -->
      <b-col>
        <dl>
          <dt>Establecimiento</dt>
          <dd>{{ establishment }}</dd>
        </dl>
      </b-col>
      <!-- Date From -->
      <b-col>
        <dl>
          <dt>Desde</dt>
          <dd>{{ dateFrom }}</dd>
        </dl>
      </b-col>
      <!-- Date To -->
      <b-col>
        <dl>
          <dt>Hasta</dt>
          <dd>{{ dateTo }}</dd>
        </dl>
      </b-col>
    </b-row>

    <b-row v-if="valueSets && valueSets.length > 0">
      <b-col>
        <!-- Value set -->
        <b-form-group
            id="input-group-value-set" label="Juego de Valores" label-for="input-value-set">
          <b-form-select id="form-select-value-set"
            v-model="selectedValueSet"
            :options="valueSets"
            value-field="id"
            text-field="date" />
        </b-form-group>
      </b-col>
      <b-col>
        <!-- Fees table -->
        <table class="table table-bordered table-condensed">
          <tbody>
            <tr>
              <th>Valor Unidad Honorarios</th>
              <th>Valor Unidad Gastos</th>
              <th>Valor Unidad Bioquimica</th>
            </tr>
            <tr v-if="healthcare.value_sets[selectedValueSet]">
              <!-- eslint-disable-next-line max-len -->
              <td>{{ healthcare.value_sets[selectedValueSet].fee }}</td>
              <!-- eslint-disable-next-line max-len -->
              <td>{{ healthcare.value_sets[selectedValueSet].expenses }}</td>
              <!-- eslint-disable-next-line max-len -->
              <td>{{ healthcare.value_sets[selectedValueSet].biochemistry }}</td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
    <!-- No value sets -->
    <b-row v-else>
      <b-col>
        <b-alert show variant="danger">
          <font-awesome-icon icon="exclamation-triangle" />
            La obra social no tiene ningun Juego de Valor.
            <router-link :to="`/obras_sociales/${healthcare.id}/valores`">
              Por favor agregue uno.
            </router-link>
        </b-alert>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-alert show variant="warning">
          <font-awesome-icon icon="exclamation-triangle" />
            Los pedidos marcados en <strong>amarillo</strong> contienen
             codigos que no estan registrados en la obra social, estos
             codigos se van a ignorar al cerrar el periodo.
             Para agregarlos ir a Configuracion -&gt; Obras Sociales
        </b-alert>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <b-overlay :show="orders === null" rounded="sm">
            <table class="table table-condensed table-bordered">
              <thead>
                <tr>
                  <th style="width: 5%">Facturar</th>
                  <th style="width: 5%">Pedido</th>
                  <th style="width: 10%">Fecha</th>
                  <th style="width: 22%">Paciente</th>
                  <th style="width: 25%">Descripcion</th>
                  <th style="width: 10%">Atencion</th>
                  <th style="width: 8%"></th>
                </tr>
              </thead>
              <tbody v-if="!orders || orders.length === 0">
                <tr>
                  <td colspan="6">No hay pedidos para facturar en ese periodo.</td>
                </tr>
              </tbody>
              <tbody v-for="(order) in orders" :key="order.id">
                <tr>
                  <td style="text-align: center; vertical-align: middle;">
                    <b-form-checkbox
                        :id="`checkbox-${order.id}`"
                        v-model="order.bill"
                        name="`checkbox-${order.id}`" />
                  </td>
                  <td>
                    <OrderBadge
                      :key="order.id"
                      :order="order" />
                  </td>
                    <td>{{ order.date }}</td>
                    <td>
                      <router-link :to="{ path: `/pacientes/${order.patient.id}`}">
                          {{ order.patient.full_name }}
                        </router-link>
                    </td>
                    <td>{{ order.description }}</td>
                    <td>{{ order.staying_type }}</td>
                    <td>
                      <!-- More detail -->
                      <b-button
                          variant="light" size="sm"
                          @click="order.display_codes = !order.display_codes">
                        <font-awesome-icon
                            :icon="order.display_codes ? 'minus' : 'plus'" size="xs" /> &nbsp;
                      </b-button> &nbsp;
                      <!-- Dropdown -->
                      <b-dropdown variant="light" size="sm" text="">
                        <b-dropdown-item :to="{ path: `/facturacion/pedidos/${order.id}` }">
                          <font-awesome-icon icon="eye" /> Ver Pedido
                        </b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item>
                          <font-awesome-icon icon="check-circle" /> Revisado
                        </b-dropdown-item>
                        <b-dropdown-item>
                          <font-awesome-icon icon="ban" /> Anular
                        </b-dropdown-item>
                        <b-dropdown-divider></b-dropdown-divider>
                        <b-dropdown-item>
                          <font-awesome-icon icon="trash" /> Borrar
                        </b-dropdown-item>
                      </b-dropdown>
                    </td>
                </tr>
                <!-- Codes. Hidden by default -->
                <tr v-if="order.display_codes">
                  <td colspan="7">
                    <table class="table table-condensed table-bordered">
                      <thead>
                        <tr>
                          <th class="span1">Codigo</th>
                          <th class="span8">Descripcion</th>
                          <th class="span1">Cantidad</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(practice) in order.practices" :key="practice.id">
                          <td>{{ practice.practice.code }}</td>
                          <td>{{ practice.practice.description }}</td>
                          <td>{{ practice.quantity }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-overlay>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary" :disabled="selectedValueSet === 0">
            Cerrar Periodo
          </b-button>
        </b-col>
      </b-row>

    </b-form>

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import OrdersService from '../services/OrdersService';
import HealthcaresService from '../services/HealthcaresService';

import BaseComponent from './BaseComponent.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import DatePicker from './DatePicker.vue';
import OrderBadge from './OrderBadge.vue';

interface ValueSet {
  index: number;
  id: number;
  fee: number;
  expenses: number;
  biochemistry: number;
}

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
    EstablishmentsDropDown,
    OrderBadge,
  },
})
export default class CloseBillingPeriod extends BaseComponent {
  private orders: [] | null = null;

  private healthcareId!: string;

  // eslint-disable-next-line @typescript-eslint/camelcase
  private healthcare = { id: 0, name: '', value_sets: [] as ValueSet [] };

  private establishment!: string | (string | null)[];

  private dateFrom!: string | (string | null)[];

  private dateTo!: string | (string | null)[];

  private selectedValueSet = 0;

  private newPeriod = {};

  async created() {
    this.healthcareId = this.$route.query.obra_social.toString();
    this.establishment = this.$route.query.establecimiento.toString();
    this.dateFrom = this.$route.query.desde.toString();
    this.dateTo = this.$route.query.hasta.toString();

    // Get establishment
    if (this.establishment === 'null') {
      this.establishment = 'Todos';
    }

    // Get healthcare
    if (this.healthcareId) {
      const response = await HealthcaresService.getById(parseInt(this.healthcareId, 10));

      if (response) {
        const data = JSON.parse(response.data.data);
        this.healthcare = data;

        if (this.healthcare.value_sets && this.healthcare.value_sets.length > 0) {
          this.selectedValueSet = this.healthcare.value_sets[0].id;
        } else {
          this.selectedValueSet = 0;
        }
      } else {
        // TODO. Handle error
      }
    }

    // Get orders
    const response = await OrdersService.findReadyToBill({
      establishment: this.establishment,
      healthcare: this.healthcareId,
      // eslint-disable-next-line @typescript-eslint/camelcase
      date_from: this.dateFrom,
      // eslint-disable-next-line @typescript-eslint/camelcase
      date_to: this.dateTo,
    });

    if (response) {
      const data = JSON.parse(response.data.data);

      this.orders = data;

      if (this.orders !== null) {
        Object.keys(this.orders).forEach((key) => {
          if (this.orders && this.orders[key]) {
            this.orders[key].displayCodes = false;
            this.orders[key].displayCodesIcon = 'plus';
          }
        });
      }
    } else {
      // TODO. Handle error
    }
  }

  private get valueSets(): ValueSet[] {
    if (this.healthcare) {
      const valueSets: ValueSet [] = [];
      this.healthcare.value_sets.forEach((valueSet: ValueSet, index) => {
        valueSets.push({ ...valueSet, index });
      });

      return valueSets;
    }

    return [];
  }

  async onSubmit(evt: Event) {
    evt.preventDefault();

    if (this.orders === null) {
      return false;
    }

    const billedOrders = this.orders
      .filter((order: { bill: boolean }) => order.bill === true);

    const orderIds = billedOrders.map((order: {id: number}) => order.id);

    const valueSet = this.valueSets
      .find((obj) => obj.id === this.selectedValueSet);

    if (!valueSet) {
      // TODO. Handle error
      return false;
    }

    const newPeriod = {
      dateFrom: this.dateFrom,
      dateTo: this.dateTo,
      healthcare: this.healthcare.id,
      orders: orderIds,
      valueSet: valueSet.id,
    };

    const response = await OrdersService.closBillingPeriod(newPeriod);

    if (response) {
      // Go to period
      const data = JSON.parse(response.data.data);

      this.successToast('Periodo', 'Periodo cerrado!');

      this.$router.push({
        path: `/facturacion/periodos/${data.id}`,
      });
    } else {
      // TODO. Handle error
      return false;
    }

    return true;
  }
}
</script>
