<template>
  <v-date-picker
    v-model="date"
    locale="es"
    :popover="{ placement: 'bottom', visibility: 'click' }"
    :input-props='{ placeholder: placeholder }'>
  </v-date-picker>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Watch,
} from 'vue-property-decorator';
import VCalendar from 'v-calendar';
import moment from 'moment';

@Component({
  components: {
    VCalendar,
  },
})
export default class DatePicker extends Vue {
  @Prop() private placeholder!: string;

  @Prop() private defaultValue!: string;

  private date: Date | null = null;

  created() {
    if (this.defaultValue) {
      this.date = moment(this.defaultValue, 'YYYY-MM-DD').toDate();
    } else {
      this.date = null;
    }
  }

  @Watch('date')
  onPropertyChanged(value: string) {
    // Change format to YYYY-MM-DD
    if (value) {
      const date = moment(value);
      this.$emit('select-date', date.format('YYYY-MM-DD'));
    } else {
      this.$emit('select-date', null);
    }
  }
}
</script>
