<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Logs</h3>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar eventos por:</strong>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Period -->
          <b-form-group id="form-group-period" label="Periodo">
            <b-row>
              <b-col>
                <DatePicker
                  placeholder="Desde"
                  v-on:select-date="form.date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker
                  placeholder="Hasta"
                  v-on:select-date="form.date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- User -->
          <b-form-group id="form-group-user" label="Usuario">
            <UsersDropDown v-model="form.user" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Entity -->
          <b-form-group id="form-group-entity" label="Entidad">
            <EntityDropDown v-on:entity-type="form.entity_type = $event"
                v-on:entity-id="form.entity_id = $event" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>

      <hr />

      <!-- Alert message -->
      <b-row>
        <b-col>
          <b-alert show variant="warning">
            <font-awesome-icon icon="exclamation-triangle" />
            Los registros se guardan durante 180 dias
          </b-alert>
        </b-col>
      </b-row>

      <!-- List of Logs -->
      <b-row>
        <b-col>
          <b-overlay :show="showOverlay" rounded="sm">
            <table class="table table-bordered table-condensed" :key="currentPage">
              <caption />
              <thead>
                <tr>
                  <th id="th-date" class="span2">Fecha</th>
                  <th id="th-event" class="span10">Evento</th>
                </tr>
              </thead>
              <tbody v-if="logs.length > 0">
                <tr v-for="(log) in logs"
                    :class="getRowClass(log.action_type)" :key="log.id">
                  <td>{{ log.date }}</td>
                  <td>{{ log.event }}</td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr>
                  <td colspan="2">
                    No hay eventos con los parametros seleccionados.
                  </td>
                </tr>
              </tbody>
            </table>
          </b-overlay>
        </b-col>
      </b-row>

      <!-- Pagination -->
      <b-row v-if="logs.length > 0">
        <b-col>
          <b-pagination
            align="center"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
            v-on:input="paginationEventhandler"
          ></b-pagination>
        </b-col>
      </b-row>

    </b-form>

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import EventLogsService from '../services/EventLogsService';

import BaseComponent from './BaseComponent.vue';
import UsersDropDown from './DropDowns/UsersDropDown.vue';
import DatePicker from './DatePicker.vue';
import EntityDropDown from './DropDowns/EntityDropDown.vue';

interface EventLog {
  id: number;
  date: string;
  event: string;
}

@Component({
  components: {
    DatePicker,
    UsersDropDown,
    EntityDropDown,
  },
})
export default class EventLogs extends BaseComponent {
  private form = {
    page: '1',
  };

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private logs: EventLog[] = [];

  private showOverlay = false;

  private rowClasses = {
    delete: 'table-danger',
    add: 'table-success',
    edit: 'table-warning',
  }

  private async onSubmit(evt: Event) {
    evt.preventDefault();
    this.showOverlay = true;

    // Call API
    try {
      const response = await EventLogsService.find(this.form);

      // Reset list
      this.logs = [];

      const { data } = response.data;

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;

      // Set data
      this.logs = data.data;
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  private async paginationEventhandler(event: number) {
    this.showOverlay = true;
    this.form.page = event.toString();
    this.currentPage = event;

    try {
      const response = await EventLogsService.find(this.form);

      const { data } = response.data;

      // Reset list
      this.logs = [];

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
      this.currentPage = event;

      // Set data
      this.logs = data.data;
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  private getRowClass(actionType: string): string {
    switch (actionType) {
      case 'Agrego':
        return this.rowClasses.add;
      case 'Modifico':
        return this.rowClasses.edit;
      case 'Borro':
        return this.rowClasses.delete;
      default:
        return '';
    }
  }
}
</script>
