<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark" style="margin-bottom: 10px;">
      <b-navbar-brand href="#">LINFO</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">
            <router-link class="nav-link" to="/">
              <font-awesome-icon icon="calendar-alt" /> Consultas
            </router-link>
          </b-nav-item>
          <b-nav-item href="#">
            <router-link class="nav-link" to="/laboratorio/estudios">
              <font-awesome-icon icon="flask" /> Estudios
            </router-link>
          </b-nav-item>
          <b-nav-item href="#">
            <router-link class="nav-link" to="/pacientes">
              <font-awesome-icon icon="users" /> Pacientes
            </router-link>
          </b-nav-item>
          <b-nav-item href="#">
            <router-link class="nav-link" to="/banco/reservas">
              <font-awesome-icon icon="tint" /> Transfusiones
            </router-link>
          </b-nav-item>
          <b-nav-item href="#">
            <router-link class="nav-link" to="/oncologia/quimioterapias">
              <font-awesome-icon icon="asterisk" /> Quimioterapias
            </router-link>
          </b-nav-item>
          <b-nav-item href="#">
            <router-link class="nav-link" to="/reportes/consultas">
              <font-awesome-icon icon="chart-bar" /> Reportes
            </router-link>
          </b-nav-item>
          <b-nav-item href="#">
            <router-link class="nav-link" to="/facturacion/periodos">
              <font-awesome-icon icon="dollar-sign" /> Facturacion
            </router-link>
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">

          <b-nav-item-dropdown right>
            <template v-slot:button-content>
              <font-awesome-icon icon="wrench" />
            </template>
            <b-dropdown-item to="/usuarios">Usuarios</b-dropdown-item>
            <b-dropdown-item to="/obras_sociales">Obras Sociales</b-dropdown-item>
            <b-dropdown-item to="/clinica/consultorios">Consultorios</b-dropdown-item>
            <b-dropdown-item to="/establecimientos">Establecimientos</b-dropdown-item>
            <b-dropdown-item to="/logs">Logs</b-dropdown-item>
          </b-nav-item-dropdown>

          <b-button-group>
            <b-dropdown variant="light" right>
              <template v-slot:button-content>
                <font-awesome-icon icon="user" />&nbsp;
                <span id="span-username">{{ username }}</span>
              </template>
              <b-dropdown-item @click="callLogout">Salir</b-dropdown-item>
            </b-dropdown>
          </b-button-group>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';

import BaseComponent from './BaseComponent.vue';

@Component
export default class Header extends BaseComponent {
  // Logout
  private callLogout() {
    this.logout();
  }

  private get username(): string {
    return this.$store.getters['auth/username'] || localStorage.getItem('username');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
