<template>
  <b-form-select id="form-select-healthcare" v-model="healthcare"
    :options="healthcares">
  </b-form-select>
</template>

<script lang="ts">
import {
  Component, Vue, Watch, Prop,
} from 'vue-property-decorator';

import HealthcaresService from '../services/HealthcaresService';

@Component
export default class HealthcaresDropDown extends Vue {
  @Prop() private defaultValue!: string;

  private healthcare = '';

  private healthcares: Array<object> = [];

  created() {
    if (this.defaultValue) {
      this.healthcare = this.defaultValue;
    }
  }

  mounted() {
    HealthcaresService.get()
      .then((response) => {
        const data = JSON.parse(response.data.data);
        for (let i = 0; i < data.length; i += 1) {
          this.healthcares.push({ value: data[i].id, text: data[i].name });
        }
      });
  }

  @Watch('healthcare')
  onPropertyChanged(value: string, oldValue: string) {
    this.$emit('select-healthcare', value);
  }
}
</script>
