<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <b-tabs content-class="mt-3">
            <b-tab title="Obras Sociales" active>
              <HealthCaresTab />
            </b-tab>
            <b-tab title="Presets">
              <PresetsTab lazy/>
            </b-tab>
          </b-tabs>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import HealthCaresTab from './HealthcaresTabs/HealthCaresTab.vue';
import PresetsTab from './HealthcaresTabs/PresetsTab.vue';

@Component({
  components: {
    HealthCaresTab,
    PresetsTab,
  },
})
export default class Healthcares extends Vue {
  private form = {
    email: '',
    name: '',
    food: null,
    checked: [],
  };

  onSubmit(evt: Event) {
    evt.preventDefault();
    const myForm = this.form;
    alert(JSON.stringify(this.form));
  }
}
</script>
