<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <b-tabs content-class="mt-3" v-model="tabIndex">
            <b-tab title="Obras Social" active>
              <HealthCaresTab :healthcare="healthcare" />
            </b-tab>
            <b-tab title="Nomenclador">
              <NomenclatorTab :healthcare="healthcare" lazy/>
            </b-tab>
            <b-tab title="Juegos de Valores">
              <ValueSetTab :healthcare="healthcare" lazy/>
            </b-tab>
          </b-tabs>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import HealthcaresService from '../services/HealthcaresService';

import HealthCaresTab from './HealthcareTabs/HealthcareTab.vue';
import NomenclatorTab from './HealthcareTabs/NomenclatorTab.vue';
import ValueSetTab from './HealthcareTabs/ValueSetTab.vue';

@Component({
  components: {
    HealthCaresTab,
    NomenclatorTab,
    ValueSetTab,
  },
})
export default class Healthcare extends Vue {
  private healthcare = {
    id: 0,
  };

  private tabIndex = 0;

  async created() {
    // Healthcare ID
    const healthcareId = parseInt(this.$route.params.healthcareId.toString(), 10);
    // Get healthcare
    const response = await HealthcaresService.getById(healthcareId);

    if (response) {
      const data = JSON.parse(response.data.data);

      this.healthcare = data;

      // Set active tab depending on URL
      this.setActiveTab(this.$route.path);
    } else {
      // TODO. Handle error
    }
  }

  private setActiveTab(url: string) {
    if (url.includes('nomenclador')) {
      this.tabIndex = 1;
    } else if (url.includes('valores')) {
      this.tabIndex = 2;
    } else {
      this.tabIndex = 0;
    }
  }

  // Change URL when tab changes
  @Watch('tabIndex')
  onTabChanged(value: number) {
    let path: string;

    switch (value) {
      case 0:
        path = `/obras_sociales/${this.healthcare.id}`;
        break;
      case 1:
        path = `/obras_sociales/${this.healthcare.id}/nomenclador`;
        break;
      case 2:
        path = `/obras_sociales/${this.healthcare.id}/valores`;
        break;
      default:
        path = `/obras_sociales/${this.healthcare.id}`;
        break;
    }

    // Check paths are different
    if (this.$route.path !== path) {
      this.$router.push({
        path,
      });
    }
  }
}
</script>
