<template>
  <b-container class="bv-example-row">
    <form class="form-login" @submit.prevent="login">
      <h2>Login</h2>
      <b-form-input id="input-username" required v-model="username" placeholder="Usuario" />
      <b-form-input id="input-password"
          required v-model="password" type="password" placeholder="Clave" />
      <!-- Error message if wrong credentials -->
      <div id="div-error-msg" v-if="showErrorMsg" style="color: red">
        Usuario o clave incorrecta
      </div>
      <hr/>
      <b-button id="btn-login" type="submit" variant="success">Entrar</b-button>
    </form>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Login extends Vue {
  private username = '';

  private password = '';

  private showErrorMsg = false;

  private login() {
    this.$store.dispatch('auth/login', { username: this.username, password: this.password })
      .then(() => {
        this.showErrorMsg = false;
        this.$router.push('/');
      })
      .catch((err) => {
        this.showErrorMsg = true;
      });
  }
}
</script>
