<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Estudios</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <router-link to="/laboratorio/estudios/nuevo">
          <b-button type="submit" variant="primary">Agregar Estudio</b-button>
        </router-link>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar estudios por:</strong>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Patient -->
          <b-form-group :key="form.patientName"
              id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                :defaultValue="form.patientName"
                v-on:select-patient="form.patient = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Periodo -->
          <b-form-group id="form-group-period" label="Periodo">
            <b-row>
              <b-col>
                <DatePicker placeholder="Desde" v-on:select-date="form.date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker placeholder="Hasta" v-on:select-date="form.date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- Staying Type -->
          <b-form-group
            id="form-group-staying-type" label="Atencion" label-for="input-staying-type">
            <StayingTypesDropDown
              id="input-staying-type"
              v-on:select-staying-type-type="form.staying_type = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Establishment -->
          <b-form-group
            id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
              id="input-establishment"
              :showAll="true"
              v-on:select-establishment-type="form.establishment = $event"
              />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Empty -->
          &nbsp;
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button id="btn-find-medical-study" type="submit" variant="primary">
            Buscar
          </b-button>
        </b-col>
      </b-row>

    </b-form>

      <hr />

      <!-- List of medical studies -->
      <b-row>
        <b-col>
          <b-overlay :show="showOverlay" rounded="sm">
            <table id="table-medical-studies"
                  class="table table-condensed table-bordered" :key="currentPage">
              <caption />
              <thead>
                <tr>
                  <th id="th-date" style="width: 10%">Fecha</th>
                  <th id="th-patient" style="width: 35%">Paciente</th>
                  <th id="th-study" style="width: 25%">Estudio</th>
                  <th id="th-order" style="width: 10%"></th>
                  <th id="th-actions" style="width: 5%"></th>
                </tr>
              </thead>
              <tbody v-if="medicalStudies && medicalStudies.length > 0">
                <tr v-for="(medicalStudy, index) in medicalStudies" :key="medicalStudy.id">
                  <td>{{ medicalStudy.date }}</td>
                  <td>
                    <router-link
                      :to="{ path: `/pacientes/${medicalStudy.patient.id}`}">
                      {{ medicalStudy.patient.full_name }}
                    </router-link>
                  </td>
                  <td>{{ medicalStudy.medical_study.description }}</td>
                  <td>
                    <OrderBadge
                      :key="`order-${medicalStudy.order.updated_at}`"
                      :order="medicalStudy.order" />
                  </td>
                  <td>
                    <!-- Dropdown -->
                    <b-dropdown id="div-dropdown" size="sm" text="">
                      <b-dropdown-item :to="{ path: `/laboratorio/estudios/${medicalStudy.id}` }">
                        <font-awesome-icon icon="eye" /> Ver Estudio
                      </b-dropdown-item>
                      <b-dropdown-divider></b-dropdown-divider>
                      <!-- eslint-disable-next-line max-len -->
                      <b-dropdown-item
                          v-if="!medicalStudy.order || !medicalStudy.order.date"
                          :to="{ path: `/facturacion/pedidos/nuevo/estudio/${medicalStudy.id}` }">
                        <font-awesome-icon icon="plus" /> Agregar Pedido
                      </b-dropdown-item>
                      <b-dropdown-divider
                          v-if="!medicalStudy.order || !medicalStudy.order.date" />
                      <b-dropdown-item
                          @click="authorizeOrder(index)"
                          v-if="medicalStudy.order && medicalStudy.order.date
                            && ['Pendiente', 'Anulado'].includes(medicalStudy.order.status)">
                        <font-awesome-icon icon="check" /> Autorizado
                      </b-dropdown-item>
                      <b-dropdown-divider
                          v-if="medicalStudy.order && medicalStudy.order.date
                            && ['Pendiente', 'Anulado'].includes(medicalStudy.order.status)" />
                      <b-dropdown-item @click="showDeleteModal(medicalStudy.id, index)">
                        <font-awesome-icon icon="trash" /> Borrar
                      </b-dropdown-item>
                    </b-dropdown>
                  </td>
                </tr>
              </tbody>
            </table>
          </b-overlay>
        </b-col>
      </b-row>

      <!-- Pagination -->
      <b-row v-if="medicalStudies.length > 0">
        <b-col>
          <b-pagination
            align="center"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
            v-on:input="paginationEventhandler"
          ></b-pagination>
        </b-col>
      </b-row>

  </b-container>
</template>

<script lang="ts">
import {
  Component,
} from 'vue-property-decorator';

import MedicalStudyAppointmentsService from '../services/MedicalStudyAppointmentsService';

import BaseComponent from './BaseComponent.vue';
import PatientsDropDown from './PatientsDropDown.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import StayingTypesDropDown from './DropDowns/StayingTypesDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import DatePicker from './DatePicker.vue';
import OrderBadge from './OrderBadge.vue';

interface MedicalStudy {
  order: { id: number; status: string; updated_at: string };
  patient: { healthcare: {} };
}

@Component({
  components: {
    PatientsDropDown,
    DatePicker,
    HealthcaresDropDown,
    OrderBadge,
    StayingTypesDropDown,
    EstablishmentsDropDown,
  },
})
export default class MedicalStudyAppointments extends BaseComponent {
  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private form = {
    page: '1',
    patient: '',
    patientName: '',
  };

  private medicalStudies: MedicalStudy[] = [];

  private showOverlay = false;

  async mounted() {
    if (this.$route.query.paciente) {
      this.showOverlay = true;
      const patient: string = this.$route.query.paciente.toString();

      // Get studies by patient
      try {
        const response = await MedicalStudyAppointmentsService.find({ patient });

        if (response) {
          const { data } = response.data;

          // Clear
          this.medicalStudies = [];

          // Paginator
          this.currentPage = 1;
          this.totalRows = data.total;
          this.perPage = data.per_page;

          // Set patient
          if (data.data) {
            this.form.patient = this.$route.query.paciente.toString();
            this.form.patientName = data.data[0].patient.full_name;
          } else {
            // Find patient and set name
          }

          // Set data
          this.medicalStudies = data.data;
        }
      } catch (error) {
        // TODO. Handle error
      }
      this.showOverlay = false;
    }
  }

  private async onSubmit(evt: Event) {
    evt.preventDefault();

    this.showOverlay = true;

    try {
      this.form.page = '1';
      const response = await MedicalStudyAppointmentsService.find(this.form);

      // Reset list
      this.medicalStudies = [];

      const { data } = response.data;

      // Paginator
      this.currentPage = 1;
      this.totalRows = data.total;
      this.perPage = data.per_page;

      this.medicalStudies = data.data;
    } catch (error) {
      // TODO. Handle error
    }
    this.showOverlay = false;
  }

  private async paginationEventhandler(event: number) {
    this.showOverlay = true;
    this.form.page = event.toString();
    this.currentPage = event;

    try {
      const response = await MedicalStudyAppointmentsService.find(this.form);

      const { data } = response.data;

      // Reset list
      this.medicalStudies = [];

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
      this.currentPage = event;

      this.medicalStudies = data.data;
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  // Show delete modal
  private async showDeleteModal(id: number, index: number) {
    const response = await this.showDeleteModalBase(
      'Borrar estudio',
      '¿Esta seguro que desea borrar el estudio?',
      MedicalStudyAppointmentsService.delete,
      id,
      null,
    );

    if (response) {
      // Remove from array
      this.medicalStudies.splice(index, 1);
    }
  }

  // Authorize order
  private async authorizeOrder(index: number) {
    const { order } = this.medicalStudies[index];
    if (await BaseComponent.changeOrderStatus(order.id, 'Autorizado')) {
      order.status = 'Autorizado';
      // eslint-disable-next-line @typescript-eslint/camelcase
      order.updated_at = new Date().getTime().toString();
      this.successToast('Estudio', 'Estudio autorizado!');
    } else {
      // TODO. Handle error
    }
  }
}
</script>
