<template>
  <b-overlay :show="showOverlay" rounded="sm">
    <b-container class="bv-example-row">
      <b-row>
        <b-col>
          <h3>Estudio</h3>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button size="sm" variant="success">
            Autorizado
          </b-button> &nbsp;
          <!-- Add new order -->
          <b-button
              :to="{ path: `/facturacion/pedidos/nuevo/estudio/${medicalStudy.id}`}"
              v-if="!medicalStudy.order || !medicalStudy.order.date"
              size="sm" variant="light">
            Agregar Nuevo Pedido
          </b-button> &nbsp;
          <!-- Add payment -->
          <b-button size="sm" variant="light" v-b-modal.add-payment-modal>
            Agregar Pago
          </b-button>
          <!-- Delete -->
          <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
            Borrar
          </b-button>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <!-- Order -->
          <OrderBadge
            :key="medicalStudy.id"
            :order="medicalStudy.order" /> &nbsp;

          <!-- Night emergency -->
          <b-badge v-if="medicalStudy.night_emergency"
              variant="dark"
              title="Urgencia Nocturna">
            <font-awesome-icon icon="moon" size="xs" />
              Urgencia Nocturna
          </b-badge>
        </b-col>
      </b-row>

      <b-row v-if="medicalStudy && medicalStudy.id !== 0" :key="medicalStudy.updated_at">
        <b-col md="4">
          <dl>
            <!-- Patient -->
            <dt>Paciente</dt>
            <dd>{{ medicalStudy.patient.full_name }}</dd>

            <!-- Healthcare -->
            <dt>Obra Social</dt>
            <dd>{{ medicalStudy.patient.healthcare.name }}</dd>

            <!-- Date -->
            <EditableDtInputText
              inputType="date"
              text="Fecha de Inicio"
              formKey="date"
              :value="medicalStudy.date"
              :editable="editable.date"
              v-on:update-value="updateValue($event)" />

            <!-- Medical study -->
            <EditableDtInputText
              :key="medicalStudy.medical_study.id"
              inputType="medicalStudy"
              text="Estudio"
              formKey="medicalStudy"
              :value="medicalStudy.medical_study_id"
              :medicalStudyDescription="medicalStudy.medical_study.description"
              :editable="editable.medicalStudy"
              v-on:update-value="updateValue($event)"/>

            <!-- Night Emergency -->
            <EditableDtInputText
              inputType="checkbox"
              text="Urgencia Nocturna"
              formKey="night_emergency"
              :value="medicalStudy.night_emergency"
              :editable="editable.night_emergency"
              v-on:update-value="updateValue($event)"/>

            <!-- Establishment -->
            <EditableDtInputText
              inputType="establishment"
              text="Establecimiento"
              formKey="establishment"
              :value="medicalStudy.establishment"
              :editable="editable.establishment"
              v-on:update-value="updateValue($event)" />
          </dl>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <dl>
            <dt>Pagos</dt>
            <dd>
              <PaymentsTable
                  :payments="medicalStudy.payments"
                  v-on:deleted-payment-id="deletePayment($event)" />
            </dd>
          </dl>
        </b-col>

        <!-- Empty column -->
        <b-col>
          &nbsp;
        </b-col>

        <!-- Empty column -->
        <b-col>
          &nbsp;
        </b-col>
      </b-row>

      <!-- Modals -->
      <AddPaymentModal
          medicalServiceType="estudio"
          :medicalServiceId="medicalStudy.id"
          v-on:added-payment="medicalStudy.payments.push($event)" />

    </b-container>
  </b-overlay>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import MedicalStudyAppointmentsService from '../services/MedicalStudyAppointmentsService';

import BaseComponent from './BaseComponent.vue';
import OrderBadge from './OrderBadge.vue';
import DatePicker from './DatePicker.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';
import AddPaymentModal from './Modals/AddPaymentModal.vue';
import PaymentsTable from './Tables/PaymentsTable.vue';

@Component({
  components: {
    OrderBadge,
    DatePicker,
    EstablishmentsDropDown,
    EditableDtInputText,
    AddPaymentModal,
    PaymentsTable,
  },
})
export default class MedicalStudyAppointment extends BaseComponent {
  private medicalStudy = {
    id: 0,
    // eslint-disable-next-line @typescript-eslint/camelcase
    medical_study_id: 0,
    patient: { healthcare: {} },
    // eslint-disable-next-line @typescript-eslint/camelcase
    medical_study: {},
    payments: [],
  };

  private editable = {
    date: false,
    medicalStudy: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    night_emergency: false,
    establishment: false,
  };

  private showOverlay = false;

  async created() {
    this.showOverlay = true;

    // Get ID from path
    const { medicalStudyId } = this.$route.params;

    // Get chemotherapy
    try {
      const response = await MedicalStudyAppointmentsService.getById(medicalStudyId);

      if (response) {
        const { data } = response.data;
        this.medicalStudy = data;
      } else {
        // TODO. Handle error
      }
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  // Edit medical study
  private async updateValue(updateBody: {}) {
    // Update study
    try {
      const response = await MedicalStudyAppointmentsService
        .update(this.medicalStudy.id, updateBody);

      if (response) {
        this.successToast('Estudio', 'Estudio actualizado');
        const key = Object.keys(updateBody)[0];
        this.medicalStudy[key] = updateBody[key];

        // Set medical study description and ID
        const data = JSON.parse(response.data.data);

        // Update all values
        this.medicalStudy = data;

        // eslint-disable-next-line @typescript-eslint/camelcase
        this.medicalStudy.medical_study_id = data.medical_study_id;
        // eslint-disable-next-line @typescript-eslint/camelcase
        this.medicalStudy.medical_study = { ...data.medical_study };
      }
    } catch (error) {
      // TODO. Handle error
    }
  }

  private showDeleteModal() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar el estudio?', {
      title: 'Borrar estudio',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await MedicalStudyAppointmentsService.delete(this.medicalStudy.id);

          if (response.status === 200) {
            // Go to studies
            this.$router.push({
              path: '/laboratorio/estudios',
            });
          }
        }
      })
      .catch((err) => {
        // An error occurred
      });
  }

  private async deletePayment(paymentId: number) {
    // Remove payment from array
    this.medicalStudy.payments = this.medicalStudy.payments
      .filter((payment: { id: number }) => payment.id !== paymentId);
  }
}
</script>
