<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nueva consulta</h3>
        <hr />
      </b-col>
    </b-row>
    <b-form @submit="onSubmit">
      <b-row>
        <b-col md="4">
          <!-- Patient -->
          <b-form-group id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                required
                v-on:select-patient="newAppointment.patient = $event" />
          </b-form-group>

          <!-- Establishment -->
          <b-form-group
              id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
                id="input-establishment"
                required
                v-on:select-establishment-type="newAppointment.establishment = $event" />
          </b-form-group>

          <!-- Date -->
          <b-form-group id="form-group-date" label="Turno" label-for="input-date">
            <b-form-input
              id="input-date"
              v-model="displayDate"
              required
              :disabled="true"></b-form-input>
          </b-form-group>

          <!-- Clinic -->
          <b-form-group id="form-group-clinic" label="Consultorio" label-for="input-clinic">
            <b-form-input
              id="input-clinic"
              v-model="clinicName"
              required
              :disabled="true"></b-form-input>
          </b-form-group>

          <!-- First time and Night Emergency -->
          <b-form-group id="form-group-checkboxes">
            <b-form-checkbox
                v-model="newAppointment.first"
                id="checkboxes-first">
              Primera Consulta
            </b-form-checkbox>
            <b-form-checkbox
                v-model="newAppointment.nightEmergency"
                id="checkboxes-night-emergency">
              Urgencia Nocturna
            </b-form-checkbox>
          </b-form-group>

          <hr />

          <b-button id="btn-save-appointment" type="submit" variant="primary">
            Siguiente
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import AppointmentsService from '../services/AppointmentsService';

import PatientsDropDown from './PatientsDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';

@Component({
  components: {
    PatientsDropDown,
    EstablishmentsDropDown,
  },
})
export default class NewAppointment extends Vue {
  private newAppointment = {
    nightEmergency: false,
    first: false,
    overShift: false,
    clinic: 1,
    time: '',
    date: '',
    patient: {},
  };

  private clinicName!: string;

  private displayDate!: string;

  created() {
    // If path does not have time then it's overbook
    if (!this.$route.params.time) {
      this.newAppointment.overShift = true;
    } else {
      this.newAppointment.overShift = false;
    }

    if (!this.newAppointment.overShift) {
      // For normal booking display date is "DATE TIME"
      this.displayDate = this.getDateAndTimeFromPath();
    } else {
      // For over shift diaplsy date is "DATE (Sobreturno)"
      this.displayDate = `${this.$route.params.date} (Sobreturno)`;
    }

    this.newAppointment.clinic = this.getClinicFromPath();
    this.clinicName = NewAppointment.getClinicName(this.newAppointment.clinic);
    this.newAppointment.time = this.$route.params.time;
    this.newAppointment.date = this.$route.params.date;
  }

  getDateAndTimeFromPath(): string {
    const { date, time } = this.$route.params;
    return `${date} ${time}`;
  }

  getClinicFromPath(): number {
    if (this.$route.params.clinicId) {
      return parseInt(this.$route.params.clinicId, 10);
    }

    // Default
    return 1;
  }

  // TODO. Don't hardcode this
  static getClinicName(clinicId: number) {
    switch (clinicId) {
      case 1:
        return 'Caleta Olivia';
      case 2:
        return 'Comodoro 1';
      case 3:
        return 'Comodoro 3';
      case 4:
        return 'DONANTES';
      case 5:
        return 'Quimioterapias';
      default:
        return 'ERROR';
    }
  }

  onSubmit(evt: Event) {
    return this.saveAppointment(evt);
  }

  async saveAppointment(evt: Event) {
    evt.preventDefault();

    if (!this.formIsValid()) {
      return false;
    }

    const response = await AppointmentsService.create(this.newAppointment);

    if (response) {
      const data = JSON.parse(response.data.data);
      this.$router.push({
        path: `/facturacion/pedidos/nuevo/consulta/${data.id}`,
      });
    } else {
      // TODO. Handle error
    }

    return true;
  }

  formIsValid() {
    if (!this.newAppointment.patient) {
      this.errorToast('Seleccione un paciente.');
      return false;
    }

    // Valid form
    return true;
  }

  private errorToast(message: string) {
    this.$bvToast.toast(message, {
      title: 'Error',
      variant: 'danger',
      solid: true,
    });
  }
}
</script>
