<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nuevo Periodo</h3>
        <hr />
      </b-col>
    </b-row>

    <!-- Filters -->
    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              :defaultValue="form.healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Establishment -->
          <b-form-group
            id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
              id="input-establishment"
              :showAll="true"
              :defaultValue="form.establishment"
              v-on:select-establishment-type="form.establishment = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Period -->
          <b-form-group id="form-group-period" label="Fecha">
            <b-row>
              <b-col>
                <DatePicker
                  :defaultValue="form.date_from"
                  v-on:select-date="form.date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker
                  :defaultValue="form.date_to"
                  v-on:select-date="form.date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <!-- eslint-disable-next-line max-len -->
          <b-button type="submit" variant="primary">Buscar Pedidos</b-button>
        </b-col>
      </b-row>

    </b-form>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import moment from 'moment';

import ChemotherapiesService from '../services/ChemotherapiesService';

import HealthcaresDropDown from './HealthcaresDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import DatePicker from './DatePicker.vue';

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
    EstablishmentsDropDown,
  },
})
export default class NewBillingPeriod extends Vue {
  private newBillingPeriod = {};

  private form = {
    healthcare: 1,
    establishment: null,
    // eslint-disable-next-line @typescript-eslint/camelcase
    date_from: moment(new Date()).format('YYYY-MM-DD'), // Todays date
    // eslint-disable-next-line @typescript-eslint/camelcase
    date_to: moment(new Date()).format('YYYY-MM-DD'), // Todays date
  };

  async onSubmit(evt: Event) {
    evt.preventDefault();

    if (!this.form.date_from) {
      this.errorToast('Seleccione fecha desde');
      return false;
    }

    if (!this.form.date_to) {
      this.errorToast('Seleccione fecha hasta');
      return false;
    }

    const link = `/facturacion/periodos/nuevo/pedidos?obra_social=${this.form.healthcare}&establecimiento=${this.form.establishment}&desde=${this.form.date_from}&hasta=${this.form.date_to}`;
    this.$router.push({
      path: link,
    });

    return true;
  }

  private errorToast(message: string) {
    this.$bvToast.toast(message, {
      title: 'Error',
      variant: 'danger',
      solid: true,
    });
  }
}
</script>
