<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nuevo Consultorio</h3>
      </b-col>
    </b-row>

    <hr />

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Doctor -->
          <b-form-group id="input-group-name" label="Nombre" label-for="input-name">
            <b-form-input
              id="input-name"
              v-model="newEstablishment.name"
              placeholder="Nombre"></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button type="submit" variant="success">Guardar</b-button>
        </b-col>
      </b-row>

    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import EstablishmentsService from '../services/EstablishmentsService';

@Component({ })
export default class NewClinic extends Vue {
  private newEstablishment = {};

  async onSubmit(evt: Event) {
    evt.preventDefault();

    // Create establishment
    const response = await EstablishmentsService.create(this.newEstablishment);

    if (response) {
      this.$router.push({
        path: '/establecimientos',
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
