<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nueva Quimioterapia</h3>
        <hr />
      </b-col>
    </b-row>
  <b-form @submit="onSubmit">
    <b-row>
      <b-col md="4">
        <!-- Patient -->
        <b-form-group id="form-group-patient" label="Paciente" label-for="input-patient">
          <PatientsDropDown
            id="input-patient"
            v-on:select-patient="newChemotherapy.patient = $event" />
        </b-form-group>

        <!-- Establishment -->
        <b-form-group
          id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
          <EstablishmentsDropDown
            id="input-establishment"
            v-on:select-establishment-type="newChemotherapy.establishment = $event" />
        </b-form-group>

        <!-- Date -->
        <b-form-group id="form-group-date" label="Fecha de Inicio" label-for="input-date">
          <DatePicker v-on:select-date="newChemotherapy.date = $event" />
        </b-form-group>

        <!-- Number of days -->
        <b-form-group
            id="input-group-number-of-days"
            label="Cantidad de Dias"
            label-for="input-number-of-days">
          <b-form-input
            id="input-number-of-days"
            v-model="newChemotherapy.numberOfDays"
            required
            placeholder="Cantidad de Dias" />
        </b-form-group>

        <!-- Frequency -->
        <b-form-group
            id="input-group-frequency"
            label="Frequencia de la Practica"
            label-for="input-frequency">
          <b-form-select
            id="input-frequency"
            v-model="newChemotherapy.frequency"
            :options="frequency"
            required />
        </b-form-group>

        <!-- Billings -->
        <b-form-group id="input-group-billing-order" label-for="checkboxes-billing-order">
          <b-form-checkbox v-model="newChemotherapy.billingOrder" id="checkbox-billing-order">
            Agregar Pedido de Facturacion
          </b-form-checkbox>
        </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-chemotherapy" type="submit" variant="primary">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import ChemotherapiesService from '../services/ChemotherapiesService';

import BaseComponent from './BaseComponent.vue';
import PatientsDropDown from './PatientsDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import DatePicker from './DatePicker.vue';

@Component({
  components: {
    PatientsDropDown,
    DatePicker,
    EstablishmentsDropDown,
  },
})
export default class NewChemotherapy extends BaseComponent {
  private newChemotherapy = {
    patient: '',
    establishment: '',
    date: '',
    frequency: '',
    numberOfDays: '',
    billingOrder: false,
  };

  private frequency = [
    { text: 'Diaria', value: 'Diaria' },
    { text: 'Semanal', value: 'Semanal' },
    { text: 'Quincenal', value: 'Quincenal' },
    { text: 'Mensual', value: 'Mensual' },
    { text: '21 Dias', value: '21 Dias' },
    { text: '28 Dias', value: '28 Dias' },
  ];

  async onSubmit(evt: Event) {
    return this.saveChemotherapy(evt);
  }

  async saveChemotherapy(evt: Event) {
    evt.preventDefault();
    const response = await ChemotherapiesService.create(this.newChemotherapy);

    if (response) {
      const data = JSON.parse(response.data.data);

      // Success message
      this.successToast('Quimioterapia', 'Quimioterapia agregada!');

      let path: string;

      if (this.newChemotherapy.billingOrder) {
        path = `/facturacion/pedidos/nuevo/quimioterapia/${data.id}`;
      } else {
        path = `/oncologia/quimioterapias/${data.id}`;
      }

      this.$router.push({
        path,
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
