<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <h4>Nueva obra social</h4>
      </b-col>
    </b-row>

    <hr />

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Name -->
          <b-form-group id="input-group-name" label="Nombre" label-for="input-name">
            <b-form-input
              id="input-name"
              required
              v-model="newHealthcare.name"
              placeholder="Nombre" />
          </b-form-group>

          <!-- Nomenclator -->
          <b-form-group label="Nomenclador">
            <b-form-radio
                id="radio-empty"
                v-model="newHealthcare.nomenclator"
                required
                name="nomenclator"
                value="empty">
              Nomenclador Vacio
            </b-form-radio>
            <b-form-radio
                id="radio-national"
                v-model="newHealthcare.nomenclator"
                required
                name="nomenclator"
                value="national">
              Nomenclador Nacional
            </b-form-radio>
            <b-form-radio
                id="radio-copy"
                v-model="newHealthcare.nomenclator"
                required
                name="nomenclator"
                value="copy">
              Copiar de:
            </b-form-radio>
          </b-form-group>
          <!-- Healthcares -->
          <b-row>
            <b-col md="4">
              <b-form-group id="form-group-healthcare" label="" label-for="input-healthcare">
                <HealthcaresDropDown
                  id="input-healthcare"
                  :disabled="newHealthcare.nomenclator !== 'copy'"
                  v-on:select-healthcare="newHealthcare.healthcare = $event" />
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button id="btn-save-healthcare" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import HealthcaresService from '../services/HealthcaresService';

import HealthcaresDropDown from './HealthcaresDropDown.vue';

@Component({
  components: {
    HealthcaresDropDown,
  },
})
export default class Healthcare extends Vue {
  private newHealthcare = {
    name: '',
    nomenclator: 'national',
    healthcare: '',
  };

  async onSubmit(evt: Event) {
    evt.preventDefault();

    if (this.formIsValid()) {
      const response = await HealthcaresService.create(this.newHealthcare);

      const data = JSON.parse(response.data.data);

      // Go to healthcare
      this.$router.push({
        path: `/obras_sociales/${data.id}`,
      });
    }
  }

  private formIsValid(): boolean {
    if (this.newHealthcare.nomenclator === 'copy') {
      if (!this.newHealthcare.healthcare) {
        this.errorToast('Seleccione obra social para copiar nomenclador');
        return false;
      }
    }

    return true;
  }

  private errorToast(message: string) {
    this.$bvToast.toast(message, {
      title: 'Error',
      variant: 'danger',
      solid: true,
    });
  }
}
</script>
