<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nuevo Estudio</h3>
        <hr />
      </b-col>
    </b-row>
    <b-form @submit="onSubmit">
      <b-row>
        <b-col md="4">
          <!-- Patient -->
          <b-form-group id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                v-on:select-patient="newMedicalStudy.patient = $event" />
          </b-form-group>

          <!-- Establishment -->
          <b-form-group
              id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
                id="input-establishment"
                v-on:select-establishment-type="newMedicalStudy.establishment = $event" />
          </b-form-group>

          <!-- Date -->
          <b-form-group id="form-group-date" label="Fecha" label-for="input-date">
            <DatePicker v-on:select-date="newMedicalStudy.date = $event" />
          </b-form-group>

          <!-- Night emergency -->
          <b-form-group id="input-group-night-emergency" label-for="checkboxes-night-emergency">
            <b-form-checkbox
                v-model="newMedicalStudy.nightEmergency"
                id="checkboxes-night-emergency">
              Urgencia Nocturna
            </b-form-checkbox>
          </b-form-group>

          <!-- Medical study -->
          <b-form-group
              id="input-group-medical-study" label="Estudio" label-for="input-medical-study">
            <b-form-select id="form-select-medical-study"
              v-model="newMedicalStudy.medicalStudyId"
              :options="medicalStudies">
            </b-form-select>
          </b-form-group>

          <b-form-group
              id="input-group-medical-study-other"
              label=""
              label-for="input-medical-study-other"
              v-if="newMedicalStudy.medicalStudyId === 0">
            <b-form-input
                id="input-medical-study-other"
                v-model="newMedicalStudy.medicalStudyDescription" placeholder="Estudio">
            </b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-medical-study" type="submit" variant="primary">
            Siguiente
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import MedicalStudiesService from '../services/MedicalStudiesService';
import MedicalStudyAppointmentsService from '../services/MedicalStudyAppointmentsService';

import PatientsDropDown from './PatientsDropDown.vue';
import DatePicker from './DatePicker.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';

@Component({
  components: {
    PatientsDropDown,
    DatePicker,
    EstablishmentsDropDown,
  },
})
export default class NewMedicalStudyAppointment extends Vue {
  private newMedicalStudy = {
    medicalStudyId: 0,
    nightEmergency: false,
  };

  private medicalStudies: Array<object> = [];

  private medicalStudy = {};

  mounted() {
    MedicalStudiesService.get()
      .then((response) => {
        const data = JSON.parse(response.data.data);

        // Add "Other" option
        this.medicalStudies.push({ value: 0, text: 'Otro...' });
        this.medicalStudies.push({ value: null, text: '-----------------', disabled: true });

        for (let i = 0; i < data.length; i += 1) {
          this.medicalStudies.push({ value: data[i].id, text: data[i].description });
        }
      });
  }

  onSubmit(evt: any) {
    return this.saveMedicalStudy(evt);
  }

  async saveMedicalStudy(evt: Event) {
    evt.preventDefault();
    const response = await MedicalStudyAppointmentsService.create(this.newMedicalStudy);

    if (response) {
      const { data } = response.data;
      this.$router.push({
        path: `/facturacion/pedidos/nuevo/estudio/${data.id}`,
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
