<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nueva consulta</h3>
        <hr />
      </b-col>
    </b-row>
  <b-form @submit="onSubmit" @reset="onReset" v-if="show">
    <b-row>
      <b-col>
          <!-- Patient -->
          <b-form-group
            id="input-group-1"
            label="Paciente"
            label-for="input-1"
            description="We'll never share your email with anyone else.">
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              required
              placeholder="Enter email"
            ></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>

      <!-- Date -->
      <b-form-group id="input-group-2" label="Fecha" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          required
          placeholder="Enter name"
          disabled="true"></b-form-input>
      </b-form-group>

      <!-- Night emergency -->
      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
          <b-form-checkbox value="that">Urgencia Nocturna</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <!-- Medical study -->
      <b-form-group id="input-group-2" label="Estudio" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          required
          placeholder="Enter name"
          disabled="true"></b-form-input>
      </b-form-group>

      <!-- Medical study - Other -->
      <b-form-group id="input-group-2" label="" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.name"
          required
          placeholder="Enter name"
          disabled="true"></b-form-input>
      </b-form-group>

      <hr />

      <router-link to="/facturacion/pedidos/nuevo/prestacion/1">
        <b-button type="submit" variant="primary">Siguiente</b-button>
      </router-link>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class NewMedicalStudy extends Vue {
  @Prop() private msg!: string;

  private form = {
    email: '',
    name: '',
    food: null,
    checked: [],
  };

  private foods = [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'];

  private show = true;

  onSubmit(evt: any) {
    evt.preventDefault();
    const myForm = this.form;
    // alert(JSON.stringify(this.form));
  }

  onReset(evt: any) {
    evt.preventDefault();
    // Reset our form values
    this.form.email = '';
    this.form.name = '';
    this.form.food = null;
    this.form.checked = [];
    // Trick to reset/clear native browser form validation state
    this.show = false;
    this.$nextTick(() => {
      this.show = true;
    });
  }
}
</script>
