<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nuevo Pedido</h3>
        <hr />
      </b-col>
    </b-row>

    <b-row v-if="practices[0].length === 0">
      <b-col>
        <b-alert
            show variant="danger"
            v-if="order && order.id !== 0">
          <font-awesome-icon icon="exclamation-triangle" />
            La obra social no tiene practicas.
            <router-link :to="`/obras_sociales/${order.patient.healthcare_id}/nomenclador`">
              Por favor agregue al menos una.
            </router-link>
        </b-alert>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-overlay :show="showOrderOverlay" rounded="sm">
        <b-row v-if="order && order.id !== 0">
          <b-col>
              <!-- Patient -->
              <b-form-group id="input-group-full-name" label="Paciente" label-for="input-full-name">
              <b-form-input
                id="input-full-name"
                v-model="order.patient.full_name"
                required
                :disabled="true"></b-form-input>
            </b-form-group>

            <!-- Healthcare -->
            <b-form-group
                id="input-group-healthcare" label="Obra Social" label-for="input-healthcare">
              <b-form-input
                id="input-healthcare"
                v-model="order.patient.healthcare.name"
                required
                :disabled="true"></b-form-input>
            </b-form-group>

            <!-- Establishment -->
              <b-form-group
                  id="form-group-establishment" label="Establecimiento"
                  label-for="input-establishment">
                <EstablishmentsDropDown
                  id="input-establishment"
                  :defaultValue="order.orderable.establishment"
                  v-on:select-establishment-type="order.establishment = $event"
                  :key="order.id" />
              </b-form-group>

            <!-- Date -->
            <b-form-group id="input-group-date" label="Fecha" label-for="input-date">
              <DatePicker
                :defaultValue="order.orderable.date || order.orderable.reservation_date"
                v-on:select-date="order.date = $event"
                :key="order.id" />
            </b-form-group>

            <!-- Diagnosis Dropdown -->
            <b-form-group
                v-if="patientDiagnosisDropDown && patientDiagnosisDropDown.length > 0"
                id="input-group-diagnosis" label="Diagnostico" label-for="input-diagnosis">
              <b-form-select id="input-diagnosis"
                  v-if="patientDiagnosisDropDown && patientDiagnosisDropDown.length > 0"
                  v-model="selectedDiagnosis"
                  :options="patientDiagnosisDropDown">
              </b-form-select>
            </b-form-group>

            <!-- Input field for diagnosis not in dropdown -->
            <b-form-group
                id="input-group-diagnosis-other"
                label="Diagnostico"
                label-for="input-diagnosis-other"
                v-if="selectedDiagnosis == 0"
                :key="`diagnosis-${order.diagnosisId}`">
              <DiagnosisDropDown
                  id="input-diagnosis-other"
                  v-if="selectedDiagnosis == 0"
                  v-on:select-diagnosis="newDiagnosis = $event" />
            </b-form-group>
          </b-col>
          <b-col>
            <!-- Night emergency -->
            <b-form-checkbox
                v-model="order.night_emergency"
                :key="order.night_emergency">
              Urgencia Nocturna
            </b-form-checkbox>
            <br />
            <!-- Staying Type -->
            <b-form-group label="">
              <b-form-radio
                  id="radio-ambulatorio"
                  v-model="order.staying_type"
                  required
                  checked
                  name="staying_type"
                  value="Ambulatorio"
                  :key="'order.staying_type' + 1">
                Ambulatorio
              </b-form-radio>
              <b-form-radio
                  id="radio-internado"
                  v-model="order.staying_type"
                  required
                  name="staying_type"
                  value="Internado"
                  :key="'order.staying_type' + 2">
                Internado
              </b-form-radio>
            </b-form-group>

            <!-- Room -->
            <b-form-group id="input-group-room" label="Sala" label-for="input-room">
              <b-form-input
                id="input-room"
                v-model="order.orderable.room"
                placeholder="Sala"
                :disabled="order.staying_type === 'Ambulatorio'" />
            </b-form-group>

            <!-- Doctor -->
            <b-form-group id="input-group-doctor" label="Medico" label-for="input-doctor">
              <b-form-input
                id="input-doctor"
                v-model="order.doctor"
                placeholder="Doctor"></b-form-input>
            </b-form-group>

            <!-- Description -->
            <b-form-group
                id="input-group-description"
                label="Descripcion"
                label-for="input-description">
              <b-form-input
                id="input-2"
                v-model="order.description"
                required></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
      </b-overlay>

      <hr />

      <b-row>
        <b-col>
          <h6>Codigos seleccionados</h6>
        </b-col>
      </b-row>

      <!-- List of selected practice codes -->
      <b-row>
        <b-col>
          <ul id="codigos-seleccionados-izq">
            <li v-if="order.practices.length === 0">No se seleccionaron codigos para facturar</li>
            <li v-for="practice in order.practices" :key="practice.id">
              ({{ practice.code }}) {{ practice.description }} (x{{ practice.quantity }})
            </li>
          </ul>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-order-0" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>

      <!-- Presets -->
      <b-row v-if="presets && presets.length > 0 && presets[0].length > 0">
        <b-col>
          <b-row>
            <b-col>
              <h4>Presets (Conjuntos)</h4>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <table
                  v-if="presets[0] && presets[0].length > 0"
                  class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="span9">Descripcion</th>
                        <th class="span1">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  <tr v-for="(preset, index) in presets[0]" :key="preset.id">
                    <td>{{ preset.name }}</td>
                    <td>
                      <div>
                        <b-form-spinbutton
                          :id="'preset-spinbutton-' + index"
                          v-model="preset.quantity"
                          inline
                          min="0"
                          v-on:change="presetUpdated(preset)" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col>

            <b-col>
              <table
                  v-if="presets[1] && presets[1].length > 0"
                  class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="span9">Descripcion</th>
                        <th class="span1">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  <tr v-for="(preset, index) in presets[1]" :key="preset.id">
                    <td>{{ preset.name }}</td>
                    <td>
                      <div>
                        <b-form-spinbutton
                          :id="'preset-spinbutton-' + index"
                          v-model="preset.quantity"
                          inline
                          min="0"
                          v-on:change="presetUpdated(preset)" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <b-button id="btn-save-order-1" type="submit" variant="success">
                Guardar
              </b-button>
            </b-col>
          </b-row>

        </b-col>
      </b-row>

      <hr />

      <!-- Practices -->
      <b-row v-if="practices && practices.length > 0 && practices[0].length > 0">
        <b-col>
          <b-row>
            <b-col>
              <h4>Nomenclador</h4>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="span9">Descripcion</th>
                        <th class="span1">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  <tr v-for="(practice, index) in practices[0]" :key="practice.id">
                    <td>{{ practice.description }}</td>
                    <td>
                      <div>
                        <b-form-spinbutton
                          :id="'practice-spinbutton-' + index"
                          v-model="practice.quantity"
                          inline
                          min="0"
                          v-on:change="practiceUpdated(practice)" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col>

            <b-col>
              <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="span9">Descripcion</th>
                        <th class="span1">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                  <tr v-for="(practice, index) in practices[1]" :key="practice.id">
                    <td>{{ practice.description }}</td>
                    <td>
                      <div>
                        <b-form-spinbutton
                          :id="'practice-spinbutton-' + index"
                          v-model="practice.quantity"
                          inline
                          min="0"
                          v-on:change="practiceUpdated(practice)" />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <b-button id="btn-save-order-2" type="submit" variant="success">
                Guardar
              </b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';
import OrdersService from '../services/OrdersService';

import BaseComponent from './BaseComponent.vue';
import DatePicker from './DatePicker.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import DiagnosisDropDown from './DropDowns/DiagnosisDropDown.vue';

interface Order {
  id?: number;
  patient?: {
    id: number;
    fullName: string;
    healthcare: { id: number; name: string };
  };
  status?: string;
  order?: { number: number; status: string };
}

interface Preset {
  id: number;
  name: string;
  quantity: number;
  practices: Practice[];
}

interface Practice {
  id: number;
  code: number;
  description: string;
  quantity: number;
  pivot: { quantity: number };
}

interface Diagnosis {
  id: number;
  ICD10: string;
  description: string;
}

@Component({
  components: {
    DatePicker,
    EstablishmentsDropDown,
    DiagnosisDropDown,
  },
})
export default class NewOrder extends BaseComponent {
  @Prop() private msg!: string;

  @Prop() medicalForm!: string;

  private form = { };

  private order = {
    id: 0,
    patientId: 0,
    patient: {
      healthcare: {
        presets: [] as Preset[],
        practices: [] as Practice[],
      },
      diagnosis: [] as Diagnosis[],
    },
    practices: [] as Practice[],
    orderable: {
      date: Date,
      // eslint-disable-next-line @typescript-eslint/camelcase
      reservation_date: '',
      // eslint-disable-next-line @typescript-eslint/camelcase
      staying_type: 'Ambulatorio',
      doctor: '',
      room: '',
    },
    diagnosisId: 0,
    description: '',
    practiceType: '',
    practiceId: 0,
    // eslint-disable-next-line @typescript-eslint/camelcase
    night_emergency: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    staying_type: 'Ambulatorio',
    room: '',
    presets: [],
    doctor: '',
  };

  private value = 0;

  private patientDiagnosisDropDown: { value: string; text: string; disabled: boolean }[] = [];

  private selectedDiagnosis = 0;

  private newDiagnosis = 0;

  private showOrderOverlay = false;

  async created() {
    this.showOrderOverlay = true;
    const { medicalPracticeType } = this.$route.params;
    const medicalPracticeId = parseInt(this.$route.params.medicalPracticeId, 10);

    // TODO. Check type is valid
    switch (medicalPracticeType) {
      case 'consulta':
        break;
      case 'estudio':
        break;
      case 'reserva':
        break;
      case 'transfusion':
        break;
      case 'quimioterapia':
        break;
      default:
        // Error
    }

    // Get order
    try {
      const response = await OrdersService.getByMedicalPractice(
        medicalPracticeId,
        medicalPracticeType,
      );

      if (response) {
        const { data } = response.data;
        this.order = data;

        // Patient
        this.order.patientId = data.patient.id;

        // Description
        this.order.description = medicalPracticeType;
        // Practice
        this.order.practiceType = data.orderable_type;
        this.order.practiceId = data.orderable_id;

        // Night emergency
        // eslint-disable-next-line @typescript-eslint/camelcase
        this.order.night_emergency = data.orderable.night_emergency || false;
        // Staying type
        // eslint-disable-next-line @typescript-eslint/camelcase
        this.order.staying_type = data.orderable.staying_type || 'Ambulatorio';

        this.order.doctor = data.orderable.doctor || '';

        // Diagnogis
        if (this.order.patient.diagnosis && this.order.patient.diagnosis.length > 0) {
          this.patientDiagnosisDropDown = [];

          this.order.patient.diagnosis.forEach((diagnosis: Diagnosis) => {
            this.patientDiagnosisDropDown.push({
              value: diagnosis.id.toString(),
              text: `${diagnosis.ICD10} - ${diagnosis.description}`,
              disabled: false,
            });
          });
          // Add "other" option
          this.patientDiagnosisDropDown.push({ value: '-1', text: '-------------', disabled: true });
          this.patientDiagnosisDropDown.push({ value: '0', text: 'Otro...', disabled: false });

          // Select default value
          this.selectedDiagnosis = this.order.patient.diagnosis[0].id;
        }
      } else {
        // TODO. Handle error
      }
    } catch (error) {
      // TODO. Handle error
    }

    this.showOrderOverlay = false;
  }

  get presets(): Preset[][] {
    if (this.order) {
      const { presets } = this.order.patient.healthcare;

      for (let i = 0; i < presets.length; i += 1) {
        presets[i].quantity = 0;
      }

      // Split in two to show in two columns
      const halfwayThrough = Math.floor(presets.length / 2);

      // Don't split
      if (halfwayThrough === 0) {
        return [presets, []];
      }

      const arrayFirstHalf = presets.slice(0, halfwayThrough);
      const arraySecondHalf = presets.slice(halfwayThrough, presets.length);

      return [arrayFirstHalf, arraySecondHalf];
    }

    return [];
  }

  get practices(): Practice[][] {
    if (this.order) {
      const practices: Practice[] = [];

      for (let i = 0; i < this.order.patient.healthcare.presets.length; i += 1) {
        for (let j = 0; j < this.order.patient.healthcare.presets[i].practices.length; j += 1) {
          const practice = this.order.patient.healthcare.presets[i].practices[j];
          practice.quantity = 0;
          practices.push(practice);
        }
      }

      // Add order practices
      for (let i = 0; i < this.order.patient.healthcare.practices.length; i += 1) {
        const practice = this.order.patient.healthcare.practices[i];
        practice.quantity = 0;
        practices.push(practice);
      }

      // Delete duplicates
      const noDuplicates = practices.filter((a, b) => practices.indexOf(a) === b);

      // Split in two to show in two columns
      const halfwayThrough = Math.floor(noDuplicates.length / 2);

      // Don't split
      if (halfwayThrough === 0) {
        return [noDuplicates, []];
      }

      const arrayFirstHalf = noDuplicates.slice(0, halfwayThrough);
      const arraySecondHalf = noDuplicates.slice(halfwayThrough, noDuplicates.length);

      return [arrayFirstHalf, arraySecondHalf];
    }

    return [];
  }

  async getPresets() {
    return this.order.patient.healthcare.presets;
  }

  practiceUpdated(practice: Practice) {
    const orderPractice = this.findPracticeInOrder(practice.id);

    if (!orderPractice) {
      // First time
      this.order.practices.push(practice);
    } else {
      // Update quantity
    }

    // Remove all with quantity = 0
    this.clearOrderPractices();
  }

  presetUpdated(preset: Preset) {
    for (let i = 0; i < preset.practices.length; i += 1) {
      const orderPractice = this.findPracticeInOrder(preset.practices[i].id);
      const practice = this.findPracticeInPractices(preset.practices[i].id);

      if (practice) {
        let increment = true;

        const { quantity } = preset.practices[i].pivot;

        if (preset.quantity === practice.quantity + 1) {
          increment = true;
        } else if (preset.quantity === practice.quantity - 1) {
          increment = false;
        }

        if (orderPractice) {
          // Update counter
          if (increment) {
            orderPractice.quantity += quantity;
          } else {
            orderPractice.quantity -= quantity;
          }
        } else {
          // First time. Initialize Qty
          practice.quantity = quantity;
          this.order.practices.push(practice);
        }

        // Remove all with quantity = 0
        this.clearOrderPractices();
      }
    }
  }

  clearOrderPractices() {
    this.order.practices = this.order.practices.filter((practice) => practice.quantity > 0);
  }

  findPracticeInOrder(practiceId: number) {
    if (this.order && this.order.practices) {
      return this.order.practices.find((practice) => practice.id === practiceId);
    }

    return null;
  }

  findPracticeInPractices(practiceId: number) {
    if (this.practices) {
      // Look in first half
      const result = this.practices[0].find((practice) => practice.id === practiceId);

      if (result) {
        return result;
      }

      // Look in second half
      return this.practices[1].find((practice) => practice.id === practiceId);
    }

    return null;
  }

  async onSubmit(evt: Event) {
    evt.preventDefault();

    // Add diagnosis
    if (this.selectedDiagnosis !== 0) {
      // Get ID from dropdown
      this.order.diagnosisId = this.selectedDiagnosis;
    } else {
      this.order.diagnosisId = this.newDiagnosis;
    }

    // Staying type
    // eslint-disable-next-line @typescript-eslint/camelcase
    // this.order.staying_type = this.order.orderable.staying_type;

    // Room
    // this.order.room = this.order.orderable.room;

    // Doctor
    // this.order.doctor = this.order.orderable.doctor;

    if (!this.formIsValid()) {
      return null;
    }

    const response = await OrdersService.create(this.order);

    const parsedData = JSON.parse(response.data.data);

    if (parsedData) {
      this.successToast('Orden', 'Orden agregada!');

      this.$router.push({
        path: `/facturacion/pedidos/${parsedData.id}`,
      });
    } else {
      // TODO. Handle error
    }

    return true;
  }

  private formIsValid() {
    // Check practices codes
    if (this.order.practices.length === 0) {
      this.errorToast('Error', 'Seleccione los codigos.');
      return false;
    }

    // Check diagnosis
    if (!this.selectedDiagnosis && !this.newDiagnosis) {
      this.errorToast('Error', 'Seleccione un diagnostico.');
      return false;
    }

    // Valid form
    return true;
  }
}
</script>
