<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h4>Nuevo Preset</h4>
      </b-col>
    </b-row>

    <hr />

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
            <!-- Name -->
            <b-form-group id="input-group-name" label="Nombre" label-for="input-name">
              <b-form-input
                id="input-name"
                v-model="newPreset.name"
                required
                placeholder="Nombre"></b-form-input>
            </b-form-group>

            <p>Solo letras, numeros y puntos.</p>

            <!-- Description -->
            <b-form-group
                id="input-group-description" label="Descripcion" label-for="input-description">
              <b-form-input
                id="input-description"
                v-model="newPreset.description"
                required
                placeholder="Descripcion"></b-form-input>
            </b-form-group>

            <b-row>
              <b-col>
                Practicas
              </b-col>
            </b-row>

            <b-row v-for="(newPractice, index) in newPreset.practices" :key="index">
              <b-col>
                <b-form-input
                  :id="`input-code-${index}`"
                  v-model="newPractice.code"
                  placeholder="Codigo" />
              </b-col>
              <b-col>
                <b-form-input
                  :id="`input-quantity-${index}`"
                  v-model="newPractice.quantity"
                  placeholder="Cantidad" />
              </b-col>
              <b-col>
                <!-- Less -->
                <b-button
                  v-if="index > 0"
                  variant="danger" size="sm"
                  @click="removePractice(index)">
                  <font-awesome-icon icon="minus" size="xs" /> &nbsp;
                </b-button> &nbsp;
                <!-- More -->
                <b-button
                  v-if="index === newPreset.practices.length - 1"
                  variant="success" size="sm"
                  @click="addPractice(newPractice, index)">
                  <font-awesome-icon icon="plus" size="xs" /> &nbsp;
                </b-button>
              </b-col>
            </b-row>
        </b-col>

        <b-col>
          <!-- Global -->
          <b-form-checkbox
              v-model="newPreset.global"
              value="true"
              unchecked-value="false"
              :key="newPreset.global">
            Global
          </b-form-checkbox>
          <p>Se aplica a todas las obras sociales</p>
          <hr />
          <b-form-group label="">
            <b-form-checkbox-group
              id="checkbox-group-1"
              v-model="newPreset.healthcares"
              :options="healthcares"
              text-field="name"
              value-field="id"
              :disabled="newPreset.global === true"
              name="name">
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import HealthcaresService from '../services/HealthcaresService';
import PracticesService from '../services/PracticesService';

import BaseComponent from './BaseComponent.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import DatePicker from './DatePicker.vue';

interface NewPractice {
  code: string;
  quantity: number;
}

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class NewPreset extends BaseComponent {
  private newPreset = {
    global: true,
    healthcares: [],
    practices: [] as NewPractice[],
  };

  private healthcares = [];

  async created() {
    // Add empty practice
    this.newPreset.practices.push({ code: '', quantity: 0 });

    // Get all healthcares
    const response = await HealthcaresService.get();

    if (response) {
      const data = JSON.parse(response.data.data);

      this.healthcares = data;
    } else {
      // TODO. Handle error
    }
  }

  async onSubmit(evt: Event) {
    evt.preventDefault();

    if (!this.formIsValid()) {
      return null;
    }

    const response = await PracticesService.createPreset(this.newPreset);

    if (response) {
      const data = JSON.parse(response.data.data);

      // Success message
      this.successToast('Preset', 'Preset agregado!');

      // Go to preset
      this.$router.push({
        path: `/obras_sociales/presets/${data.id}`,
      });
    } else {
      // TODO. Handle error
    }

    return true;
  }

  private addPractice(newPractice: NewPractice, index: number) {
    if (this.newPreset.practices.length === index + 1) {
      if (newPractice.code.length > 0) {
        this.newPreset.practices.push({ code: '', quantity: 0 });
      }
    }
  }

  private removePractice(index: number) {
    this.newPreset.practices.splice(index, 1);
  }

  private formIsValid() {
    // Check there are practices
    const validPractices = this.newPreset.practices
      .filter((practice) => practice.quantity > 0 && practice.code.length > 0);

    if (!validPractices || validPractices.length === 0) {
      this.errorToast('Error', 'Seleccione practicas');
      return false;
    }

    return true;
  }
}
</script>
