<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nuevo Paciente</h3>
        <hr />
      </b-col>
    </b-row>
  <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Last name -->
            <b-form-group id="input-group-last-name" label="Apellido" label-for="input-last-name">
            <b-form-input
              id="input-last-name"
              v-model="form.lastName"
              required
              placeholder="Apellido"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Place of birth -->
            <b-form-group
              id="input-group-birth-place"
              label="Lugar de Origen"
              label-for="input-birth-place">
            <LocationsDropDown
              id="input-birth-place"
              v-on:select-location="form.birthPlace = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              :defaultValue="form.healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- First name -->
            <b-form-group id="input-group-first-name" label="Nombre" label-for="input-first-name">
            <b-form-input
              id="input-first-name"
              v-model="form.firstName"
              required
              placeholder="Nombre"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Place of residence -->
            <b-form-group
              id="input-group-residence-place"
              label="Lugar de Residencia"
              label-for="input-residence-place">
            <LocationsDropDown
              id="input-residence-place"
              v-on:select-location="form.residencePlace = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Member number -->
          <b-form-group
            id="input-group-healthcare-number"
            label="Num. Afiliado"
            label-for="input-healthcare-number">
            <b-form-input
              id="input-healthcare-number"
              v-model="form.healthcareNumber"
              :required="form.healthcare !== 1"
              placeholder="Num. Afiliado" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- DNI -->
            <b-form-group id="input-group-dni" label="D.N.I." label-for="input-dni">
            <b-form-input
              id="input-dni"
              v-model="form.dni"
              required
              placeholder="D.N.I."></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Phone number -->
          <b-form-group
            id="input-group-phone-number"
            label="Telefono"
            label-for="input-phone-number">
          <b-form-input
            id="input-phone-number"
            v-model="form.phoneNumber"
            placeholder="Telefono"></b-form-input>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Empty col -->
          &nbsp;
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- Date of birth -->
            <b-form-group
              id="input-group-dob"
              label="Fecha de Nacimiento (dd/mm/aaaa)"
              label-for="input-dob">
            <DatePicker
              id="input-dob"
              v-on:select-date="form.dateOfBirth = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Email -->
          <b-form-group
            id="input-group-email"
            label="Email"
            label-for="input-email">
          <b-form-input
            id="input-email"
            v-model="form.email"
            placeholder="Email"></b-form-input>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Empty col -->
          &nbsp;
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- Gender -->
            <b-form-group label="Sexo">
              <b-form-radio id="radio-gender-male" v-model="form.gender" name="gender" value="M">
                Masculino
              </b-form-radio>
              <b-form-radio id="radio-gender-female" v-model="form.gender" name="gender" value="F">
                Femenino
              </b-form-radio>
            </b-form-group>
        </b-col>

        <b-col>
          <!-- Empty col -->
          &nbsp;
        </b-col>

        <b-col>
          <!-- Empty col -->
          &nbsp;
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- Blood type -->
            <b-form-group
                id="input-group-blood-type"
                label="Grupo y Factor"
                label-for="input-blood-type">
              <BloodTypesDropDown
                  id="input-blood-type"
                  v-on:select-blood-type="form.bloodType = $event" />
            </b-form-group>
        </b-col>

        <b-col>
          <!-- Empty col -->
          &nbsp;
        </b-col>

        <b-col>
          <!-- Empty col -->
          &nbsp;
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button id="btn-save-patient" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>

    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import BaseComponent from './BaseComponent.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import BloodTypesDropDown from './BloodTypesDropDown.vue';
import LocationsDropDown from './DropDowns/LocationsDropDown.vue';
import DatePicker from './DatePicker.vue';
import PatientsService from '../services/PatientsService';

@Component({
  components: {
    DatePicker,
    HealthcaresDropDown,
    BloodTypesDropDown,
    LocationsDropDown,
  },
})
export default class NewPatient extends BaseComponent {
  private form = {
    healthcare: 1, // Default "Particular"
  };

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private patients: Array<object> = [];

  async onSubmit(evt: Event) {
    evt.preventDefault();
    // Call API
    try {
      const response = await PatientsService.create(this.form);
      const { data } = response.data;

      this.patientCreatedToast();
      this.goToPatient(data.id);
    } catch (error) {
      // TODO. Handle error
    }
  }

  private goToPatient(patientId: number) {
    this.$router.push({
      path: `/pacientes/${patientId}`,
    });
  }

  private patientCreatedToast() {
    this.successToast('Paciente', 'Paciente creado!');
  }
}
</script>
