<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nueva Reserva</h3>
        <hr />
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Patient -->
          <b-form-group id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
              id="input-patient"
              v-on:select-patient="newReservation.patient = $event" />
          </b-form-group>

          <!-- Establishment -->
          <b-form-group
          id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
          <EstablishmentsDropDown
            id="input-establishment"
            v-on:select-establishment-type="newReservation.establishment = $event" />
          </b-form-group>

          <!-- Blood Type -->
          <b-form-group
              id="input-group-blood-type"
              label="Grupo y Factor"
              label-for="input-blood-type">
            <BloodTypesDropDown
                id="input-blood-type"
                v-on:select-blood-type="newReservation.bloodType = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Reservation Date -->
          <b-form-group
            id="form-group-establishment" label="Fecha Reserva" label-for="input-establishment">
            <DatePicker v-on:select-date="newReservation.reservationDate = $event" />
          </b-form-group>

          <!-- Transfusion Date -->
          <b-form-group
          id="form-group-establishment" label="Fecha Transfusion" label-for="input-establishment">
            <DatePicker v-on:select-date="newReservation.transfusionDate = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Staying Type -->
            <b-form-group label="">
              <b-form-radio
                  id="radio-ambulatorio"
                  v-model="newReservation.staying_type"
                  name="staying_type"
                  value="Ambulatorio"
                  :key="'newReservation.staying_type' + 1">
                Ambulatorio
              </b-form-radio>
              <b-form-radio
                  id="radio-internado"
                  v-model="newReservation.staying_type"
                  name="staying_type"
                  value="Internado"
                  :key="'newReservation.staying_type' + 2">
                Internado
              </b-form-radio>
            </b-form-group>

            <!-- Room -->
            <b-form-group id="input-group-room" label="Sala" label-for="input-room">
              <b-form-input
                id="input-room"
                v-model="newReservation.room"
                required
                placeholder="Sala"
                :disabled="newReservation.staying_type !== 'Internado'"></b-form-input>
            </b-form-group>

            <!-- Doctor -->
            <b-form-group id="input-group-doctor" label="Medico" label-for="input-doctor">
              <b-form-input
                id="input-doctor"
                v-model="newReservation.doctor"
                placeholder="Doctor"></b-form-input>
            </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <h4>Unidades</h4>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <div>
            <h5>Globulos Rojos Desplasmatizados</h5>
            <h6>Unidades Solicitadas</h6>
            <b-form-spinbutton
                id="spinbutton-GRD"
                v-model="newReservation.GRD.quantity"
                inline
                min="0"
                v-on:change="requestedUnitsUpdated($event, 'GRD')" />
              <div>
                <h6>Unidades Reservadas</h6>
                <ul>
                  <li v-for="(unit, index) in newReservation.GRD.units" :key="'GRD-' + index">
                    <b-form-row>
                      <b-col>
                        <b-form-input :id="'input-GRD-' + index"
                          v-model="unit.quantity" />
                      </b-col>
                      <b-col>
                        <BloodTypesDropDown
                          :id="'select-GRD-' + index"
                          v-on:select-blood-type="unit.bloodType = $event" />
                      </b-col>
                    </b-form-row>
                  </li>
                </ul>
              </div>
          </div>
        </b-col>

        <b-col>
          <div>
            <h5>Plasma Fresco</h5>
            <h6>Unidades Solicitadas</h6>
            <b-form-spinbutton
                :id="'spinbutton-PF-' + newReservation.PF.units.length"
                v-model="newReservation.PF.quantity"
                inline
                min="0"
                v-on:change="requestedUnitsUpdated($event, 'PF')" />
              <div>
                <h6>Unidades Reservadas</h6>
                <ul>
                  <li v-for="(unit, index) in newReservation.PF.units" :key="'PF-' + index">
                    <b-form-row>
                      <b-col>
                        <b-form-input :id="'input-PF-' + index"
                            v-model="unit.quantity" />
                      </b-col>
                      <b-col>
                        <BloodTypesDropDown
                          :id="'select-PF-' + index"
                          v-on:select-blood-type="unit.bloodType = $event" />
                      </b-col>
                    </b-form-row>
                  </li>
                </ul>
              </div>
          </div>
        </b-col>

        <b-col>
          <div>
            <h5>Plaquetas</h5>
            <h6>Unidades Solicitadas</h6>
            <b-form-spinbutton
                :id="'spinbutton-platelets-' + newReservation.platelets.units.length"
                v-model="newReservation.platelets.quantity"
                inline
                min="0"
                v-on:change="requestedUnitsUpdated($event, 'platelets')" />
              <div>
                <h6>Unidades Reservadas</h6>
                <ul>
                  <li v-for="(unit, index) in newReservation.platelets.units"
                      :key="'platelets-' + index">
                    <b-form-row>
                      <b-col>
                        <b-form-input
                            :id="'input-platelets-' + index"
                            v-model="unit.quantity" />
                      </b-col>
                      <b-col>
                        <BloodTypesDropDown
                          :id="'select-platelets-' + index"
                          v-on:select-blood-type="unit.bloodType = $event" />
                      </b-col>
                    </b-form-row>
                  </li>
                </ul>
              </div>
          </div>
        </b-col>
      </b-row>

      <!-- Add billing order -->
      <b-row>
        <b-col>
          <br />
          <b-form-group id="input-group-billing-order" label-for="checkboxes-billing-order">
            <b-form-checkbox v-model="newReservation.billingOrder" id="checkbox-billing-order">
              Agregar Pedido de Facturacion
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-reservation" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import ReservationsService from '../services/ReservationsService';

import BaseComponent from './BaseComponent.vue';
import PatientsDropDown from './PatientsDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import DatePicker from './DatePicker.vue';
import BloodTypesDropDown from './BloodTypesDropDown.vue';

interface TransfusionUnit {
  bloodType: string;
  quantity: number;
}

@Component({
  components: {
    PatientsDropDown,
    DatePicker,
    EstablishmentsDropDown,
    BloodTypesDropDown,
  },
})
export default class NewTransfusion extends BaseComponent {
  private newReservation = {
    GRD: { quantity: 0, units: [] as TransfusionUnit[] },
    PF: { quantity: 0, units: [] as TransfusionUnit[] },
    platelets: { quantity: 0, units: [] as TransfusionUnit[] },
    billingOrder: false,
  };

  requestedUnitsUpdated(quantity: number, type: string) {
    if (quantity > this.newReservation[type].units.length) {
      // Add one
      this.newReservation[type].units.push({ bloodType: '', quantity: 0 });
    } else {
      // Remove last
      this.newReservation[type].units.pop();
    }
  }

  async onSubmit(evt: Event) {
    return this.saveReservation(evt);
  }

  async saveReservation(evt: Event) {
    evt.preventDefault();

    const response = await ReservationsService.create(this.newReservation);

    if (response) {
      const data = JSON.parse(response.data.data);

      this.successToast('Reserva', 'Reserva agregada!');

      let path: string;

      if (this.newReservation.billingOrder) {
        path = `/facturacion/pedidos/nuevo/reserva/${data.id}`;
      } else {
        path = `/banco/reservas/${data.id}`;
      }

      this.$router.push({
        path,
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
