<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nueva Transfusion</h3>
        <hr />
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Patient -->
          <b-form-group id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
              id="input-patient"
              v-on:select-patient="newTransfusion.patient = $event" />
          </b-form-group>

          <!-- Establishment -->
          <b-form-group
          id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
          <EstablishmentsDropDown
            id="input-establishment"
            v-on:select-establishment-type="newTransfusion.establishment = $event" />
          </b-form-group>

          <!-- Blood Type -->
          <b-form-group
              id="input-group-blood-type"
              label="Grupo y Factor"
              label-for="input-blood-type">
            <BloodTypesDropDown
                id="input-blood-type"
                v-on:select-blood-type="newTransfusion.bloodType = $event" />
          </b-form-group>

          <!-- Date -->
          <b-form-group
            id="form-group-establishment" label="Fecha Reserva" label-for="input-establishment">
            <DatePicker v-on:select-date="newTransfusion.date = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Staying Type -->
            <b-form-group label="">
              <b-form-radio
                  id="radio-ambulatorio"
                  v-model="newTransfusion.staying_type"
                  name="staying_type"
                  value="Ambulatorio"
                  :key="'newTransfusion.staying_type' + 1">
                Ambulatorio
              </b-form-radio>
              <b-form-radio
                  id="radio-internado"
                  v-model="newTransfusion.staying_type"
                  name="staying_type"
                  value="Internado"
                  :key="'newTransfusion.staying_type' + 2">
                Internado
              </b-form-radio>
            </b-form-group>

            <!-- Room -->
            <b-form-group id="input-group-room" label="Sala" label-for="input-room">
              <b-form-input
                id="input-room"
                v-model="newTransfusion.room"
                placeholder="Sala"
                :disabled="newTransfusion.staying_type !== 'Internado'"></b-form-input>
            </b-form-group>

            <!-- Doctor -->
            <b-form-group id="input-group-doctor" label="Medico" label-for="input-doctor">
              <b-form-input
                id="input-doctor"
                v-model="newTransfusion.doctor"
                placeholder="Doctor"></b-form-input>
            </b-form-group>
        </b-col>

        <b-col>
          <!-- Medical history -->
          <b-form-group id="input-group-clinical-history" label-for="checkboxes-clinical-history">
            <b-form-checkbox
                v-model="newTransfusion.clinicalHistory"
                id="checkboxes-clinical-history">
              Historia Clinica
            </b-form-checkbox>
          </b-form-group>

          <!-- Disposable material -->
          <b-form-group
              id="input-group-disposable-material"
              label-for="checkboxes-disposable-material">
            <b-form-checkbox
                v-model="newTransfusion.disposableMaterial"
                id="checkboxes-disposable-material">
              Material Descartable
            </b-form-checkbox>
          </b-form-group>
          <!-- Night emergency -->
          <b-form-group id="input-group-night-emergency" label-for="checkboxes-night-emergency">
            <b-form-checkbox
                v-model="newTransfusion.nightEmergency"
                id="checkboxes-night-emergency">
              Urgencia Nocturna
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <h4>Unidades Transfundidas</h4>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <div>
            <h5>Globulos Rojos Desplasmatizados</h5>
            <h6>Unidades Solicitadas</h6>
            <b-form-spinbutton
                :id="'preset-spinbutton-' + newTransfusion.id"
                v-model="newTransfusion.GRD.quantity"
                inline
                min="0"
                v-on:change="requestedUnitsUpdated($event, 'GRD')" />
            <div>
              <h6>Unidades Reservadas</h6>
              <ul>
                <li v-for="(unit, index) in newTransfusion.GRD.units" :key="'GRD-' + index">
                  <b-form-row>
                    <b-col>
                      <b-form-input :id="'input-GRD-' + index"
                          v-model="unit.quantity" />
                    </b-col>
                    <b-col>
                      <BloodTypesDropDown
                        :id="'select-GRD-' + index"
                        v-on:select-blood-type="unit.bloodType = $event" />
                    </b-col>
                  </b-form-row>
                </li>
              </ul>
            </div>
          </div>
        </b-col>

        <b-col>
          <div>
            <h5>Plasma Fresco</h5>
            <h6>Unidades Solicitadas</h6>
            <b-form-spinbutton
                :id="'preset-spinbutton-' + newTransfusion.id"
                v-model="newTransfusion.PF.quantity"
                inline
                min="0"
                v-on:change="requestedUnitsUpdated($event, 'PF')" />
              <div>
                <h6>Unidades Reservadas</h6>
                <ul>
                  <li v-for="(unit, index) in newTransfusion.PF.units" :key="'PF-' + index">
                    <b-form-row>
                      <b-col>
                        <b-form-input :id="'input-PF-' + index"
                            v-model="unit.quantity" />
                      </b-col>
                      <b-col>
                        <BloodTypesDropDown
                          :id="'select-PF-' + index"
                          v-on:select-blood-type="unit.bloodType = $event" />
                      </b-col>
                    </b-form-row>
                  </li>
                </ul>
              </div>
          </div>
        </b-col>

        <b-col>
          <div>
            <h5>Plaquetas</h5>
            <h6>Unidades Solicitadas</h6>
            <b-form-spinbutton
                :id="'preset-spinbutton-' + newTransfusion.id"
                v-model="newTransfusion.platelets.quantity"
                inline
                min="0"
                v-on:change="requestedUnitsUpdated($event, 'platelets')" />
              <div>
                <h6>Unidades Reservadas</h6>
                <ul>
                  <li
                      v-for="(unit, index) in newTransfusion.platelets.units"
                      :key="'platelets-' + index">
                    <b-form-row>
                      <b-col>
                        <b-form-input :id="'input-platelets-' + index"
                            v-model="unit.quantity" />
                      </b-col>
                      <b-col>
                        <BloodTypesDropDown
                          :id="'select-platelets-' + index"
                          v-on:select-blood-type="unit.bloodType = $event" />
                      </b-col>
                    </b-form-row>
                  </li>
                </ul>
              </div>
          </div>
        </b-col>
      </b-row>

      <!-- Add billing order -->
      <b-row>
        <b-col>
          <br />
          <b-form-group id="input-group-billing-order" label-for="checkboxes-billing-order">
            <b-form-checkbox v-model="newTransfusion.billingOrder" id="checkbox-billing-order">
              Agregar Pedido de Facturacion
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-transfusion" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import TransfusionsService from '../services/TransfusionsService';

import BaseComponent from './BaseComponent.vue';
import PatientsDropDown from './PatientsDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import DatePicker from './DatePicker.vue';
import BloodTypesDropDown from './BloodTypesDropDown.vue';

interface TransfusionUnit {
  bloodType: string;
  quantity: number;
}

@Component({
  components: {
    PatientsDropDown,
    DatePicker,
    EstablishmentsDropDown,
    BloodTypesDropDown,
  },
})
export default class NewTransfusion extends BaseComponent {
  private newTransfusion = {
    GRD: { quantity: 0, units: [] as TransfusionUnit[] },
    PF: { quantity: 0, units: [] as TransfusionUnit[] },
    platelets: { quantity: 0, units: [] as TransfusionUnit[] },
    clinicalHistory: false,
    disposableMaterial: false,
    nightEmergency: false,
    billingOrder: false,
  };

  private requestedUnitsUpdated(quantity: number, type: string) {
    if (quantity > this.newTransfusion[type].units.length) {
      // Add one
      this.newTransfusion[type].units.push({ bloodType: '', quantity: 0 });
    } else {
      // Remove last
      this.newTransfusion[type].units.pop();
    }
  }

  async onSubmit(evt: Event) {
    return this.saveReservation(evt);
  }

  async saveReservation(evt: Event) {
    evt.preventDefault();

    const response = await TransfusionsService.create(this.newTransfusion);

    if (response) {
      const data = JSON.parse(response.data.data);

      this.successToast('Transfusion', 'Transfusion agregada!');

      let path: string;

      if (this.newTransfusion.billingOrder) {
        path = `/facturacion/pedidos/nuevo/transfusion/${data.id}`;
      } else {
        path = `/banco/transfusiones/${data.id}`;
      }

      this.$router.push({
        path,
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
