<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nuevo Usuario</h3>
      </b-col>
    </b-row>

    <hr />

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Username -->
          <b-form-group id="input-group-username" label="Usuario" label-for="input-username">
            <b-form-input
              id="input-username"
              v-model="user.name"
              placeholder="Usuario" />
          </b-form-group>

          <!-- Password -->
          <b-form-group id="input-group-password" label="Clave" label-for="input-password">
            <b-form-input
                id="input-password-1"
                type="password"
                v-model="user.password"
                placeholder="Clave" />
          </b-form-group>

          <!-- Password Confirmation-->
          <b-form-group id="input-group-password-confirmation"
              label="Confirmar Clave" label-for="input-password-confirmation">
            <b-form-input
                id="input-password-confirmation"
                type="password"
                v-model="user.c_password"
                placeholder="Confirmar Clave" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Access -->
          <b-form-group id="input-group-access"
              label="Permisos" label-for="input-password-access">
            <!-- Billing -->
            <b-form-checkbox
                v-model="user.billing_access">
              Facturacion
            </b-form-checkbox>

            <!-- Config -->
            <b-form-checkbox
                v-model="user.config_access">
              Configuracion
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button id="btn-save-user" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import UsersService from '../services/UsersService';

import BaseComponent from './BaseComponent.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';


@Component({
  components: {
    EditableDtInputText,
  },
})
export default class NewUser extends BaseComponent {
  private user = {
    id: 0,
    email: '',
    name: '',
    // eslint-disable-next-line @typescript-eslint/camelcase
    updated_at: '',
  };

  private editable = {
    name: false,
  }

  // Create user
  private async onSubmit(event: Event) {
    event.preventDefault();

    try {
      // Add fake email as we don't need it for now
      this.user.email = `${this.user.name}@email.com`;
      const response = await UsersService.create(this.user);

      if (response) {
        const { user } = response.data;

        this.successToast('Usuario', 'Usuario agregado!');

        this.$router.push({
          path: `/usuarios/${user.id}`,
        });
      }
    } catch (error) {
      // TODO. Handle error
    }
  }
}
</script>
