<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h4>Nuevo Juego de Valores {{ healthcare.name }}</h4>
      </b-col>
    </b-row>

    <hr />

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Date -->
          <b-form-group id="input-group-date" label="Fecha" label-for="input-date">
            <DatePicker
              :defaultValue="todaysDate"
              v-on:select-date="newValueSet.date = $event"
              />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Fee -->
          <b-form-group id="input-group-fee"
              label="Valor Unidad Honorarios" label-for="input-fee">
            <b-form-input
              id="input-fee"
              v-model="newValueSet.fee"
              placeholder="Honorarios"></b-form-input>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Expenses -->
          <b-form-group id="input-group-expenses"
              label="Valor Unidad Gastos" label-for="input-expenses">
            <b-form-input
              id="input-expenses"
              v-model="newValueSet.expenses"
              placeholder="Gastos"></b-form-input>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Biochemistry -->
          <b-form-group id="input-group-biochemistry"
              label="Valor Unidad Bioquimica" label-for="input-biochemistry">
            <b-form-input
              id="input-biochemistry"
              v-model="newValueSet.biochemistry"
              placeholder="Bioquimica"></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <hr />

      <!-- List of practices -->
      <b-row>
        <b-col>
          <table>
            <thead>
              <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(practice) in practices" :key="practice.id">
                <td>
                  <b-form-input
                    :id="`input-code-${practice.id}`"
                    v-model="practice.code"
                    :disabled="true"
                    placeholder="Codigo" />
                </td>
                <td>
                  <b-form-input
                    :id="`input-description-${practice.id}`"
                    v-model="practice.description"
                    :disabled="true"
                    placeholder="Descripcion" />
                </td>
                <td>
                  <b-form-input
                    :id="`input-amount-${practice.id}`"
                    v-model="practice.amount"
                    placeholder="Valor" />
                </td>
              </tr>
            </tbody>
          </table>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-value-set" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import moment from 'moment';

import HealthcaresService from '../services/HealthcaresService';
import PracticesService from '../services/PracticesService';

import BaseComponent from './BaseComponent.vue';
import DatePicker from './DatePicker.vue';

interface ValueSet {
  healthcare: number;
  date: string;
  fee: number;
  expenses: number;
  biochemistry: number;
  practices: Practice [];
}

interface Practice {
  code: string;
  description: string;
  amount: number;
}

@Component({
  components: {
    DatePicker,
  },
})
export default class NewValueSet extends BaseComponent {
  private healthcare = {
    id: 0,
    practices: [],
  }

  private newValueSet: ValueSet = {
    healthcare: 0,
    date: '',
    fee: 0,
    expenses: 0,
    biochemistry: 0,
    practices: [],
  };

  private moment = moment();

  async created() {
    // Get healthcare ID
    const healthcareId = this.$route.params.healthcareId.toString();

    // Get healthcare
    const response = await HealthcaresService.getById(parseInt(healthcareId, 10));

    if (response) {
      const data = JSON.parse(response.data.data);

      this.healthcare = data;
    } else {
      // TODO. Handle error
    }
  }

  get todaysDate(): string {
    return this.moment.format('YYYY-MM-DD');
  }

  get practices() {
    if (this.healthcare && this.healthcare.practices) {
      return this.healthcare.practices;
    }

    // No practices
    return [];
  }

  private async onSubmit(evt: Event) {
    evt.preventDefault();

    // Add healthcare
    this.newValueSet.healthcare = this.healthcare.id;

    // Filter practices without amount and add them
    const filteredPractices = this.practices
      .filter((practice: { amount: number }) => practice.amount);
    this.newValueSet.practices = filteredPractices;

    const response = await PracticesService.createValueSet(this.newValueSet);

    if (response) {
      const data = JSON.parse(response.data.data);

      this.successToast('Juego de Valores', 'Juego de Valores agregado!');

      // Go to value set
      this.$router.push({
        path: `/obras_sociales/${this.healthcare.id}/valores/${data.id}`,
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
