<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nomenclador ICD10</h3>
      </b-col>
    </b-row>

    <hr />

    <b-row v-if="diagnoses !== null">
      <b-col>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="span1">Codigo ICD10</th>
              <th class="span1">Codigo ICD9</th>
              <th class="span10">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(diagnosis) in diagnoses" :key="diagnosis.id">
              <td>{{ diagnosis.ICD10 }}</td>
              <td>{{ diagnosis.ICD9 }}</td>
              <td>
                <router-link :to="`/icd10?parent=${diagnosis.id}`">
                  {{ diagnosis.description }}
                </router-link>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Route } from 'vue-router';

import NomenclatorService from '../services/NomenclatorService';

interface Diagnosis {
  id: number;
  parent: number;
  ICD10: string;
  ICD9: string;
  description: string;
}

@Component({ })
export default class Nomenclator extends Vue {
  private diagnoses: Diagnosis[] | null = null;

  private parent: string | null = null;

  async created() {
    // Get nomenclators
    const response = await NomenclatorService.getParents();

    if (response) {
      const { data } = response.data;
      this.diagnoses = data;
    } else {
      // TODO. Handle error
    }
  }

  @Watch('$route')
  async onRouteChanged(to: Route, from: Route) {
    // Get diagnoses
    if (to.path === from.path) {
      let response;

      if (to.query.parent) {
        this.parent = to.query.parent.toString();
        response = await NomenclatorService.getChildrenByParentId(parseInt(this.parent, 10));
      } else {
        response = await NomenclatorService.getParents();
      }

      if (response) {
        const { data } = response.data;
        this.diagnoses = data;
      }
      return false;
    }

    return true;
  }
}
</script>
