<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Pedido</h3>
      </b-col>
    </b-row>

    <b-row v-if="order && order.id !== 0" :key="`status-${order.updated_at}`">
      <b-col v-if="order && order.status">
        <!-- Update codes -->
        <b-button
            v-if="['Pendiente', 'Anulado'].includes(order.status)"
            size="sm" variant="light">
          Modificar Codigos
        </b-button> &nbsp;
        <!-- Authorized -->
        <b-button
            v-if="['Pendiente', 'Anulado'].includes(order.status)"
            v-on:click="authorizeOrder()"
            size="sm" variant="success">
          Autorizado
        </b-button> &nbsp;
        <!-- Checked -->
        <b-button
            v-if="['Autorizado', 'Facturado'].includes(order.status)"
            v-on:click="checkOrder()"
            size="sm" variant="success">
          Revisado
        </b-button> &nbsp;
        <!-- Print -->
        <b-button size="sm" variant="light">
          Imprimir
        </b-button>

        <span class="float-right">
          <b-button size="sm" variant="dark" @click="cancelOrder">
            Anular
          </b-button> &nbsp;
          <b-button size="sm" variant="danger" @click="showDeleteModal">
            Borrar
          </b-button>
        </span>
      </b-col>
    </b-row>

    <hr />

    <b-row v-if="order && order.id !== 0" :key="`badges-${order.updated_at}`">
      <b-col>
        <!-- Order -->
        <OrderBadge
          :key="`${order.id}-${order.status}`"
          :order="order" /> &nbsp;

        <!-- First appointment -->
        <b-badge v-if="order.first"
          variant="success"
          title="Primera Consulta"
          style="background-color: purple;">
            Primera
        </b-badge> &nbsp;

        <!-- Absent -->
        <b-badge v-if="order.status === 'Ausente'"
          variant="secondary"
          title="Paciente Ausente">
            Ausente
        </b-badge> &nbsp;

        <!-- Night emergency -->
        <b-badge v-if="order.night_emergency"
            variant="dark"
            title="Urgencia Nocturna">
          <font-awesome-icon icon="moon" size="xs" />
            Urgencia Nocturna
        </b-badge> &nbsp;

        <!-- Attended -->
        <b-badge v-if="order.status === 'Atendido'"
          variant="info"
          title="Paciente Atendido">
            Ausente
        </b-badge>
      </b-col>
    </b-row>

    <b-row v-if="order && order.id !== 0" :key="`order-${order.updated_at}`">
      <b-col>
        <dl>
          <!-- Patient -->
          <dt>Paciente</dt>
          <dd>{{ order.patient.full_name }}</dd>

          <!-- Healthcare -->
          <dt>Obra Social</dt>
          <dd>{{ order.patient.healthcare.name }}</dd>

          <!-- Diagnosis -->
          <dt>Diagnostico</dt>
          <dd>{{ order.diagnosis.description }}</dd>

          <!-- Order Date -->
          <EditableDtInputText
            inputType="date"
            text="Fecha Pedido"
            formKey="date"
            :value="order.date"
            :editable="editable.date"
            v-on:update-value="updateValue($event)" />

          <!-- Authorized Date -->
          <EditableDtInputText
            inputType="date"
            text="Fecha Autorizado"
            formKey="authorized_date"
            :value="order.authorized_date"
            :editable="editable.authorized_date"
            v-on:update-value="updateValue($event)" />

          <!-- Billed Date -->
          <EditableDtInputText
            inputType="date"
            text="Fecha Facturacion"
            formKey="billing_date"
            :value="order.billing_date"
            :editable="editable.billing_date"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- Staying type -->
          <EditableDtInputText
            inputType="stayingType"
            text="Atencion"
            formKey="staying_type"
            :value="[order.staying_type, order.room]"
            :editable="editable.staying_type"
            v-on:update-value="updateValue($event)" />

          <!-- Doctor -->
          <EditableDtInputText
            text="Medico"
            formKey="doctor"
            :value="order.doctor"
            :editable="editable.doctor"
            v-on:update-value="updateValue($event)" />

          <!-- Description -->
          <EditableDtInputText
            text="Descripcion"
            formKey="description"
            :value="order.description"
            :editable="editable.description"
            v-on:update-value="updateValue($event)" />

          <!-- Ready to bill -->
          <EditableDtInputText
            inputType="checkbox"
            text="Listo para facturar"
            formKey="ready_to_bill"
            :value="order.ready_to_bill"
            :editable="editable.ready_to_bill"
            v-on:update-value="updateValue($event)" />

          <!-- Cancelled -->
          <EditableDtInputText
            inputType="checkbox"
            text="Anulado"
            formKey="cancelled"
            :value="order.status === 'Anulado'"
            :editable="editable.cancelled"
            v-on:update-value="updateValue($event)" />

          <!-- Night emergency -->
          <EditableDtInputText
            inputType="checkbox"
            text="Urgencia Nocturna"
            formKey="night_emergency"
            :value="order.night_emergency"
            :editable="editable.night_emergency"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <!-- Establishment -->
        <EditableDtInputText
            inputType="establishment"
            text="Establecimiento"
            formKey="establishment"
            :value="order.orderable.establishment"
            :editable="editable.establishment"
            v-on:update-value="updateValue($event)" />

        <!-- Checked -->
        <EditableDtInputText
          inputType="checkbox"
          text="Revisado"
          formKey="checked"
          :value="order.status === 'Revisado'"
          :editable="editable.checked"
          v-on:update-value="updateValue($event)" />

        <!-- Period -->
        <dt>Periodo</dt>
        <dd v-if="order.billing_period">
          <router-link :to="`/facturacion/periodos/${order.billing_period.id}`">
            {{ order.billing_period.id}}
            ({{ order.billing_period.date_from }} - {{ order.billing_period.date_to }})
          </router-link>
        </dd>
        <dd v-else>
          -
        </dd>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <h4>Contenido</h4>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <table class="table table-condensed table-bordered"
            :key="`code-table-${order.status}`">
          <thead>
            <tr>
              <th class="span1">Codigo</th>
              <th class="span7">Descripcion</th>
              <th class="span1">Cantidad</th>
              <th class="span1">Autorizado</th>
            </tr>
          </thead>
          <tbody>
            <!-- #dff0d8 if authorized -->
            <tr v-for="(practice, index) in practices" :key="practice.id"
                :class="{authorized: practice.authorized}" >
              <td>{{ practice.practice.code }}</td>
              <td>{{ practice.practice.description }}</td>
              <td>{{ practice.quantity }}</td>
              <td>
                <b-form-checkbox
                  :id="`checkbox-practice-${index}`"
                  class="checkbox-practice"
                  v-model="practice.authorized"
                  value="1"
                  unchecked-value="0"
                  :disabled="order.status === 'Anulado'"
                  :name="`checkbox-order-practice-${practice.id}`" />
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-button
            id="btn-update-order"
            @click="authorizePractices" variant="primary" class="float-right">
          Actualizar
        </b-button>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import OrdersService from '../services/OrdersService';

import BaseComponent from './BaseComponent.vue';
import OrderBadge from './OrderBadge.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';

@Component({
  components: {
    OrderBadge,
    EditableDtInputText,
  },
})
export default class Order extends BaseComponent {
  private order = {
    id: 0,
    // eslint-disable-next-line @typescript-eslint/camelcase
    patient_id: 0,
    status: '',
    // eslint-disable-next-line @typescript-eslint/camelcase
    patient: { healthcare: {}, full_name: '' },
    clinic: {},
    payments: [],
    diagnosis: {},
    orderable: {},
    practices: [],
    doctor: '',
    description: '',
  };

  private editable = {
    checked: false,
  };

  async created() {
    // Get ID from path
    const orderId = parseInt(this.$route.params.orderId, 10);
    // Get chemotherapy
    const response = await OrdersService.getById(orderId);

    if (response) {
      const data = JSON.parse(response.data.data);

      this.order = data;
    } else {
      // TODO. Handle error
    }
  }

  private get practices() {
    if (this.order && this.order.practices) {
      return this.order.practices;
    }

    return [];
  }

  private async authorizePractices() {
    const response = await OrdersService.authorizePractices({ practices: this.order.practices });

    if (response) {
      const data = JSON.parse(response.data.data);

      if (data) {
        this.authorizedPracticesToast();
        this.order.status = data.status;
      }
    } else {
      // TODO. Handle error
    }
  }

  private async authorizeOrder() {
    const response = await OrdersService.authorize(this.order.id);

    if (response) {
      const data = JSON.parse(response.data.data);

      if (data) {
        this.order = data;
        this.authorizedPracticesToast();
      }
    } else {
      // TODO. Handle error
    }
  }

  private async checkOrder() {
    const response = await OrdersService.update(this.order.id, { status: 'Revisado' });

    if (response) {
      const data = JSON.parse(response.data.data);

      if (data) {
        this.order.status = 'Revisado';
        this.authorizedPracticesToast();
      }
    } else {
      // TODO. Handle error
    }
  }

  // Edit order
  private async updateValue(updateBody: {}) {
    // Call API to update order
    try {
      const response = await OrdersService.update(this.order.id, updateBody);

      if (response) {
        this.successToast('Pedido', 'Pedido actualizado');
        const key = Object.keys(updateBody)[0];
        this.order[key] = updateBody[key];

        // Update status
        const data = JSON.parse(response.data.data);

        this.order = { ...data };

        this.order.status = data.status;
      }
    } catch (error) {
      if (error.response && error.response.data && error.response.data.msg) {
        this.errorToast('Error al actualizar pedido', error.response.data.msg);
        this.order = { ...this.order };
      }
    }
  }

  private authorizedPracticesToast() {
    this.$bvToast.toast('El pedido ha sido actualizado.', {
      title: 'Pedido actualizado',
      variant: 'success',
      solid: true,
    });
  }

  private cancelOrder() {
    this.$bvToast.toast('El pedido ha sido cancelado.', {
      title: 'Pedido actualizado',
      variant: 'success',
      solid: true,
    });
  }

  private showDeleteModal() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar el pedido?', {
      title: 'Borrar pedido',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await OrdersService.delete(this.order.id);

          if (response.status === 200) {
            // Go to appointments
            this.$router.push({
              path: `/facturacion/pedidos?paciente=${this.order.patient_id}`,
            });
          }
        }
      })
      .catch((err) => {
        // An error occurred
      });
  }
}
</script>
