<template>
  <b-badge v-if="order"
      :id="`badge-order-${order.id}`"
      :variant="variant" :title="title" :to="{ path: this.link }">
    <font-awesome-icon :icon="icon" size="xs" />
    {{ badgeText }}
  </b-badge>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class OrderBadge extends Vue {
  @Prop() private order!: any;

  private medicalPracticeId = '';

  private icon = '';

  private variant= '';

  private title= '';

  private badgeText= '';

  private link= '';

  created() {
    if (this.order && this.order.date) {
      this.medicalPracticeId = this.order.orderable_id;
      this.badgeText = `Pedido ${this.order.id}`;
      this.link = `/facturacion/pedidos/${this.order.id}`;

      switch (this.order.status) {
        case 'Pendiente':
          // Red
          this.icon = 'times';
          this.variant = 'danger';
          this.title = 'Pedido Pendiente';
          break;
        case 'Autorizado':
          // Green
          this.icon = 'check';
          this.variant = 'success';
          this.title = 'Pedido Autorizado';
          break;
        case 'Anulado':
          // Grey
          this.icon = 'ban';
          this.variant = 'secondary';
          this.title = 'Pedido Anulado';
          break;
        case 'Revisado':
          // Light green
          this.icon = 'check-circle';
          this.variant = 'success';
          this.title = 'Pedido Revisado';
          break;
        case 'Facturado':
          // Blue
          this.icon = 'dollar-sign';
          this.variant = 'primary';
          this.title = 'Pedido Facturado';
          break;
        default:
          // Pendiente
          this.icon = 'times';
          this.variant = 'danger';
          this.title = 'Pedido Pendiente';
      }
    } else {
      // No order
      this.icon = 'minus';
      this.variant = 'warning';
      this.title = 'Sin Pedido. Click para agregar';
      this.badgeText = 'Sin Pedido';
      this.link = '';

      if (this.order) {
        // Get medical service type for link
        let medicalServiceType;
        switch (this.order.orderable_type) {
          case 'App\\Appointment':
            medicalServiceType = 'consulta';
            break;
          case 'App\\MedicalStudyAppointment':
            medicalServiceType = 'estudio';
            break;
          case 'App\\Chemotherapy':
            medicalServiceType = 'quimioterapia';
            break;
          case 'App\\Transfusion':
            medicalServiceType = 'transfusion';
            break;
          case 'App\\TransfusionReservation':
            medicalServiceType = 'reserva';
            break;
          default:
            // TODO. Handle error
        }

        const medicalServiceId = this.order.orderable_id;

        this.link = `/facturacion/pedidos/nuevo/${medicalServiceType}/${medicalServiceId}`;
      }
    }
  }
}
</script>
