<template>
  <vue-bootstrap-typeahead
        id="input-patient"
        v-model="query"
        :data="patients"
        :serializer="item => `${item.firstName} ${item.lastName} ${item.dni}`"
        @hit="$emit('select-patient', $event.id)"
        :minMatchingChars=3
        ref="patientTypeahead"
    />
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Watch,
} from 'vue-property-decorator';

import PatientsService from '../services/PatientsService';

@Component({ })
export default class PatientsDropDown extends Vue {
  @Prop() private defaultValue!: string;

  private query = '';

  private patients = [];

  mounted() {
    // Set default value
    if (this.defaultValue) {
      (this.$refs.patientTypeahead as Vue & { inputValue: string }).inputValue = this.defaultValue;
    }
  }

  @Watch('query')
  private async onPropertyChanged(value: string) {
    if (value.length >= 3) {
      const response = await PatientsService.getAutocompleteList(value);
      this.patients = response.data.data;
    } else if (!value || value === '') {
      // (this.$refs.patientTypeahead as Vue & { inputValue: string }).inputValue = '';
      this.$emit('select-patient', null);
    }
  }
}
</script>
