<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Pacientes</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <router-link to="/pacientes/nuevo">
          <b-button type="submit" variant="primary">Agregar Paciente</b-button>
        </router-link>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar pacientes por:</strong>
      </b-col>
    </b-row>

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Last name -->
            <b-form-group id="input-group-last-name" label="Apellido" label-for="input-last-name">
            <b-form-input
              id="input-last-name"
              v-model="form.last_name"
              placeholder="Apellido"></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <!-- First name -->
            <b-form-group id="input-group-first-name" label="Nombre" label-for="input-first-name">
            <b-form-input
              id="input-first-name"
              v-model="form.first_name"
              placeholder="Nombre"></b-form-input>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- ID -->
            <b-form-group id="input-group-dni" label="D.N.I" label-for="input-dni">
            <b-form-input
              id="input-dni"
              v-model="form.dni"
              placeholder="DNI"></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- Healthcare -->
            <b-form-group
              id="input-group-healthcare"
              label="Obra social"
              label-for="input-healthcare">
            <HealthcaresDropDown
              id="healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Diagnosis -->
            <b-form-group
              id="input-group-diagnosis"
              label="Diagnostico (ICD10)"
              label-for="input-diagnosis">
            <b-form-input
              id="input-diagnosis"
              v-model="form.diagnosis"
              placeholder="Diagnostico"></b-form-input>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Pedidos pendientes -->
          <b-form-group id="form-group-period" label="Pedidos Pendientes">
            <b-row>
              <b-col>
                <DatePicker placeholder="Desde" v-on:select-date="form.order_date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker placeholder="Hasta" v-on:select-date="form.order_date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button id="btn-search-patient" type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>

      <hr />

      <!-- List of patients -->
      <b-row>
        <b-col>
          <b-overlay :show="showOverlay" rounded="sm">
            <table id="table-patients"
                  class="table table-condensed table-hover table-bordered" :key="currentPage">
              <caption />
              <thead>
                <tr>
                  <th id="th-lastname">Apellido</th>
                  <th id="th-firstname">Nombre</th>
                  <th id="th-dni">DNI</th>
                  <th id="th-healthcare">Obra Social</th>
                  <th id="th-residence-place">Lugar de Residencia</th>
                </tr>
              </thead>
              <tbody v-if="patients.length > 0">
                <tr v-for="(patient) in patients" :key="patient.id">
                  <td>
                    <router-link :to="{ path: `/pacientes/${patient.id}`}">
                      {{ patient.lastName }}
                    </router-link>
                  </td>
                  <td>
                    <router-link :to="{ path: `/pacientes/${patient.id}`}">
                      {{ patient.firstName }}
                    </router-link>
                  </td>
                  <td>{{ patient.dni }}</td>
                  <td>{{ patient.healthcare.name }}</td>
                  <td>{{ patient.residence_place }}</td>
                </tr>
              </tbody>
            </table>
          </b-overlay>
        </b-col>
      </b-row>

      <!-- Pagination -->
      <b-row v-if="patients.length > 0">
        <b-col>
          <b-pagination
            align="center"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="my-table"
            v-on:input="paginationEventhandler"
          ></b-pagination>
        </b-col>
      </b-row>

    </b-form>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import DatePicker from './DatePicker.vue';
import PatientsService from '../services/PatientsService';

@Component({
  components: {
    DatePicker,
    HealthcaresDropDown,
  },
})
export default class Patient extends Vue {
  private form = { page: '1' };

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private patients: Array<object> = [];

  private showOverlay = false;

  async onSubmit(evt: Event) {
    evt.preventDefault();

    // To show overlay
    this.showOverlay = true;

    // Set first page
    this.form.page = '1';

    // Call API
    try {
      const response = await PatientsService.find(this.form);
      // Reset list
      this.patients = [];

      const { data } = response.data;

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;

      this.patients = data.data;

      this.showOverlay = false;
    } catch (error) {
      // TODO. Handle error
    }
  }

  async paginationEventhandler(event: number) {
    this.showOverlay = true;
    this.form.page = event.toString();
    this.currentPage = event;

    try {
      const response = await PatientsService.find(this.form);

      const { data } = response.data;

      // Reset list
      this.patients = [];

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
      this.currentPage = event;

      this.patients = data.data;

      this.showOverlay = false;
    } catch (error) {
      // TODO. Handle error
    }
  }
}
</script>
