<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <b-tabs content-class="mt-3" v-model="tabIndex">
            <b-tab title="Perfil" active @click="goToProfile">
              <ProfileTab />
            </b-tab>
            <b-tab title="Historia Clinica" @click="goToMedicalHistory">
              <MedicalHistoryTab lazy/>
            </b-tab>
            <b-tab title="Consultas" @click="goToAppointments">
            </b-tab>
            <b-tab title="Estudios" @click="goToMedicalStudies">
            </b-tab>
            <b-tab title="Reservas" @click="goToReservations">
            </b-tab>
            <b-tab title="Transfusiones" @click="goToTransfusions">
            </b-tab>
            <b-tab title="Quimioterapias" @click="goToChemotherapies">
            </b-tab>
            <b-tab title="Pedidos" @click="goToOrders">
            </b-tab>
          </b-tabs>
      </b-col>
    </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { Route } from 'vue-router';

import ReservationsTab from './ReservationsTab.vue';
import TransfusionsTab from './TransfusionsTab.vue';
import ProfileTab from './PatientTabs/ProfileTab.vue';
import MedicalHistoryTab from './PatientTabs/MedicalHistoryTab.vue';

@Component({
  components: {
    ReservationsTab,
    TransfusionsTab,
    ProfileTab,
    MedicalHistoryTab,
  },
})
export default class Transfusions extends Vue {
  private patientId!: string;

  private tabIndex = 0;

  mounted() {
    this.patientId = this.$route.params.patientId;

    if (this.$route.path.includes('historia')) {
      this.tabIndex = 1;
    }
  }

  private goToProfile() {
    this.tabIndex = 0;
    this.$router.push({ path: `/pacientes/${this.patientId}` });
  }

  private goToMedicalHistory() {
    this.tabIndex = 1;
    this.$router.push({ path: `/pacientes/${this.patientId}/historia` });
  }

  private goToAppointments() {
    this.$router.push({ path: '/clinica/consultas', query: { paciente: this.patientId } });
  }

  private goToMedicalStudies() {
    this.$router.push({ path: '/laboratorio/estudios', query: { paciente: this.patientId } });
  }

  private goToReservations() {
    this.$router.push({ path: '/banco/reservas', query: { paciente: this.patientId } });
  }

  private goToTransfusions() {
    this.$router.push({ path: '/banco/transfusiones', query: { paciente: this.patientId } });
  }

  private goToChemotherapies() {
    this.$router.push({ path: '/oncologia/quimioterapias', query: { paciente: this.patientId } });
  }

  private goToOrders() {
    this.$router.push({ path: '/facturacion/pedidos', query: { paciente: this.patientId } });
  }

  @Watch('$route')
  async onRouteChanged(to: Route, from: Route) {
    if (to.path !== from.path) {
      if (to.path.includes('historia')) {
        this.tabIndex = 1;
      } else {
        this.tabIndex = 0;
      }
    }
  }
}
</script>
