<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h4>Preset</h4>
      </b-col>
    </b-row>

    <hr />

    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
            <!-- Name -->
            <b-form-group id="input-group-name" label="Nombre" label-for="input-name">
              <b-form-input
                id="input-name"
                v-model="preset.name"
                required
                :disabled="true" />
            </b-form-group>

            <!-- Healthcare -->
            <b-form-group
                id="input-group-healthcare" label="Obra Social" label-for="input-healthcare">
              <b-form-input
                id="input-healthcare"
                v-model="healthcare"
                required
                :disabled="true" />
            </b-form-group>

            <!-- Description -->
            <b-form-group
                id="input-group-description" label="Descripcion" label-for="input-description">
              <b-form-input
                id="input-description"
                v-model="preset.description"
                required
                placeholder="Descripcion"></b-form-input>
            </b-form-group>

            <b-row>
              <b-col>
                Practicas
              </b-col>
            </b-row>

            <b-row v-for="(newPractice, index) in preset.practices" :key="index">
              <b-col>
                <b-form-input
                  :id="`input-code-${index}`"
                  v-model="newPractice.code"
                  placeholder="Codigo" />
              </b-col>
              <b-col>
                <b-form-input
                  :id="`input-quantity-${index}`"
                  v-model="newPractice.pivot.quantity"
                  placeholder="Cantidad" />
              </b-col>
              <b-col>
                <!-- Less -->
                <b-button
                  v-if="index > 0"
                  variant="danger" size="sm"
                  @click="removePractice(index)">
                  <font-awesome-icon icon="minus" size="xs" /> &nbsp;
                </b-button> &nbsp;
                <!-- More -->
                <b-button
                  v-if="index === preset.practices.length - 1"
                  variant="success" size="sm"
                  @click="addPractice(newPractice, index)">
                  <font-awesome-icon icon="plus" size="xs" /> &nbsp;
                </b-button>
              </b-col>
            </b-row>
        </b-col>

        <b-col>
          &nbsp;
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-preset" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import PracticesService from '../services/PracticesService';

import HealthcaresDropDown from './HealthcaresDropDown.vue';
import DatePicker from './DatePicker.vue';

interface Practice {
  code: string;
  quantity: number;
  pivot: { code: string; quantity: number } | null;
}

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class Preset extends Vue {
  private preset = {
    id: 0,
    healthcare: { name: '' },
    practices: [] as Practice[],
  };

  async created() {
    // Get preset
    const presetId = parseInt(this.$route.params.presetId.toString(), 10);
    const response = await PracticesService.getPreset(presetId);

    if (response) {
      const data = JSON.parse(response.data.data);

      this.preset = data;
    } else {
      // TODO. Handle error
    }
  }

  get healthcare(): string {
    if (this.preset) {
      if (this.preset.healthcare) {
        return this.preset.healthcare.name;
      }

      return 'Global';
    }

    return '';
  }

  async onSubmit(evt: Event) {
    evt.preventDefault();

    if (!this.formIsValid()) {
      return null;
    }

    const response = await PracticesService.updatePreset(this.preset.id, this.preset);

    // Go to preset
    /*
    this.$router.push({
      path: '/',
    });
    */

    return true;
  }

  private addPractice(newPractice: Practice, index: number) {
    if (this.preset.practices.length === index + 1) {
      if (newPractice.code.length > 0) {
        this.preset.practices.push({ code: '', quantity: 0, pivot: { code: '', quantity: 0 } });
      }
    }
  }

  private removePractice(index: number) {
    this.preset.practices.splice(index, 1);
  }

  private formIsValid() {
    // Check there are practices
    const validPractices = this.preset.practices
      .filter((practice) => practice.pivot
                              && practice.pivot.quantity > 0 && practice.code.length > 0);

    if (!validPractices || validPractices.length === 0) {
      this.errorToast('Seleccione practicas');
      return false;
    }

    return true;
  }

  private errorToast(message: string) {
    this.$bvToast.toast(message, {
      title: 'Error',
      variant: 'danger',
      solid: true,
    });
  }
}
</script>
