<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <b-tabs content-class="mt-3">
            <b-tab title="Consultas" active>
              <AppointmentsReport />
            </b-tab>
            <b-tab title="Estudios">
              <MedicalStudiesReport lazy />
            </b-tab>
            <b-tab title="Transfusiones">
              <TransfusionsReport lazy />
            </b-tab>
            <b-tab title="Quimioterapias">
              <ChemotherapiesReport lazy />
            </b-tab>
            <b-tab title="Diagnosticos">
              <DiagnosisReport lazy />
            </b-tab>
          </b-tabs>
      </b-col>
    </b-row>

    <hr />

  </b-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import AppointmentsReport from './ReportsTab/AppointmentsReport.vue';
import MedicalStudiesReport from './ReportsTab/MedicalStudiesReport.vue';
import ChemotherapiesReport from './ReportsTab/ChemotherapiesReport.vue';
import DiagnosisReport from './ReportsTab/DiagnosisReport.vue';
import TransfusionsReport from './ReportsTab/TransfusionsReport.vue';

@Component({
  components: {
    AppointmentsReport,
    MedicalStudiesReport,
    ChemotherapiesReport,
    DiagnosisReport,
    TransfusionsReport,
  },
})
export default class Reports extends Vue {
  @Prop() private msg!: string;

  private form = {
    email: '',
    name: '',
    food: null,
    checked: [],
  };

  onSubmit(evt: Event) {
    evt.preventDefault();
    const myForm = this.form;
    // alert(JSON.stringify(this.form));
  }
}
</script>
