<template>
  <b-container class="bv-example-row">

    <b-row>
      <b-col>
        <router-link to="/banco/reservas/nueva">
          <b-button type="submit" variant="primary">Agregar Reserva</b-button>
        </router-link>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar reservas por:</strong>
      </b-col>
    </b-row>

    <!-- Filters -->
    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Patient -->
          <b-form-group :key="form.patientName"
              id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                :defaultValue="form.patientName"
                v-on:select-patient="form.patient = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Reservation Periodo -->
          <b-form-group id="form-group-reservation-period" label="Fecha de Reserva">
            <b-row>
              <b-col>
                <DatePicker
                  placeholder="Desde"
                  v-on:select-date="form.reservation_date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker
                  placeholder="Hasta"
                  v-on:select-date="form.reservation_date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- Staying Type -->
          <b-form-group
            id="form-group-staying-type" label="Atencion" label-for="input-staying-type">
            <StayingTypesDropDown
              id="input-staying-type"
              v-on:select-staying-type-type="form.staying_type = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Establishment -->
          <b-form-group
            id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
              id="input-establishment"
              :showAll="true"
              v-on:select-establishment-type="form.establishment = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Transfusion Periodo -->
          <b-form-group id="form-group-transfusion-period" label="Fecha de Transfusion">
            <b-row>
              <b-col>
                <DatePicker
                  placeholder="Desde"
                  v-on:select-date="form.transfusion_date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker
                  placeholder="Hasta"
                  v-on:select-date="form.transfusion_date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>

    </b-form>

    <hr />

    <!-- List of reservations -->
    <b-row>
    <b-col>
      <b-overlay :show="showOverlay" rounded="sm">
        <table class="table table-bordered table-condensed" :key="currentPage">
          <caption />
          <thead>
              <tr>
                  <th id="th-date" colspan="2" class="fit">Fecha</th>
                  <th id="th-patient" rowspan="2">Paciente</th>
                  <th id="th-units" colspan="3" class="fit">Unidades Solicitadas</th>
                  <th id="th-order" rowspan="2" class="fit"></th>
                  <th id="th-actions" rowspan="2" class="fit"></th>
              </tr>
              <tr>
                  <th id="th-reservation">Reserva</th>
                  <th id="th-transfusion">Transfusion</th>
                  <th id="th-GRD">GRD</th>
                  <th id="th-PF">PF</th>
                  <th id="th-platelets">Plaquetas</th>
              </tr>
          </thead>
          <tbody v-if="reservations.length > 0">
            <tr v-for="(reservation, index) in reservations" :key="reservation.id">
              <td>{{ reservation.reservation_date }}</td>
              <td>{{ reservation.transfusion_date }}</td>
              <td>
                  <div>
                    <strong>
                      <router-link
                        :to="{ path: `/pacientes/${reservation.patient.id}`}">
                        {{ reservation.patient.full_name }}
                      </router-link>
                    </strong>
                  </div>
                  <div>({{ reservation.patient.healthcare.name }})</div>
                </td>
              <td>{{ reservation.GRD }}</td>
              <td>{{ reservation.PF }}</td>
              <td>{{ reservation.platelets }}</td>
              <td>
                <OrderBadge
                  v-if="reservation.order"
                  :key="reservation.order.updated_at"
                  :order="reservation.order" />
              </td>
              <td>
                  <!-- Dropdown -->
                  <b-dropdown size="sm" text="" class="m-2">
                    <b-dropdown-item :to="{ path: `/banco/reservas/${reservation.id}` }">
                      <font-awesome-icon icon="eye" /> Ver Reserva
                    </b-dropdown-item>
                    <b-dropdown-divider />
                    <!-- eslint-disable-next-line max-len -->
                    <b-dropdown-item :to="{ path: `/facturacion/pedidos/nuevo/reserva/${reservation.id}` }"
                        v-if="!reservation.order || !reservation.order.date">
                      <font-awesome-icon icon="plus" /> Agregar Pedido
                    </b-dropdown-item>
                    <b-dropdown-divider
                        v-if="!reservation.order || !reservation.order.date" />
                    <b-dropdown-item @click="authorizeOrder(index)"
                        v-if="reservation.order && reservation.order.date
                            && ['Pendiente', 'Anulado'].includes(reservation.order.status)">
                      <font-awesome-icon icon="check" /> Autorizado
                    </b-dropdown-item>
                    <b-dropdown-divider
                        v-if="reservation.order && reservation.order.date
                            && ['Pendiente', 'Anulado'].includes(reservation.order.status)" />
                    <b-dropdown-item @click="showDeleteModal(reservation.id, index)">
                      <font-awesome-icon icon="trash" /> Borrar
                    </b-dropdown-item>
                  </b-dropdown>
                </td>
            </tr>
          </tbody>
        </table>
      </b-overlay>
    </b-col>
  </b-row>

  <!-- Pagination -->
  <b-row v-if="reservations.length > 0">
    <b-col>
      <b-pagination
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        aria-controls="my-table"
        v-on:input="paginationEventhandler"
      ></b-pagination>
    </b-col>
  </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import ReservationsService from '../services/ReservationsService';

import BaseComponent from './BaseComponent.vue';
import DatePicker from './DatePicker.vue';
import StayingTypesDropDown from './DropDowns/StayingTypesDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import PatientsDropDown from './PatientsDropDown.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import OrderBadge from './OrderBadge.vue';

interface Reservation {
  order: { id: number; status: string; updated_at: string };
  patient: { healthcare: {} };
}

@Component({
  components: {
    DatePicker,
    StayingTypesDropDown,
    EstablishmentsDropDown,
    PatientsDropDown,
    HealthcaresDropDown,
    OrderBadge,
  },
})
export default class ReservationsTab extends BaseComponent {
  private form = {
    page: '1',
    patient: '',
    patientName: '',
  };

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private reservations: Reservation[] = [];

  private showOverlay = false;

  async mounted() {
    if (this.$route.query.paciente) {
      this.showOverlay = true;
      const patient: string = this.$route.query.paciente.toString();

      // Get reservations by patient
      try {
        const response = await ReservationsService.find({ patient });

        if (response) {
          const { data } = response.data;

          // Clear
          this.reservations = [];

          // Paginator
          this.currentPage = 1;
          this.totalRows = data.total;
          this.perPage = data.per_page;

          // Set patient
          if (data.data) {
            this.form.patient = this.$route.query.paciente.toString();
            this.form.patientName = data.data[0].patient.full_name;
          } else {
            // Find patient and set name
          }

          // Set data
          this.reservations = data.data;
        }
      } catch (error) {
        // TODO. Handle error
      }
      this.showOverlay = false;
    }
  }

  private async onSubmit(evt: Event) {
    evt.preventDefault();

    this.showOverlay = true;

    // Call API
    try {
      const response = await ReservationsService.find(this.form);
      // Reset list
      this.reservations = [];

      const { data } = response.data;

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;

      this.reservations = data.data;
    } catch (error) {
      // TODO. Handle error
    }
    this.showOverlay = false;
  }

  private async paginationEventhandler(event: number) {
    this.showOverlay = true;
    this.form.page = event.toString();
    this.currentPage = event;

    try {
      const response = await ReservationsService.find(this.form);

      const { data } = response.data;

      // Reset list
      this.reservations = [];

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
      this.currentPage = event;

      this.reservations = data.data;
    } catch (error) {
      // TODO. Handle error
    }
    this.showOverlay = false;
  }

  // Show delete modal
  private async showDeleteModal(id: number, index: number) {
    const response = await this.showDeleteModalBase(
      'Borrar reserva',
      '¿Esta seguro que desea borrar la reserva?',
      ReservationsService.delete,
      id,
      null,
    );

    if (response) {
      // Remove from array
      this.reservations.splice(index, 1);
    }
  }

  // Authorize order
  private async authorizeOrder(index: number) {
    const { order } = this.reservations[index];
    if (await BaseComponent.changeOrderStatus(order.id, 'Autorizado')) {
      order.status = 'Autorizado';
      // eslint-disable-next-line @typescript-eslint/camelcase
      order.updated_at = new Date().getTime().toString();
      this.successToast('Reserva', 'Reserva autorizada!');
    } else {
      // TODO. Handle error
    }
  }
}
</script>
