<template>
  <b-container class="bv-example-row"
      v-if="reservation && reservation.id !== 0" :key="reservation.updated_at">
    <b-row>
      <b-col>
        <h3>Reserva</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <!-- Authorized -->
        <b-button
            v-if="reservation.order.date
                    && ['Pendiente', 'Anulado'].includes(reservation.order.status)"
            size="sm" variant="success"
            v-on:click="changeOrderStatus('Autorizado')">
          Autorizado
        </b-button> &nbsp;
        <!-- Add new order -->
        <b-button
            :to="{ path: `/facturacion/pedidos/nuevo/consulta/${reservation.id}`}"
            v-if="!reservation.order.date"
            size="sm" variant="light">
          Agregar Nuevo Pedido
        </b-button> &nbsp;
        <!-- Link to existing order -->
        <b-button
            :to="{ path: `/facturacion/pedidos/nuevo/reserva/${reservation.id}`}"
            v-if="!reservation.order.date"
            size="sm" variant="light">
          Asociar con pedido existente
        </b-button> &nbsp;
        <!-- Add payment -->
        <b-button
            v-b-modal.add-payment-modal
            size="sm" variant="light">
          Agregar Pago
        </b-button> &nbsp;

        <!-- Delete -->
        <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
         <!-- Order -->
        <OrderBadge
          :key="`${reservation.id}-${reservation.order.status}`"
          :order="reservation.order" />
      </b-col>
    </b-row>

    <b-row v-if="reservation && reservation.id !== 0">
      <b-col>
        <dl>
          <!-- Patient -->
          <dt>Paciente</dt>
          <dd>{{ reservation.patient.full_name }}</dd>

          <!-- Healthcare -->
          <dt>Obra Social</dt>
          <dd>{{ reservation.patient.healthcare.name }}</dd>

          <!-- Blood type -->
          <dt>Grupo y Factor Paciente</dt>
          <dd>{{ reservation.patient.bloodType }}</dd>
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- Reservation Date -->
          <EditableDtInputText
            inputType="date"
            text="Fecha de Reserva"
            formKey="date"
            :value="reservation.reservation_date"
            :editable="editable.reservation_date"
            v-on:update-value="updateValue($event)" />

          <!-- Staying type -->
          <EditableDtInputText
            inputType="stayingType"
            text="Atencion"
            formKey="staying_type"
            :value="[reservation.staying_type, reservation.room]"
            :editable="editable.staying_type"
            v-on:update-value="updateValue($event)" />

          <!-- Doctor -->
          <EditableDtInputText
            text="Medico"
            formKey="doctor"
            :value="reservation.doctor"
            :editable="editable.doctor"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- Transfusion Date -->
          <EditableDtInputText
            inputType="date"
            text="Fecha de Transfusion"
            formKey="date"
            :value="reservation.transfusion_date"
            :editable="editable.transfusion_date"
            v-on:update-value="updateValue($event)" />

          <!-- Establishment -->
          <EditableDtInputText
            inputType="establishment"
            text="Establecimiento"
            formKey="establishment"
            :value="reservation.establishment"
            :editable="editable.establishment"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

    <!-- Transfusion units -->
    <b-row v-if="reservation && reservation.id !== 0">
      <b-col>
        <dl>
          <EditableDtInputText
            inputType="bloodUnits"
            text="Unidades Solicitadas"
            formKey="transfusionUnits"
            :transfusionUnits="reservation.transfusionUnits"
            :value="reservation.transfusionUnits"
            :editable="editable.transfusionUnits"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

    <hr />

    <!-- Transfusions -->
    <b-row>
      <b-col>
        <h5>Transfusiones</h5>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th rowspan="2">Fecha</th>
              <th colspan="3">Unidades Transfundidas</th>
            </tr>
            <tr>
              <th>GRD</th>
              <th>PF</th>
              <th>Plaquetas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="/banco/transfusiones/68998">04/02/17</a></td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td><a href="/banco/transfusiones/69154">08/02/17</a></td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>

    <!-- Payments -->
    <b-row>
      <b-col>
        <dl>
          <dt>Pagos</dt>
          <dd>
            <PaymentsTable
                :payments="reservation.payments"
                v-on:deleted-payment-id="deletePayment($event)" />
          </dd>
        </dl>
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>
    </b-row>

    <!-- Modals -->
    <AddPaymentModal
        medicalServiceType="reserva"
        :medicalServiceId="reservation.id"
        v-on:added-payment="reservation.payments.push($event)" />

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import ReservationsService from '../services/ReservationsService';

import BaseComponent from './BaseComponent.vue';
import OrderBadge from './OrderBadge.vue';
import AddPaymentModal from './Modals/AddPaymentModal.vue';
import PaymentsTable from './Tables/PaymentsTable.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';

@Component({
  components: {
    OrderBadge,
    AddPaymentModal,
    PaymentsTable,
    EditableDtInputText,
  },
})
export default class Reservation extends BaseComponent {
  private reservation = {
    id: 0,
    order: { date: '' },
    patient: { healthcare: {} },
    transfusionUnits: { GRD: [], PF: [], platelets: [] },
    payments: [],
  };

  private editable = {
    doctor: false,
  };

  async created() {
    // Get ID from path
    const reservationId = parseInt(this.$route.params.reservationId, 10);
    // Get reservation
    const response = await ReservationsService.getById(reservationId);

    if (response) {
      const data = JSON.parse(response.data.data);
      this.reservation = data;
    } else {
      // TODO. Handle error
    }
  }

  private async updateValue(updateBody: {}) {
    try {
      // Update reservation
      const response = await ReservationsService.update(this.reservation.id, updateBody);

      if (response) {
        this.successToast('Reserva', 'Reserva actualizada');
        const key = Object.keys(updateBody)[0];
        this.reservation[key] = updateBody[key];

        // Refresh data
        this.reservation = JSON.parse(response.data.data);
      }
    } catch (error) {
      // TODO. Handle error
    }
  }

  private showDeleteModal() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar la reserva?', {
      title: 'Borrar reserva',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await ReservationsService.delete(this.reservation.id);

          if (response.status === 200) {
            // Go to transfusions
            this.$router.push({
              path: '/banco/transfusiones',
            });
          }
        }
      })
      .catch((error) => {
        // An error occurred
        this.errorToast(error.response.data, error.response.data);
      });
  }

  private async deletePayment(paymentId: number) {
    // Remove payment from array
    this.reservation.payments = this.reservation.payments
      .filter((payment: { id: number }) => payment.id !== paymentId);
  }
}
</script>
