<template>
  <h3 style="text-transform: capitalize;">{{ today }}</h3>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import moment from 'moment';

moment.locale('es');

@Component
export default class TodaysDate extends Vue {
  @Prop() private date!: Date;

  private today!: string;

  created() {
    if (this.date) {
      this.today = moment(this.date).format('dddd DD [de] MMMM [de] YYYY');
    } else {
      this.today = moment().format('dddd DD [de] MMMM [de] YYYY');
    }
  }

  udpated() {
    if (this.date) {
      this.today = moment(this.date).format('dddd DD [de] MMMM [de] YYYY');
    } else {
      this.today = moment().format('dddd DD [de] MMMM [de] YYYY');
    }
  }
}
</script>
