<template>
  <b-container class="bv-example-row">

    <b-row>
      <b-col>
        <router-link to="/banco/transfusiones/nueva">
          <b-button type="submit" variant="primary">Agregar Transfusion</b-button>
        </router-link>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <strong>Buscar transfusiones por:</strong>
      </b-col>
    </b-row>

    <!-- Filters -->
    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Patient -->
          <b-form-group :key="form.patientName"
              id="form-group-patient" label="Paciente" label-for="input-patient">
            <PatientsDropDown
                id="input-patient"
                :defaultValue="form.patientName"
                v-on:select-patient="form.patient = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Period -->
          <b-form-group id="form-group-period" label="Fecha">
            <b-row>
              <b-col>
                <DatePicker
                  placeholder="Desde"
                  v-on:select-date="form.date_from = $event" />
              </b-col>
              <b-col>
                <DatePicker
                  placeholder="Hasta"
                  v-on:select-date="form.date_to = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <!-- Staying Type -->
          <b-form-group
            id="form-group-staying-type" label="Atencion" label-for="input-staying-type">
            <StayingTypesDropDown
              id="input-staying-type"
              v-on:select-staying-type-type="form.staying_type = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Establishment -->
          <b-form-group
            id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
              id="input-establishment"
              :showAll="true"
              v-on:select-establishment-type="form.establishment = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Empty column -->
          &nbsp;
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Buscar</b-button>
        </b-col>
      </b-row>

    </b-form>

    <hr />

    <!-- List of transfusions -->
    <b-row>
    <b-col>
      <b-overlay :show="showOverlay" rounded="sm">
        <table class="table table-bordered table-condensed" :key="currentPage">
          <thead>
              <tr>
                  <th id="th-date" rowspan="2" class="fit">Fecha</th>
                  <th id="th-patient" rowspan="2">Paciente</th>
                  <th id="th-units" colspan="3" class="fit">Unidades Solicitadas</th>
                  <th id="th-order" rowspan="2" class="fit"></th>
                  <th id="th-actions" rowspan="2" class="fit"></th>
              </tr>
              <tr>
                  <th id="th-GRD">GRD</th>
                  <th id="th-PF">PF</th>
                  <th id="th-platelets">Plaquetas</th>
              </tr>
          </thead>
          <tbody v-if="transfusions.length > 0">
            <tr v-for="(transfusion, index) in transfusions" :key="transfusion.id">
              <td>{{ transfusion.date }}</td>
              <td>
                  <div>
                    <strong>
                      <router-link :to="{ path: `/pacientes/${transfusion.patient.id}`}">
                        {{ transfusion.patient.full_name }}
                      </router-link>
                    </strong>
                  </div>
                  <div>({{ transfusion.patient.healthcare.name }})</div>
                </td>
              <td>{{ transfusion.GRD }}</td>
              <td>{{ transfusion.PF }}</td>
              <td>{{ transfusion.platelets }}</td>
              <td>
                <OrderBadge
                  :key="transfusion.order.updated_at"
                  :order="transfusion.order" />
              </td>
              <td>
                  <!-- Dropdown -->
                  <b-dropdown size="sm" text="">
                    <b-dropdown-item :to="{ path: `/banco/transfusiones/${transfusion.id}` }">
                      <font-awesome-icon icon="eye" /> Ver Transfusion
                    </b-dropdown-item>
                    <b-dropdown-divider />
                    <!-- eslint-disable-next-line max-len -->
                    <b-dropdown-item :to="{ path: `/facturacion/pedidos/nuevo/transfusion/${transfusion.id}` }"
                        v-if="!transfusion.order || !transfusion.order.date">
                      <font-awesome-icon icon="plus" /> Agregar Pedido
                    </b-dropdown-item>
                    <b-dropdown-divider
                        v-if="!transfusion.order || !transfusion.order.date" />
                    <b-dropdown-item @click="authorizeOrder(index)"
                        v-if="transfusion.order && transfusion.order.date
                            && ['Pendiente', 'Anulado'].includes(transfusion.order.status)">
                      <font-awesome-icon icon="check" /> Autorizado
                    </b-dropdown-item>
                    <b-dropdown-divider
                        v-if="transfusion.order && transfusion.order.date
                            && ['Pendiente', 'Anulado'].includes(transfusion.order.status)" />
                    <b-dropdown-item @click="showDeleteModal(transfusion.id, index)">
                      <font-awesome-icon icon="trash" /> Borrar
                    </b-dropdown-item>
                  </b-dropdown>
                </td>
            </tr>
          </tbody>
        </table>
      </b-overlay>
    </b-col>
  </b-row>

  <!-- Pagination -->
  <b-row v-if="transfusions.length > 0">
    <b-col>
      <b-pagination
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        aria-controls="my-table"
        v-on:input="paginationEventhandler"
      ></b-pagination>
    </b-col>
  </b-row>

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import TransfusionsService from '../services/TransfusionsService';

import BaseComponent from './BaseComponent.vue';
import DatePicker from './DatePicker.vue';
import StayingTypesDropDown from './DropDowns/StayingTypesDropDown.vue';
import EstablishmentsDropDown from './DropDowns/EstablishmentsDropDown.vue';
import PatientsDropDown from './PatientsDropDown.vue';
import HealthcaresDropDown from './HealthcaresDropDown.vue';
import OrderBadge from './OrderBadge.vue';

interface Transfusion {
  order: { id: number; status: string; updated_at: string };
  patient: { healthcare: {} };
}

@Component({
  components: {
    DatePicker,
    StayingTypesDropDown,
    EstablishmentsDropDown,
    PatientsDropDown,
    HealthcaresDropDown,
    OrderBadge,
  },
})
export default class TransfusionsTab extends BaseComponent {
  private form = {
    page: '1',
    patient: '',
    patientName: '',
  };

  private currentPage = 1;

  private totalRows = 0;

  private perPage = 0;

  private transfusions: Transfusion[] = [];

  private showOverlay = false;

  async mounted() {
    if (this.$route.query.paciente) {
      this.showOverlay = true;
      const patient: string = this.$route.query.paciente.toString();

      // Get tranfusions by patient
      try {
        const response = await TransfusionsService.find({ patient });

        if (response) {
          const { data } = response.data;

          // Clear
          this.transfusions = [];

          // Paginator
          this.currentPage = 1;
          this.totalRows = data.total;
          this.perPage = data.per_page;

          // Set patient
          if (data.data) {
            this.form.patient = this.$route.query.paciente.toString();
            this.form.patientName = data.data[0].patient.full_name;
          } else {
            // Find patient and set name
          }

          // Set data
          this.transfusions = data.data;
        }
      } catch (error) {
        // TODO. Handle error
      }

      this.showOverlay = false;
    }
  }

  private async onSubmit(evt: Event) {
    evt.preventDefault();

    this.showOverlay = true;

    // Call API
    try {
      const response = await TransfusionsService.find(this.form);
      // Reset list
      this.transfusions = [];

      const { data } = response.data;

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;

      this.transfusions = data.data;
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  private async paginationEventhandler(event: number) {
    this.showOverlay = true;
    this.form.page = event.toString();
    this.currentPage = event;

    try {
      const response = await TransfusionsService.find(this.form);

      const { data } = response.data;

      // Reset list
      this.transfusions = [];

      // Paginator
      this.totalRows = data.total;
      this.perPage = data.per_page;
      this.currentPage = event;

      this.transfusions = data.data;
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  // Show delete modal
  private async showDeleteModal(id: number, index: number) {
    const response = await this.showDeleteModalBase(
      'Borrar transfusion',
      '¿Esta seguro que desea borrar la transfusion?',
      TransfusionsService.delete,
      id,
      null,
    );

    if (response) {
      // Remove from array
      this.transfusions.splice(index, 1);
    }
  }

  // Authorize order
  private async authorizeOrder(index: number) {
    const { order } = this.transfusions[index];
    if (await BaseComponent.changeOrderStatus(order.id, 'Autorizado')) {
      order.status = 'Autorizado';
      // eslint-disable-next-line @typescript-eslint/camelcase
      order.updated_at = new Date().getTime().toString();
      this.successToast('Transfusion', 'Transfusion autorizada!');
    } else {
      // TODO. Handle error
    }
  }
}
</script>
