<template>
  <b-container class="bv-example-row"
      v-if="transfusion && transfusion.id !== 0" :key="transfusion.updated_at">
    <b-row>
      <b-col>
        <h3>Transfusion</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <!-- Authorized -->
        <b-button
            v-if="transfusion.order.date
                    && ['Pendiente', 'Anulado'].includes(transfusion.order.status)"
            size="sm" variant="success"
            v-on:click="changeOrderStatus('Autorizado')">
          Autorizado
        </b-button> &nbsp;
        <!-- Add new order -->
        <b-button
            :to="{ path: `/facturacion/pedidos/nuevo/transfusion/${transfusion.id}`}"
            v-if="!transfusion.order.date"
            size="sm" variant="light">
          Agregar Nuevo Pedido
        </b-button> &nbsp;
        <!-- Link to existing order -->
        <b-button
            :to="{ path: `/facturacion/pedidos/nuevo/consulta/${transfusion.id}`}"
            v-if="!transfusion.order.date"
            size="sm" variant="light">
          Asociar con pedido existente
        </b-button> &nbsp;
        <!-- Add payment -->
        <b-button
            v-b-modal.add-payment-modal
            size="sm" variant="light">
          Agregar Pago
        </b-button> &nbsp;

        <!-- Delete -->
        <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
         <!-- Order -->
        <OrderBadge
          :key="`${transfusion.id}-${transfusion.order.status}`"
          :order="transfusion.order" />
      </b-col>
    </b-row>

    <b-row v-if="transfusion && transfusion.id !== 0">
      <b-col>
        <dl>
          <!-- Patient -->
          <dt>Paciente</dt>
          <dd>{{ transfusion.patient.full_name }}</dd>

          <!-- Healthcare -->
          <dt>Obra Social</dt>
          <dd>{{ transfusion.patient.healthcare.name }}</dd>

          <!-- Blood type -->
          <dt>Grupo y Factor Paciente</dt>
          <dd>{{ transfusion.patient.bloodType }}</dd>
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- Date -->
          <EditableDtInputText
            inputType="date"
            text="Fecha"
            formKey="date"
            :value="transfusion.date"
            :editable="editable.date"
            v-on:update-value="updateValue($event)" />

          <!-- Staying type -->
          <EditableDtInputText
            inputType="stayingType"
            text="Atencion"
            formKey="staying_type"
            :value="[transfusion.staying_type, transfusion.room]"
            :editable="editable.staying_type"
            v-on:update-value="updateValue($event)" />

          <!-- Doctor -->
          <EditableDtInputText
            text="Medico"
            formKey="doctor"
            :value="transfusion.doctor"
            :editable="editable.doctor"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>

      <b-col>
        <dl>
          <!-- Clinical history -->
          <EditableDtInputText
            inputType="checkbox"
            text="Historia Clinica"
            formKey="clinical_history"
            :value="transfusion.clinical_history"
            :editable="editable.clinical_history"
            v-on:update-value="updateValue($event)" />

          <!-- Disposable material -->
          <EditableDtInputText
            inputType="checkbox"
            text="Material Descartable"
            formKey="disposable_material"
            :value="transfusion.disposable_material"
            :editable="editable.disposable_material"
            v-on:update-value="updateValue($event)" />

          <!-- Night emergency -->
          <EditableDtInputText
            inputType="checkbox"
            text="Urgencia Nocturna"
            formKey="night_emergency"
            :value="transfusion.night_emergency"
            :editable="editable.night_emergency"
            v-on:update-value="updateValue($event)" />

          <!-- Establishment -->
          <EditableDtInputText
            inputType="establishment"
            text="Establecimiento"
            formKey="establishment"
            :value="transfusion.establishment"
            :editable="editable.establishment"
            v-on:update-value="updateValue($event)" />

          <!-- Reservation -->
          <dt>Reserva</dt>
          <dd>{{ transfusion.reservation || '-' }}</dd>
        </dl>
      </b-col>
    </b-row>

    <hr />

    <!-- Transfusion units -->
    <b-row v-if="transfusion && transfusion.id !== 0">
      <b-col>
        <dl>
          <EditableDtInputText
            inputType="bloodUnits"
            text="Unidades Transfundidas"
            formKey="transfusionUnits"
            :transfusionUnits="transfusion.transfusionUnits"
            :value="transfusion.transfusionUnits"
            :editable="editable.transfusionUnits"
            v-on:update-value="updateValue($event)" />
        </dl>
      </b-col>
    </b-row>

    <hr />

    <!-- Payments -->
    <b-row>
      <b-col>
        <dl>
          <dt>Pagos</dt>
          <dd>
            <PaymentsTable
                :payments="transfusion.payments"
                v-on:deleted-payment-id="deletePayment($event)" />
          </dd>
        </dl>
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>

      <!-- Empty column -->
      <b-col>
        &nbsp;
      </b-col>
    </b-row>

    <!-- Modals -->
    <AddPaymentModal
        medicalServiceType="transfusion"
        :medicalServiceId="transfusion.id"
        v-on:added-payment="transfusion.payments.push($event)" />

  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import TransfusionsService from '../services/TransfusionsService';

import BaseComponent from './BaseComponent.vue';
import OrderBadge from './OrderBadge.vue';
import AddPaymentModal from './Modals/AddPaymentModal.vue';
import PaymentsTable from './Tables/PaymentsTable.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';

@Component({
  components: {
    OrderBadge,
    AddPaymentModal,
    PaymentsTable,
    EditableDtInputText,
  },
})
export default class Transfusion extends BaseComponent {
  private transfusion = {
    id: 0,
    order: { date: '' },
    patient: { healthcare: {} },
    transfusionUnits: { GRD: [], PF: [], platelets: [] },
    payments: [],
  };

  private editable = {
    doctor: false,
    // eslint-disable-next-line @typescript-eslint/camelcase
    clinical_history: false,
  }

  async created() {
    // Get ID from path
    const transfusionId = parseInt(this.$route.params.transfusionId, 10);
    // Get transfusion
    const response = await TransfusionsService.getById(transfusionId);

    if (response) {
      const data = JSON.parse(response.data.data);
      this.transfusion = data;
    } else {
      // TODO. Handle error
    }
  }

  private async updateValue(updateBody: {}) {
    try {
      // Update transfusion
      const response = await TransfusionsService.update(this.transfusion.id, updateBody);

      if (response) {
        this.successToast('Transfusion', 'Transfusion actualizada');
        const key = Object.keys(updateBody)[0];
        this.transfusion[key] = updateBody[key];

        // Refresh data
        this.transfusion = JSON.parse(response.data.data);
      }
    } catch (error) {
      // TODO. Handle error
    }
  }

  private showDeleteModal() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar la transfusion?', {
      title: 'Borrar transfusion',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await TransfusionsService.delete(this.transfusion.id);

          if (response.status === 200) {
            // Go to transfusions
            this.$router.push({
              path: '/banco/transfusiones',
            });
          }
        }
      })
      .catch((err) => {
        // An error occurred
      });
  }

  private async deletePayment(paymentId: number) {
    // Remove payment from array
    this.transfusion.payments = this.transfusion.payments
      .filter((payment: { id: number }) => payment.id !== paymentId);
  }
}
</script>
