<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
          <b-tabs content-class="mt-3" v-model="tabIndex">
            <b-tab id="tab-reservations" title="Reservas">
              <ReservationsTab lazy />
            </b-tab>
            <b-tab id="tab-transfusions" title="Transfusiones">
              <TransfusionsTab lazy />
            </b-tab>
          </b-tabs>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import ReservationsTab from './ReservationsTab.vue';
import TransfusionsTab from './TransfusionsTab.vue';

@Component({
  components: {
    ReservationsTab,
    TransfusionsTab,
  },
})
export default class Transfusions extends Vue {
  private tabIndex = 0;

  created() {
    const currentPath = this.$router.currentRoute.path;
    if (currentPath.includes('reservas')) {
      this.tabIndex = 0;
    } else if (currentPath.includes('transfusiones')) {
      this.tabIndex = 1;
    }
  }

  mounted() {
    // Change active tab
    if (this.$router.currentRoute.path === '/banco/transfusiones') {
      this.tabIndex = 1;
    }
  }

  @Watch('tabIndex')
  tabIndexChanged(value: number) {
    if (value === 0 && this.$router.currentRoute.path !== '/banco/reservas') {
      // Reservations
      this.$router.push({
        path: '/banco/reservas',
      });
    } else if (value === 1 && this.$router.currentRoute.path !== '/banco/transfusiones') {
      // Transfusions
      this.$router.push({
        path: '/banco/transfusiones',
      });
    }
  }

  @Watch('$route')
  routerChaged(value: { path: string }) {
    if (value.path === '/banco/reservas') {
      // Reservations
      this.tabIndex = 0;
    } else if (value.path === '/banco/transfusiones') {
      // Transfusions
      this.tabIndex = 1;
    }
  }
}
</script>
