<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Usuarios</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-button to="/usuarios/nuevo"
          type="submit" variant="primary">Agregar Usuario
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col md="4">
        <b-overlay :show="showOverlay" rounded="sm">
          <table class="table table-condensed table-bordered">
            <caption />
            <thead>
              <th id="th-username">Usuario</th>
            </thead>
            <tbody v-if="users.length > 0">
              <tr v-for="(user) in users" :key="user.id">
                <td>
                  <router-link
                      :to="{ path: `/usuarios/${user.id}` }">
                    {{ user.name }}
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </b-overlay>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import UsersService from '../services/UsersService';

@Component({
  components: { },
})
export default class Users extends Vue {
  private users = [];

  private showOverlay = false;

  async created() {
    // Get all users
    this.showOverlay = true;

    try {
      const response = await UsersService.get();

      if (response) {
        const { data } = response.data;

        this.users = data;
      } else {
        // TODO. Handle error
      }
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }
}
</script>
