<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Usuario</h3>
      </b-col>
    </b-row>

    <!-- Buttons -->
    <b-row>
      <b-col>
        <!-- Delete -->
        <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-overlay :show="showOverlay" rounded="sm">
      <b-row v-if="user.id !== 0" :key="user.updated_at">
        <b-col>
          <!-- Username -->
          <EditableDtInputText
              text="Usuario"
              formKey="name"
              :value="user.name"
              :editable="editable.name"
              v-on:update-value="updateValue($event)" />

          <!-- Password -->
          <EditableDtInputText
              text="Clave"
              formKey="password"
              inputType="password"
              value="********"
              :editable="editable.password"
              v-on:update-value="updateValue($event)" />
        </b-col>
        <b-col>
          <!-- Access -->
          <EditableDtInputText
              text="Permisos"
              formKey="access"
              inputType="access"
              :value="[user.billing_access, user.config_access]"
              :editable="editable.access"
              v-on:update-value="updateValue($event)" />
        </b-col>
      </b-row>
    </b-overlay>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import UsersService from '../services/UsersService';

import BaseComponent from './BaseComponent.vue';
import EditableDtInputText from './Editable/EditableDtInputText.vue';


@Component({
  components: {
    EditableDtInputText,
  },
})
export default class User extends BaseComponent {
  private user = {
    id: 0,
    // eslint-disable-next-line @typescript-eslint/camelcase
    updated_at: '',
  };

  private editable = {
    name: false,
  }

  private showOverlay = false;

  async created() {
    // Get all users
    this.showOverlay = true;

    try {
      // Get ID from path
      const userId = parseInt(this.$route.params.userId, 10);
      const response = await UsersService.getById(userId);

      if (response) {
        const { data } = response.data;

        this.user = data;
      } else {
        // TODO. Handle error
      }
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }

  private async updateValue(updateBody: {}) {
    // Update chemotherapy
    try {
      const response = await UsersService.update(this.user.id, updateBody);

      if (response) {
        this.successToast('Usuario', 'Usuario actualizado');
        const key = Object.keys(updateBody)[0];
        this.user[key] = updateBody[key];

        // Refresh data
        this.user = response.data.data;
      }
    } catch (error) {
      // TODO. Handle error
    }
  }

  private showDeleteModal() {
    this.showDeleteModalBase(
      'Borrar usuario',
      '¿Esta seguro que desea borrar el usuario?',
      UsersService.delete,
      this.user.id,
      '/usuarios',
    );
  }
}
</script>
