<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Juego de Valores</h3>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <!-- Edit -->
        <router-link to="/oncologia/quimioterapias/nueva">
          <b-button type="submit" variant="primary">Modificar</b-button>
        </router-link>

        <!-- Delete -->
        <b-button size="sm" variant="danger" class="float-right" @click="showDeleteModal">
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <!-- Date -->
      <b-col>
        <dl>
          <dt>Fecha</dt>
          <dd>{{ valueSet.date }}</dd>
        </dl>
      </b-col>

      <!-- Healthcare -->
      <b-col>
        <dl>
          <dt>Obra social</dt>
          <dd>{{ valueSet.healthcare.name }}</dd>
        </dl>
      </b-col>

      <!-- Fee -->
      <b-col>
        <dl>
          <dt>Valor Unidad Honorarios</dt>
          <dd>{{ valueSet.fee }}</dd>
        </dl>
      </b-col>

      <!-- Expenses -->
      <b-col>
        <dl>
          <dt>Valor Unidad Gastos</dt>
          <dd>{{ valueSet.expenses }}</dd>
        </dl>
      </b-col>

      <!-- Biochemistry -->
      <b-col>
        <dl>
          <dt>Valor Unidad Bioquimica</dt>
          <dd>{{ valueSet.biochemistry }}</dd>
        </dl>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <h5>Valores Calculados</h5>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-alert show variant="info">
          <font-awesome-icon icon="exclamation-triangle" />
          Estos son los valores finales para cada tipo de unidad.
           Es el resultado de multiplicar la cantidad de unidades definidas
           en el nomenclador por el valor del tipo de unidad definido en el
           juego de valores. Si la practica tiene un valor acordado, el resultado
           anterior se ignora y se utiliza el valor acordado.
           El valor total es la suma de los valores finales de cada tipo de unidad.
        </b-alert>
      </b-col>
    </b-row>

    <!-- List of practices -->
    <b-row>
      <b-col>
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th class="span2" rowspan="2">Codigo</th>
              <th class="span5" rowspan="2">Descripcion</th>
              <th class="span3" colspan="3">Valores</th>
              <th class="span1" rowspan="2">Acuerdo</th>
              <th class="span1" rowspan="2">Total</th>
            </tr>
            <tr>
              <th class="span1">Honorarios</th>
              <th class="span1">Gastos</th>
              <th class="span1">Bioquimica</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(practice) in practices" :key="practice.id">
              <td>{{ practice.code }}</td>
              <td>{{ practice.description }}</td>
              <td>{{ practice.fee }}</td>
              <td>{{ practice.expenses }}</td>
              <td>{{ practice.biochemistry }}</td>
              <td>{{ practice.amount }}</td>
              <td>{{ practice.total }}</td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import moment from 'moment';

import PracticesService from '../services/PracticesService';

import BaseComponent from './BaseComponent.vue';
import DatePicker from './DatePicker.vue';

interface ValueSet {
  id: number;
  healthcare: { id: number; name: string; practices: Practice [] };
  date: string;
  fee: number;
  expenses: number;
  biochemistry: number;
  practices: Practice [];
}

interface Practice {
  code: string;
  description: string;
  amount: string;
  fee: string;
  expenses: string;
  biochemistry: string;
  total: string;
  pivot: { amount: number };
}

@Component({
  components: {
    DatePicker,
  },
})
export default class ValueSetComponent extends BaseComponent {
  private valueSet: ValueSet = {
    id: 0,
    healthcare: { id: 0, name: '', practices: [] },
    date: '',
    fee: 0,
    expenses: 0,
    biochemistry: 0,
    practices: [],
  };

  private moment = moment();

  async created() {
    // Get value set ID
    const valueSetId = this.$route.params.valueSetId.toString();

    // Get healthcare
    const response = await PracticesService.getValueSet(parseInt(valueSetId, 10));

    if (response) {
      const data = JSON.parse(response.data.data);

      this.valueSet = data;
    } else {
      // TODO. Handle error
    }
  }

  get todaysDate(): string {
    return this.moment.format('YYYY-MM-DD');
  }

  get practices() {
    if (this.valueSet && this.valueSet.practices) {
      const practices: Practice[] = [];

      // Get from value set
      this.valueSet.practices.forEach((practice) => {
        const newPractice = {
          ...practice,
          fee: '-',
          expenses: '-',
          biochemistry: '-',
          amount: `$ ${practice.pivot.amount.toString()}`,
          total: `$ ${practice.pivot.amount.toString()}`,
        };

        practices.push(newPractice);
      });

      // Add from healthcare
      this.valueSet.healthcare.practices.forEach((practice) => {
        // Check if practice was in value set
        const inValueSet = practices.find((obj) => obj.code === practice.code);

        if (!inValueSet) {
          const total = parseFloat(practice.fee) * this.valueSet.fee
                        + parseFloat(practice.expenses) * this.valueSet.expenses
                        + parseFloat(practice.biochemistry) * this.valueSet.biochemistry;

          const newPractice = {
            ...practice,
            amount: '-',
            fee: `$ ${(parseFloat(practice.fee) * this.valueSet.fee).toFixed(2)}`,
            expenses: `$ ${(parseFloat(practice.expenses) * this.valueSet.expenses).toFixed(2)}`,
            // eslint-disable-next-line max-len
            biochemistry: `$ ${(parseFloat(practice.biochemistry) * this.valueSet.biochemistry).toFixed(2)}`,
            total: `$ ${total.toFixed(2)}`,
          };

          practices.push(newPractice);
        }
      });

      return practices;
    }

    // No practices
    return [];
  }

  private showDeleteModal() {
    this.showDeleteModalBase(
      'Borrar juego de valores',
      '¿Esta seguro que desea borrar el juego de valores?',
      PracticesService.deleteValueSet,
      this.valueSet.id,
      `/obras_sociales/${this.valueSet.healthcare.id}/valores`,
    );
  }

  private showDeleteModal2() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar la quimioterapia?', {
      title: 'Borrar quimioterapia',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await PracticesService.deleteValueSet(this.valueSet.id);

          if (response.status === 200) {
            // Go to chemotherapies
            this.$router.push({
              path: '/oncologia/quimioterapias',
            });
          }
        }
      })
      .catch((err) => {
        // An error occurred
      });
  }
}
</script>
