<template>
  <div id="app">
    <Header v-if="$store.getters['auth/isLoggedIn']" />
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import HelloWorld from './components/HelloWorld.vue';
import Header from './components/Header.vue';
import ClinicsTabs from './components/ClinicsTabs.vue';
import TodaysDate from './components/TodaysDate.vue';
import ClinicsStats from './components/ClinicsStats.vue';
import AppointmentBooking from './components/AppointmentBooking.vue';
import AppointmentOverBooking from './components/AppointmentOverBooking.vue';

import NewAppointment from './components/NewAppointment.vue';

@Component({
  components: {
    HelloWorld,
    Header,
    ClinicsTabs,
    ClinicsStats,
    TodaysDate,
    AppointmentBooking,
    AppointmentOverBooking,
    NewAppointment,
  },
})
export default class App extends Vue { }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /* font-size: 0.9rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
  /*margin-top: 60px;*/
}

/* Editable */
 dt.editable{
    border-bottom: 1px dashed black;
    padding-bottom: 1px;
    margin-bottom: 5px;
 }
 dt.editable.checkbox{
    padding-left: 0;
 }
dd{
    margin-left: 0;
 }
.editable + dd .input{
    display: none;
}
.editable .actions{
    float: right;
    margin-left: 15px;
}
.editable .actions a{
    text-decoration: none;
    color: black;
}
.editable .actions .save,
.editable .actions .cancel{
    display: none;
}
/* End Editable */
.editable .actions:hover {
  cursor: pointer;
}

tr.authorized {
  background: lightgreen;
}

/* Margin to input fields */
input {
  margin-bottom: 0.5rem !important;
}

/* Billings table
table.billings {
  font-size: 14px;
}
 */

/* Login form */
.form-login {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 10px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/* For printing */
@page {
  size: auto;  margin: 0mm;
}

@media print {
  body {
    size: auto;
    margin: 0mm;
  }

  .button {
    display: none;
  }
}

</style>
