<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <!-- Delete -->
        <b-button v-if="healthcare.id && healthcare.id !== 1"
            size="sm" variant="danger" class="float-right" v-b-modal.delete-healthcare-modal>
          Borrar
        </b-button>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <dl>
          <dt>Nombre</dt>
          <dd>{{ healthcare.name }}</dd>
        </dl>
      </b-col>
    </b-row>

    <!-- Modals -->
    <DeleteHealthcareModal
        v-on:deleted-healthcare="deleteHealthcare()" />

  </b-container>
</template>

<script lang="ts">
import { Component, Prop } from 'vue-property-decorator';

import HealthcaresService from '../../services/HealthcaresService';

import BaseComponent from '../BaseComponent.vue';
import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';
import DeleteHealthcareModal from '../Modals/DeleteHealthcareModal.vue';

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
    DeleteHealthcareModal,
  },
})
export default class HealthCaresTab extends BaseComponent {
  @Prop() private healthcare!: {
    id: number;
  };

  private async deleteHealthcare() {
    const response = await HealthcaresService.delete(this.healthcare.id);

    if (response) {
      this.successToast('Obra Social', 'Obra social borrada');

      this.$router.push({
        path: '/obras_sociales',
      });
    } else {
      // TODO. Handle error
    }
  }
}
</script>
