<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <h3>Nomenclador de practicas de {{ healthcare.name }}</h3>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col>
        <b-alert show variant="warning">
          <font-awesome-icon icon="exclamation-triangle" />
          Los codigos se comparan caracter a caracter.
           Por Ej: 420101 <strong>no es igual</strong> a 42.01.01.
           Esta comparacion se hace para mostrar la descripcion correspondiente
           en el pedido y para calcular el valor en la facturacion.
        </b-alert>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <b-alert show variant="danger">
          <font-awesome-icon icon="exclamation-triangle" />
          Borrar una practica del nomenclador no borra la practica
           de los pedidos ni los valores definidos en los juegos de valores.
           Cualquier pedido que contenga una practica que no esta registrada en
           el nomenclador de la obra social correspondiente figura como "No Registrada"
           y se ignora al momento de facturarla.
        </b-alert>
      </b-col>
    </b-row>

    <!-- Practices table -->
    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <table v-if="practices && practices.length > 0" id="table-practices">
            <tbody>
              <tr>
                <th rowspan="2" width="10%">Codigo</th>
                <th rowspan="2" width="50%">Descripcion</th>
                <th colspan="3" width="30%">Unidades</th>
                <th rowspan="2" width="10%">&nbsp;</th>
              </tr>
              <tr>
                <th>Honorarios</th>
                <th>Gastos</th>
                <th>Bioquimica</th>
              </tr>
              <tr v-for="(practice, index) in practices" :key="practice.id">
                <td>
                  <b-form-input
                    :id="`input-code-${index}`"
                    v-model="practice.code"
                    placeholder="Codigo" />
                </td>
                <td>
                  <b-form-input
                    :id="`input-description-${index}`"
                    v-model="practice.description"
                    placeholder="Descripcion" />
                </td>
                <td>
                  <b-form-input
                    :id="`input-fee-${index}`"
                    v-model="practice.fee"
                    placeholder="Honorarios" />
                </td>
                <td>
                  <b-form-input
                    :id="`input-expenses-${index}`"
                    v-model="practice.expenses"
                    placeholder="Gastos" />
                </td>
                <td>
                  <b-form-input
                    :id="`input-biochemistry-${index}`"
                    v-model="practice.biochemistry"
                    placeholder="Bioquimica" />
                </td>
                <td>
                  <!-- Less -->
                  <b-button
                    v-if="practices.length > 1"
                    :id="`btn-less-${index}`"
                    variant="danger" size="sm"
                    @click="removePractice(index)">
                    <font-awesome-icon icon="minus" size="xs" /> &nbsp;
                  </b-button> &nbsp;
                  <!-- More -->
                  <b-button
                    v-if="index === practices.length - 1"
                    id="btn-more"
                    variant="success" size="sm"
                    @click="addPractice(practice, index)">
                    <font-awesome-icon icon="plus" size="xs" /> &nbsp;
                  </b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </b-col>
      </b-row>

      <hr />

      <b-row>
        <b-col>
          <b-button id="btn-save-practices" type="submit" variant="success">
            Guardar
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import HealthcaresService from '../../services/HealthcaresService';
import PracticesService from '../../services/PracticesService';

import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';

interface Practice {
  id: number;
  code: string;
  description: string;
  fee: number;
  expenses: number;
  biochemistry: number;
}

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class HealthCaresTab extends Vue {
  @Prop() private healthcare!: {
    id: number;
    practices: Practice [];
  };

  get practices(): Practice[] {
    if (this.healthcare && this.healthcare.practices && this.healthcare.practices.length > 0) {
      return this.healthcare.practices;
    }

    // No practices so add empty practice
    this.healthcare.practices = [];
    this.healthcare.practices.push({
      id: 0,
      code: '',
      description: '',
      fee: 0,
      expenses: 0,
      biochemistry: 0,
    });

    return this.healthcare.practices;
  }

  private async onSubmit(evt: Event) {
    evt.preventDefault();

    const response = await PracticesService.updatePractices({
      healthcare: this.healthcare.id,
      practices: this.practices,
    });

    if (response) {
      const data = JSON.parse(response.data.data);

      this.practicesUpdatedToast('Practicas actualizadas');
    } else {
      // TODO. Handle error
    }
  }

  private addPractice(newPractice: Practice, index: number) {
    if (this.practices.length === index + 1) {
      if (newPractice.code.length > 0) {
        this.practices.push({
          id: -this.practices.length,
          code: '',
          description: '',
          fee: 0,
          expenses: 0,
          biochemistry: 0,
        });
      }
    }
  }

  private removePractice(index: number) {
    this.practices.splice(index, 1);
  }

  private showDeleteModal() {
    this.$bvModal.msgBoxConfirm('¿Esta seguro que desea borrar la obra social?', {
      title: 'Borrar obra social',
      size: 'sm',
      buttonSize: 'sm',
      okVariant: 'danger',
      okTitle: 'SI',
      cancelTitle: 'NO',
      footerClass: 'p-2',
      hideHeaderClose: false,
      centered: true,
    })
      .then(async (value) => {
        // Delete patient
        if (value) {
          const response = await HealthcaresService.delete(this.healthcare.id);

          if (response.status === 200) {
            // Go to chemotherapies
            this.$router.push({
              path: '/obras_sociales',
            });
          }
        }
      })
      .catch((err) => {
        // An error occurred
      });
  }

  private practicesUpdatedToast(message: string) {
    this.$bvToast.toast(message, {
      title: 'Nomenclador actualizado',
      variant: 'success',
      solid: true,
    });
  }
}
</script>
