<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col>
        <b-button id="btn-add-value-set"
          :to="`/obras_sociales/${healthcare.id}/valores/nuevo`"
          type="submit" variant="primary">Agregar Juego de Valores</b-button>
      </b-col>
    </b-row>

    <hr />

    <!-- Value set table -->
    <b-row>
      <b-col>
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th class="span2">Fecha</th>
              <th class="span3">Valor Unidad Honorarios</th>
              <th class="span3">Valor Unidad Gastos</th>
              <th class="span3">Valor Unidad Bioquimica</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(valueSet) in valueSets" :key="valueSet.id">
              <td>
                <router-link :to="`/obras_sociales/${healthcare.id}/valores/${valueSet.id}`">
                  {{ valueSet.date }}
                </router-link>
              </td>
              <td>{{ valueSet.fee }}</td>
              <td>{{ valueSet.expenses }}</td>
              <td>{{ valueSet.biochemistry }}</td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import HealthcaresDropDown from '../HealthcaresDropDown.vue';
import DatePicker from '../DatePicker.vue';

interface ValueSet {
  id: number;
  date: string;
  fee: number;
  expenses: number;
  biochemistry: number;
}

@Component({
  components: {
    HealthcaresDropDown,
    DatePicker,
  },
})
export default class HealthCaresTab extends Vue {
  @Prop() private healthcare!: {
    id: number;
    value_sets: ValueSet [];
  };

  get valueSets() {
    if (this.healthcare && this.healthcare.value_sets) {
      return this.healthcare.value_sets;
    }

    return [];
  }
}
</script>
