<template>
  <div>
    <b-form-spinbutton
        :id="'preset-spinbutton-0'"
        v-model="quantity"
        inline
        min="0"
        v-on:input="requestedUnitsUpdated($event, 'GRD')" />
    <div>
      <h6>Unidades Reservadas</h6>
      <ul>
        <li v-for="(unit, index) in units" :key="unit.id">
          <b-row>
            <b-col>
              <b-form-input :id="'input-GRD-' + index"
                  v-model="unit.units"
                  v-on:input="requestedUnitsUpdated($event, 'GRD')" />
            </b-col>
            <b-col>
              <BloodTypesDropDown
                  :id="'select-GRD-' + index"
                  :defaultValue="unit.blood_type"
                  v-model="unit.blood_type"
                  v-on:select-blood-type="requestedUnitsUpdated($event, 'GRD')" />
            </b-col>
          </b-row>
        </li>
      </ul>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';

import BloodTypesDropDown from '../BloodTypesDropDown.vue';

@Component({
  components: { BloodTypesDropDown },
})
export default class BloodUnitSpinner extends Vue {
  @Prop() private defaultValue!: string;

  @Prop() private unitsProp!: { id: number; blood_type: string; units: number }[];

  public quantity = 0;

  private units!: { id: number; blood_type: string; units: number }[];

  created() {
    if (this.unitsProp) {
      this.quantity = this.unitsProp.length;
      this.units = [...this.unitsProp];
    }
  }

  /*
  private get units() {
    return [...this.unitsProp];
  }
  */

  private requestedUnitsUpdated(quantity: number, type: string) {
    if (this.quantity > this.units.length) {
      // Add one
      // eslint-disable-next-line @typescript-eslint/camelcase
      this.units.push({ id: -this.units.length, blood_type: '', units: 0 });
    } else if (this.quantity < this.units.length) {
      // Remove last
      this.units.pop();
    }

    this.$emit('change-blood-units', this.units);
  }

  /*
  created() {
    this.stayingType = this.defaultValue || 'Ambulatorio';

    this.room = this.defaultRoomValue || '';
  }

  @Watch('stayingType')
  onStayingTypeChanged(value: string) {
    this.$emit('select-staying-type', value);
  }

  @Watch('room')
  onRoomChanged(value: string) {
    this.$emit('select-room', value);
  }
  */
}
</script>
