<template>
  <vue-bootstrap-typeahead
        inputClass="typeahead-diagnosis"
        v-model="query"
        :data="diagnosis"
        :serializer="item => `${item.ICD10} - ${item.description}`"
        @hit="$emit('select-diagnosis', $event.id); $emit('select-diagnosis-obj', $event)"
        placeholder="Diagnostico"
        :minMatchingChars=3
    />
</template>

<script lang="ts">
import {
  Component, Vue, Watch,
} from 'vue-property-decorator';

import PatientsService from '../../services/PatientsService';

@Component({ })
export default class DiagnosisDropDown extends Vue {
  private query = '';

  private diagnosis = [];

  @Watch('query')
  async onPropertyChanged(value: string) {
    if (value.length >= 3) {
      const response = await PatientsService.getAutocompleteDiagnosis(value);
      this.diagnosis = response.data.data;
    }
  }
}
</script>
