<template>
  <b-row>
    <b-col>
      <b-form-select id="form-select-establishment-type"
        v-model="entityType"
        :options="entities" />
    </b-col>
    <b-col>
      <b-form-input
        id="input-entity-id"
        v-model="entityId"
        placeholder="ID" />
    </b-col>
  </b-row>
</template>

<script lang="ts">
import {
  Component, Vue, Watch,
} from 'vue-property-decorator';

@Component
export default class EntityDropDown extends Vue {
  private entities: Array<object> = [];

  private entityType: string | null = '';

  private entityId: string | null = '';

  mounted() {
    // Add "All" option
    this.entities.push({ value: null, text: 'Todos' });
    this.entities.push({ value: null, text: '-------------', disabled: true });

    const entityValues = [
      'Paciente',
      'Consulta',
      'Estudio',
      'Reserva',
      'Transfusion',
      'Quimioterapia',
      'Pedido',
      'Periodo',
    ];

    entityValues.forEach((value) => this.entities.push({ value, text: value }));
  }

  @Watch('entityType')
  onEntityTypeChanged() {
    // this.$emit('input', value);
    this.$emit('entity-type', this.entityType);
  }

  @Watch('entityId')
  onEntityIdChanged() {
    this.$emit('entity-id', this.entityId);
  }
}
</script>
