<template>
  <b-form-select id="form-select-establishment-type"
    v-model="establishment"
    :options="establishments">
  </b-form-select>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';

@Component
export default class EstablishmentsDropDown extends Vue {
  @Prop() private defaultValue!: string;

  @Prop() private showAll!: boolean;

  private establishments: Array<object> = [];

  private establishment: string | null = '';

  created() {
    if (this.defaultValue) {
      this.establishment = this.defaultValue;
    } else if (this.defaultValue === null) {
      this.establishment = null;
    }
  }

  /*
  updated() {
    if (this.defaultValue) {
      this.establishment = this.defaultValue;
    }
  }
  */

  mounted() {
    // if (this.defaultValue) {
    //  this.establishment = this.defaultValue;
    // }
    // Add "All" option
    if (this.showAll) {
      this.establishments.push({ value: null, text: 'Todos' });
      this.establishments.push({ value: null, text: '-------------', disabled: true });
    }

    const establishmentValues = ['Alvear', 'Del Valle', 'Pueyrredon'];
    establishmentValues.forEach((value) => this.establishments.push({ value, text: value }));
  }

  @Watch('establishment')
  onPropertyChanged(value: string) {
    this.$emit('select-establishment-type', value);
  }
}
</script>
