<template>
  <vue-bootstrap-typeahead
        v-model="query"
        :data="locations"
        :serializer="item => item.name"
        @hit="$emit('select-location', $event.name)"
        :minMatchingChars=3
    />
</template>

<script lang="ts">
import {
  Component, Vue, Watch,
} from 'vue-property-decorator';

@Component
export default class LocationsDropDown extends Vue {
  private query = '';

  private locations: { id: number; name: string }[] = [];

  private allLocations = [
    { id: 1, name: 'Comodoro Rivadavia, Chubut, Argentina' },
    { id: 2, name: 'Rada Tilly, Chubut, Argentina' },
    { id: 3, name: 'Sarmiento, Chubut, Argentina' },
    { id: 4, name: 'Recoleta, CABA, Argentina' },
  ];

  @Watch('query')
  async onPropertyChanged(value: string) {
    if (value.length >= 3) {
      this.locations = [];
      for (let i = 0; i < this.allLocations.length; i += 1) {
        if (this.allLocations[i].name.toLowerCase().includes(value.toLowerCase())) {
          this.locations.push(this.allLocations[i]);
        }
      }
    }
  }
}
</script>
