<template>
  <div>
    <b-form-select id="form-select-medical-study"
        v-model="medicalStudyId"
        :options="medicalStudies" />

    <b-form-input
        id="input-medical-study-other"
        v-if="medicalStudyId === 0"
        v-model="medicalStudyDescription" placeholder="Estudio" />
  </div>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';

import MedicalStudiesService from '../../services/MedicalStudiesService';

@Component({ })
export default class MedicalStudySelect extends Vue {
  @Prop() private defaultValue!: number;

  @Prop() private medicalStudiesProp!: Array<object>;

  private medicalStudyId = 0;

  private medicalStudyDescription = '';

  private medicalStudies: Array<object> = [];

  async created() {
    if (this.defaultValue) {
      this.medicalStudyId = this.defaultValue;
    }

    // Get list of options
    if (this.medicalStudiesProp) {
      this.medicalStudies = this.medicalStudiesProp;
    } else {
      // Get options
      const response = await MedicalStudiesService.get();

      const data = JSON.parse(response.data.data);

      // Add "Other" option
      this.medicalStudies.push({ value: 0, text: 'Otro...' });
      this.medicalStudies.push({ value: null, text: '-----------------', disabled: true });

      for (let i = 0; i < data.length; i += 1) {
        this.medicalStudies.push({ value: data[i].id, text: data[i].description });
      }
    }
  }

  @Watch('medicalStudyId')
  onMedicalStudyIdChanged(value: number) {
    // eslint-disable-next-line @typescript-eslint/camelcase
    this.$emit('input', { medical_study_id: value });
  }

  @Watch('medicalStudyDescription')
  onMedicalStudyDescriptionChanged(value: string) {
    this.$emit('input', { medicalStudyDescription: value });
  }
}
</script>
