<template>
  <b-form-select id="form-select-staying-type-type" v-model="stayingType"
    :options="stayingTypes">
  </b-form-select>
</template>

<script lang="ts">
import {
  Component, Vue, Watch,
} from 'vue-property-decorator';

@Component
export default class StayingTypesDropDown extends Vue {
  private stayingType = '';

  private stayingTypes: Array<object> = [];

  mounted() {
    // Add "All" option
    this.stayingTypes.push({ value: null, text: 'Todos' });
    this.stayingTypes.push({ value: null, text: '-------------', disabled: true });

    const stayingTypeValues = ['Ambulatorio', 'Internado'];
    stayingTypeValues.forEach((value) => this.stayingTypes.push({ value, text: value }));
  }

  @Watch('stayingType')
  onPropertyChanged(value: string) {
    this.$emit('select-staying-type-type', value);
  }
}
</script>
