<template>
  <div>
    <b-form-group label="">
      <b-form-radio
          id="radio-ambulatorio"
          v-model="stayingType"
          required
          name="stayingType"
          value="Ambulatorio"
          :key="'stayingType' + 1">
        Ambulatorio
      </b-form-radio>
      <b-form-radio
          id="radio-internado"
          v-model="stayingType"
          required
          name="stayingType"
          value="Internado"
          :key="'stayingType' + 2">
        Internado
      </b-form-radio>
    </b-form-group>

    <!-- Room -->
    <b-form-group id="input-group-room" label="Sala" label-for="input-room">
      <b-form-input
        id="input-room"
        v-model="room"
        required
        placeholder="Sala"
        :disabled="stayingType !== 'Internado'" />
    </b-form-group>
  </div>
</template>

<script lang="ts">
import {
  Component, Vue, Prop, Watch,
} from 'vue-property-decorator';

@Component({ })
export default class StayingTypeSelect extends Vue {
  @Prop() private defaultValue!: string;

  @Prop() private defaultRoomValue!: string;

  private stayingType = '';

  private room = '';

  created() {
    this.stayingType = this.defaultValue || 'Ambulatorio';

    this.room = this.defaultRoomValue || '';
  }

  @Watch('stayingType')
  onStayingTypeChanged(value: string) {
    this.$emit('select-staying-type', value);
  }

  @Watch('room')
  onRoomChanged(value: string) {
    this.$emit('select-room', value);
  }
}
</script>
