<template>
  <vue-bootstrap-typeahead
        v-model="query"
        :data="users"
        :serializer="item => item.name"
        @hit="$emit('input', $event.id)"
        :minMatchingChars=3
    />
</template>

<script lang="ts">
import {
  Component, Vue, Watch,
} from 'vue-property-decorator';

import UsersService from '../../services/UsersService';

@Component
export default class UsersDropDown extends Vue {
  private query = '';

  private users: { id: number; name: string }[] = [];

  @Watch('query')
  private async onPropertyChanged(value: string) {
    if (value.length >= 3) {
      const response = await UsersService.getAutocompleteList(value);
      this.users = response.data.data;
    } else if (!value || value === '') {
      this.$emit('input', null);
    }
  }
}
</script>
