<template>
  <b-container class="bv-example-row">
    <!-- Filters -->
    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Empty -->
          &nbsp;
        </b-col>

        <b-col>
          <!-- Empty -->
          &nbsp;
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Cargar</b-button>
        </b-col>
      </b-row>

    </b-form>

    <hr />

    <b-row>
      <b-col>
        <b-overlay :show="showOverlay" rounded="sm">
          <table class="table table-condensed table-bordered">
            <caption />
            <thead>
              <tr>
                <th id="th-code">Codigo</th>
                <th id="th-description">Descripcion</th>
                <th id="th-quantity">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(diagnosis) in report" :key="diagnosis.id">
                <td>{{ diagnosis.ICD10 }}</td>
                <td>{{ diagnosis.description }}</td>
                <td>{{ diagnosis.count }}</td>
              </tr>
            </tbody>
          </table>
        </b-overlay>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import ReportsService from '../../services/ReportsService';

import DatePicker from '../DatePicker.vue';
import StayingTypesDropDown from '../DropDowns/StayingTypesDropDown.vue';
import EstablishmentsDropDown from '../DropDowns/EstablishmentsDropDown.vue';
import HealthcaresDropDown from '../HealthcaresDropDown.vue';

@Component({
  components: {
    DatePicker,
    StayingTypesDropDown,
    EstablishmentsDropDown,
    HealthcaresDropDown,
  },
})
export default class Reports extends Vue {
  private form = { };

  private report = [];

  private showOverlay = false;

  private async onSubmit(evt: Event) {
    evt.preventDefault();
    this.showOverlay = true;

    try {
      const response = await ReportsService.getDiagnosis(this.form);

      if (response) {
        const { data } = response.data;

        this.report = data;
      } else {
        // TODO. Handle error
      }
    } catch (error) {
      // TODO. Handle error
    }

    this.showOverlay = false;
  }
}
</script>
