<template>
  <b-container class="bv-example-row">
    <!-- Filters -->
    <b-form @submit="onSubmit">
      <b-row>
        <b-col>
          <!-- Healthcare -->
          <b-form-group id="form-group-healthcare" label="Obra Social" label-for="input-healthcare">
            <HealthcaresDropDown
              id="input-healthcare"
              v-on:select-healthcare="form.healthcare = $event" />
          </b-form-group>
        </b-col>
        <b-col>
          <!-- Establishment -->
          <b-form-group
            id="form-group-establishment" label="Establecimiento" label-for="input-establishment">
            <EstablishmentsDropDown
              id="input-establishment"
              :showAll="true"
              v-on:select-establishment-type="form.establishment = $event" />
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Period -->
          <b-form-group id="form-group-period" label="Fecha">
            <b-row>
              <b-col>
                <DatePicker
                  placeholder="Desde"
                  v-on:select-date="form.dateFrom = $event" />
              </b-col>
              <b-col>
                <DatePicker
                  placeholder="Hasta"
                  v-on:select-date="form.dateTo = $event" />
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>

        <b-col>
          <!-- Staying Type -->
          <b-form-group
            id="form-group-staying-type" label="Atencion" label-for="input-staying-type">
            <StayingTypesDropDown
              id="input-staying-type"
              v-on:select-staying-type-type="form.staying_type = $event" />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary">Cargar</b-button>
        </b-col>
      </b-row>

    </b-form>

    <hr />

    <b-row>
      <b-col>
        <b-overlay :show="showOverlay" rounded="sm">
          <table class="table table-condensed table-bordered">
            <caption />
            <thead>
              <tr>
                <th id="th-product">Producto</th>
                <th id="th-transfusions">Transfusiones</th>
                <th id="th-units">Unidades</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th id="th-GRD">GRD</th>
                <td>{{ report.transfusions.GRD }}</td>
                <td>{{ report.transfusions.GRD }}</td>
              </tr>
              <tr>
                <th id="th-PF">PF</th>
                <td>{{ report.transfusions.PF }}</td>
                <td>{{ report.transfusions.PF }}</td>
              </tr>
              <tr>
                <th id="th-platelets">Plaquetas</th>
                <td>{{ report.transfusions.platelets }}</td>
                <td>{{ report.transfusions.platelets }}</td>
              </tr>
              <tr>
                <th id="th-total">Total</th>
                <td>{{ report.transfusions.total }}</td>
                <td>{{ report.transfusions.total }}</td>
              </tr>
            </tbody>
          </table>
        </b-overlay>
      </b-col>

      <b-col>
        <b-overlay :show="showOverlay" rounded="sm">
          <table class="table table-bordered table-condensed">
          <caption />
            <tbody>
              <tr>
                <th id="th-orders" class="span2">Pedidos:</th>
                <td class="span2">{{ report.orders.total }}</td>
              </tr>
              <tr>
                <th id="th-pending" class="span2">Pendientes:</th>
                <td class="span2">{{ report.orders.pending }}</td>
              </tr>
              <tr>
                <th id="th-cancelled" class="span2">Anulados:</th>
                <td class="span2">{{ report.orders.cancelled }}</td>
              </tr>
              <tr>
                <th id="th-authorized" class="span2">Autorizados:</th>
                <td class="span2">{{ report.orders.authorized }}</td>
              </tr>
              <tr>
                <th id="th-billed" class="span2">Facturados:</th>
                <td class="span2">{{ report.orders.billed }}</td>
              </tr>
            </tbody>
          </table>
        </b-overlay>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import ReportsService from '../../services/ReportsService';

import DatePicker from '../DatePicker.vue';
import StayingTypesDropDown from '../DropDowns/StayingTypesDropDown.vue';
import EstablishmentsDropDown from '../DropDowns/EstablishmentsDropDown.vue';
import HealthcaresDropDown from '../HealthcaresDropDown.vue';

@Component({
  components: {
    DatePicker,
    StayingTypesDropDown,
    EstablishmentsDropDown,
    HealthcaresDropDown,
  },
})
export default class Reports extends Vue {
  private form = { };

  private report = {
    transfusions: {},
    orders: {},
  };

  private showOverlay = false;

  private async onSubmit(evt: Event) {
    evt.preventDefault();
    this.showOverlay = true;

    try {
      const response = await ReportsService.getTransfusions(this.form);

      if (response) {
        const { data } = response.data;

        this.report = data;
      } else {
        // TODO. Handle error
      }
    } catch (error) {
      // TODO. Handle error
    }
    this.showOverlay = false;
  }
}
</script>
